<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogFile="c:\temp\internal-nlog-AspNetCore.txt"
	keepVariablesOnReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="logTime" value="${date:format=yyyyMMdd_HHmmss:cached=true}" />

	<targets>
		<target name="Intiri" xsi:type="File"
			fileName="${specialfolder:folder=ApplicationData}/Intiri/${logTime}_Intiri.log"
			layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger} - ${message} ${exception:format=tostring}"
			deleteOldFileOnStartup="false" />
		<target name="IntiriAll" xsi:type="File"
			fileName="${specialfolder:folder=ApplicationData}/Intiri/IntiriAll.log"
			layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger} - ${message} ${exception:format=tostring}"
			archiveNumbering="Date"
			archiveEvery="Day" />
		<target xsi:type="ColoredConsole" name="console" />
	</targets>

	<rules>
		<logger name="System.*" finalMinLevel="Information" />
		<logger name="Microsoft.*" finalMinLevel="Information" />
		<logger name="*" minlevel="Trace" writeTo="IntiriAll" />
		<logger name="*" minlevel="Info" writeTo="Intiri" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>