.credit-btn {
  @apply border border-secondary rounded-2xl h-[62px] p-0 px-4 m-0 mt-[30px] text-lg text-black font-medium;
  text-transform: none;
}

.vipps-btn {
  @apply border border-light bg-light rounded-2xl h-[62px] p-0 px-4 pt-1 m-0 mt-[30px] ml-[10px] xl:ml-[30px];
}
