<ion-content>
  <!-- Add partner modal -->
  <div *ngIf="!nextPage && !added && !addedContact" class="items-center flex flex-col h-full w-full">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <h1 class="font-medium text-black-1 text-5xl mt-8 mb-4 text-center">{{'PARTNERS.add' | translate}}</h1>
    <div class="partner-form">
      <form [formGroup]="addPartnerForm" class="d-flex mt-2 md:mt-0" (ngSubmit)="addPartner()" autocomplete="off">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'PARTNERS.partner-name' | translate}}</span>
              <ion-input [(ngModel)]="partner.name" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="name"></ion-input>
              <span class="ion-warning" *ngIf="isFormSubmited && nameErrors?.required">{{'VALIDATION.field' | translate}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <section class="flex">
              <div class="phone-input">
                <span class="text-sm text-black-2">{{'COMMON.phone' | translate}}</span>
                <ion-select class="" interface="popover" [(ngModel)]="partner.countryCode" formControlName="code">
                  <ion-select-option value="45">+45</ion-select-option>
                  <ion-select-option value="46">+46</ion-select-option>
                  <ion-select-option value="47">+47</ion-select-option>
                  <ion-select-option value="381">+381</ion-select-option>
                  <ion-select-option value="382">+382</ion-select-option>
                </ion-select>
              </div>
              <div class="profile-input">
                <span class="text-sm invisible">{{'COMMON.phone' | translate}}</span>
                <ion-input type="text" class="border rounded-2xl h-14 border-black-2" [(ngModel)]="partner.phoneNumber" formControlName="phone"></ion-input>
                <span class="ion-warning" *ngIf="isFormSubmited && phoneErrors?.required">{{'VALIDATION.field' | translate}}</span>
                <span class="ion-warning" *ngIf="isFormSubmited && phoneErrors?.pattern">{{'VALIDATION.phone-format' | translate}}</span>
              </div>
            </section>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'COMMON.email' | translate}}</span>
              <ion-input [(ngModel)]="partner.email" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="email"></ion-input>
              <span class="ion-warning" *ngIf="isFormSubmited && emailErrors?.required">{{'VALIDATION.field' | translate}}</span>
              <span class="ion-warning" *ngIf="isFormSubmited && emailErrors?.pattern">{{'VALIDATION.phone-format' | translate}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'PAYMENT.street' | translate}}</span>
              <ion-input [(ngModel)]="partner.street" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="street"></ion-input>
              <span class="ion-warning" *ngIf="isFormSubmited && streetErrors?.required">{{'VALIDATION.field' | translate}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="flex">
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'PARTNERS.postal-code' | translate}}</span>
              <ion-input [(ngModel)]="partner.postalCode" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="postal"></ion-input>
              <span class="ion-warning" *ngIf="isFormSubmited && postalErrors?.required">{{'VALIDATION.field' | translate}}</span>
            </div>
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'PARTNERS.city' | translate}}</span>
              <ion-input [(ngModel)]="partner.city" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="city"></ion-input>
              <span class="ion-warning" *ngIf="isFormSubmited && cityErrors?.required">{{'VALIDATION.field' | translate}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'PARTNERS.country' | translate}}</span>
              <ion-select [(ngModel)]="partner.country" interface="popover" formControlName="country">
                <ion-select-option value="Norway">Norway</ion-select-option>
              </ion-select>
              <span class="ion-warning" *ngIf="isFormSubmited && countryErrors?.required">{{'VALIDATION.field' | translate}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="profile-input w-fit">
              <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">{{'PARTNERS.partner-logo' | translate}}</p>
              <label for="dropzone-file">
                <div class="w-[200px] border-2 border-dashed rounded-2xl h-[200px] border-black-3 hover:opacity-70 cursor-pointer">
                  <div *ngIf="!imagePath" class="text-center mt-[65px]">
                    <ion-icon class="text-[27px] text-black-3" name="add-outline"></ion-icon>
                    <p class="leading-[22px] font-semibold text-black-3 text-lg">{{'COMMON.upload' | translate}}</p>
                  </div>
                  <img *ngIf="imagePath" [src]="imagePath" class="object-cover rounded-2xl p-2 h-full w-full" alt="partnerLogoImg" />
                </div>
                <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden" formControlName="logo"/>
              </label>
              <span class="ion-warning" *ngIf="isFormSubmited && logoErrors?.required">{{'VALIDATION.field' | translate}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="fixed bottom-0 w-[80%] flex justify-center bg-transparent">
        <ion-row>
          <ion-col class="text-center mt-0">
            <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
            <ion-button fill="clear" class="primary-btn h-[52px]" type="submit">{{'COMMON.add' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </div>
  </div>
   <!-- Add partner contact -->
   <div *ngIf="nextPage" class="justify-center items-center flex flex-col h-full">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <h1 class="font-medium text-black-1 text-5xl mt-16 mb-8 text-center">{{'PARTNERS.add-contact' | translate}}</h1>
    <div class="partner-form">
      <form [formGroup]="addPartnerContactForm" class="d-flex mt-2 md:mt-0" (ngSubmit)="addPartnerContact()" autocomplete="off">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'PARTNERS.contact-firstName' | translate}}</span>
              <ion-input [(ngModel)]="partnerContact.firstName" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="firstName"></ion-input>
              <span class="ion-warning" *ngIf="isFormSubmited && contactFirstNameErrors?.required">Field Required!</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="profile-input">
              <span class="text-sm text-black-2">{{'PARTNERS.contact-lastName' | translate}}</span>
              <ion-input [(ngModel)]="partnerContact.lastName" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="lastName"></ion-input>
              <span class="ion-warning" *ngIf="isFormSubmited && contactLastNameErrors?.required">Field Required!</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <section class="flex">
              <div class="phone-input">
                <span class="text-sm text-black-2">{{'COMMON.phone' | translate}}</span>
                <ion-select class="" interface="popover" [(ngModel)]="partnerContact.countryCode" formControlName="code">
                  <ion-select-option value="45">+45</ion-select-option>
                  <ion-select-option value="46">+46</ion-select-option>
                  <ion-select-option value="47">+47</ion-select-option>
                  <ion-select-option value="381">+381</ion-select-option>
                  <ion-select-option value="382">+382</ion-select-option>
                </ion-select>
              </div>
              <div class="profile-input">
                <span class="text-sm invisible">{{'COMMON.phone' | translate}}</span>
                <ion-input type="text" class="border rounded-2xl h-14 border-black-2" [(ngModel)]="partnerContact.phoneNumber" formControlName="phone"></ion-input>
                <span class="ion-warning" *ngIf="isFormSubmited && contactPhoneErrors?.required">Field Required!</span>
                <span class="ion-warning" *ngIf="isFormSubmited && contactPhoneErrors?.pattern">Invalid Phone Format!</span>
              </div>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="text-center mt-12">
            <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
            <ion-button fill="clear" class="primary-btn h-[52px]" type="submit">{{'COMMON.add' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </div>
  </div>
  <!-- Partner added modal -->
  <div *ngIf="added" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><img class="h-[32px] w-[32px] mx-auto mt-[18px]" src="../../../../assets/icon/success.svg" alt="success"></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">{{'PARTNERS.partner-added' | translate}}</h2>
          <p class="text-center text-base text-[18px] text-black-2">{{'PARTNERS.partner-added-text' | translate}}</p>
        </div>
          <ion-buttons class="justify-center">
            <ion-button class="primary-btn h-[52px] mt-10" (click)="dismissModal()">{{'PARTNERS.go-to' | translate}}</ion-button>
          </ion-buttons>
        </div>
    </div>
  </div>
  <!-- Partner contact added modal -->
  <div *ngIf="addedContact" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><img class="h-[32px] w-[32px] mx-auto mt-[18px]" src="../../../../assets/icon/success.svg" alt="success"></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">{{'PARTNERS.contact-added' | translate}}</h2>
          <p class="text-center text-base text-[18px] text-black-2">{{'PARTNERS.contact-added-text' | translate}}</p>
        </div>
          <ion-buttons class="justify-center">
            <ion-button class="primary-btn h-[52px] mt-10" (click)="dismissContactModal()">{{'PARTNERS.go-to' | translate}}</ion-button>
          </ion-buttons>
        </div>
    </div>
  </div>
</ion-content>
