<ion-content>
  <div id="home">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <app-header-admin></app-header-admin>
    <ion-grid class="main-container">
      <ion-row>
        <ion-col size="12" size-xl="4">
          <h1 class="main-title">{{'DASHBOARD.consultations' | translate}}</h1>
          <p class="text-2xl font-bold text-black-2 mt-8">
            {{'CONSULTATIONS.details' | translate}}
          </p>

          <div class="consultations-input-wrapper">
            <span class="text-sm text-black-2"
              >{{'COMMON.duration' | translate}}</span
            >
            <span class="currency-label"
              >{{'CONSULTATIONS.min' | translate}}</span
            >
            <ion-input
              [(ngModel)]="duration"
              type="number"
              min="1"
              class="consultations-input !pr-[48px]"
            ></ion-input>
          </div>

          <div class="consultations-input-wrapper">
            <span class="text-sm text-black-2"
              >{{'CONSULTATIONS.price' | translate}}</span
            >
            <span class="currency-label">Nok</span>
            <ion-input
              [(ngModel)]="price"
              type="number"
              min="1"
              class="consultations-input !pr-[48px]"
            ></ion-input>
          </div>

          <ion-buttons class="justify-center mt-8">
            <ion-button
              class="primary-btn"
              [class.disabled]="initDuration == duration && initPrice == price"
              (click)="updateConsultationsInfo()"
              >{{'COMMON.save-changes' | translate}}</ion-button
            >
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
