<ion-content>
  <!-- Add style modal -->
  <div *ngIf="add" class="justify-center items-center h-full">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <form [formGroup]="addStyleForm" class="d-flex mt-2 md:mt-0" (ngSubmit)="addStyle()" autocomplete="off">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="font-medium text-black-1 text-5xl mt-9 text-center">{{'STYLE.add-style' | translate}}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="profile-input">
            <span class="text-sm text-black-2">{{'STYLE.style-name' | translate}}</span>
            <ion-input [(ngModel)]="style.name" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="name"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && nameErrors?.required">Field Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="profile-input">
            <span class="text-sm text-black-2">{{'STYLE.description' | translate}}</span>
            <ion-textarea rows="5" [(ngModel)]="style.description" class="border border-black-2 rounded-2xl" formControlName="description"></ion-textarea>
            <span class="ion-warning" *ngIf="isFormSubmited && descriptionErrors?.required">Field Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="profile-input w-fit">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">{{'STYLE.image' | translate}}</p>
            <label for="dropzone-file">
              <div class="w-[200px] border-2 border-dashed rounded-2xl h-[200px] border-black-3 hover:opacity-70 cursor-pointer">
                <div *ngIf="!imagePath" class="text-center mt-[65px]">
                  <ion-icon class="text-[27px] text-black-3" name="add-outline"></ion-icon>
                  <p class="leading-[22px] font-semibold text-black-3 text-lg">{{'COMMON.upload' | translate}}</p>
                </div>
                <img *ngIf="imagePath" [src]="imagePath" class="object-cover rounded-2xl p-2 h-full w-full" alt="styleImg" />
              </div>
              <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden" formControlName="imageFile"/>
            </label>
            <span class="ion-warning" *ngIf="isFormSubmited && imageFileErrors?.required">Image Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center mt-8">
          <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
          <ion-button fill="clear" class="primary-btn h-[52px]" type="submit">{{'COMMON.add' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
  <!-- Style added modal -->
  <div *ngIf="added" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><img class="h-[32px] w-[32px] mt-[7px]" src="../../../../assets/icon/success.svg" alt="success"></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">{{'STYLE.style-added' | translate}}</h2>
          <p class="text-center text-base text-[18px] text-black-2">{{'STYLE.style-added-text' | translate}}</p>
        </div>
        <ion-buttons class="justify-center">
          <ion-button class="primary-btn h-[52px] mt-10" (click)="dismissModal()">{{'STYLE.go-to-styles' | translate}}</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
  <!-- Style delete modal -->
  <div *ngIf="delete" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><ion-icon class="h-[32px] w-[32px] ml-[3px] mt-[7px]" name="trash-outline"></ion-icon></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">Remove style</h2>
          <p class="text-center text-base text-[18px] text-black-2">Are you sure that you want to remove this style? This action cannot be undone.</p>
        </div>
        <ion-buttons class="justify-center">
          <ion-button class="primary-btn h-[52px] mt-10" (click)="deleteStyle()">Remove style</ion-button>
          <ion-button class="secondary-btn h-[52px] mt-10" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
  <!-- Edit Style modal -->
  <div *ngIf="edit" class="justify-center items-center h-full">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <form [formGroup]="editStyleForm" class="d-flex mt-2 md:mt-0" (ngSubmit)="editStyle()" autocomplete="off">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="font-medium text-black-1 text-5xl mt-9 text-center">Edit style</h1> <!-- TODO Translate -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="profile-input">
            <span class="text-sm text-black-2">{{'STYLE.style-name' | translate}}</span>
            <ion-input [(ngModel)]="style.name" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="name"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && editNameErrors?.required">Field Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="profile-input">
            <span class="text-sm text-black-2">{{'STYLE.description' | translate}}</span>
            <ion-textarea rows="5" [(ngModel)]="style.description" class="border border-black-2 rounded-2xl" formControlName="description"></ion-textarea>
            <span class="ion-warning" *ngIf="isFormSubmited && editDescriptionErrors?.required">Field Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="pl-0 md:pl-[100px]">
        <ion-col size="12" sizeMd="6">
          <div class="mt-4 mx-2 px-0 w-fit">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">Current image</p> <!-- TODO Translate -->
            <div class="w-[200px] border-2 border-solid rounded-2xl h-[200px] border-primary">
              <img [src]="item.imagePath" class="object-cover rounded-2xl p-1 h-full w-full" alt="oldImg">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" sizeMd="6">
          <div class="mt-4 mx-2 px-0 w-fit">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">New image</p> <!-- TODO Translate -->
            <label for="dropzone-file">
              <div class="w-[200px] border-2 border-dashed rounded-2xl h-[200px] border-black-3 hover:opacity-70 cursor-pointer">
                <div *ngIf="!imagePath" class="text-center mt-[65px]">
                  <ion-icon class="text-[27px] text-black-3" name="add-outline"></ion-icon>
                  <p class="leading-[22px] font-semibold text-black-3 text-lg">{{'COMMON.upload' | translate}}</p>
                </div>
                <img *ngIf="imagePath" [src]="imagePath" class="object-cover rounded-2xl p-2 h-full w-full" alt="styleImg" />
              </div>
              <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden" formControlName="imageFile"/>
            </label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center mt-8">
          <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
          <ion-button fill="clear" class="primary-btn h-[52px]" type="submit">Save changes</ion-button> <!-- TODO Translate -->
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
</ion-content>
