<div>
  <h2 class="step-title">{{currentStep.title}}</h2>
  <ion-grid *ngIf="isArray(currentStep.data)" class="step-items">
    <ion-row class="step-items-row">
      <ion-col *ngFor="let item of currentStep.data" (click)="toggleItem(item)" size="5.8" size-lg="2.82" size-xl="2.2" class="step-item-wrapper" [class.disabled]="disabledSteps.includes(currentStepNo)" [class.selected-item]="!item.iconPath && !item.mainColor && isItemSelected(item)" [class.bigger-margin]="item.name">
        <!-- if image (style|material|product) -->
        <img *ngIf="item.imagePath" src="{{item.imagePath}}" class="step-image" alt="style-img"/>
         <!-- if icon (room) -->
        <div *ngIf="item.iconPath" class="step-icon-wrapper"  [class.selected-item]="isItemSelected(item)">
          <img src="{{item.iconPath}}" class="step-icon" alt="room-icon"/>
        </div>
        <!-- if color pallete -->
        <div *ngIf="item.mainColor" class="step-color-wrapper" [class.selected-item]="isItemSelected(item)">
          <div class="w-[47.5%] h-full inline-block" [ngStyle]="{background: item.mainColor}"></div>
          <div class="w-[47.5%] h-full inline-block float-right">
            <div class="h-[30%] mb-[6%]" [ngStyle]="{background: item.shadeColorLight}"></div>
            <div class="h-[30%] mb-[6%]" [ngStyle]="{background: item.shadeColorMedium}"></div>
            <div class="h-[30%]" [ngStyle]="{background: item.shadeColorDark}"></div>
          </div>
        </div>
        <p *ngIf="!item.number && item.name" class="font-bold pt-5 text-black-2">{{item.name}} </p>
        <p *ngIf="item.number && item.name" class="font-bold mt-8 text-black-2">{{item.number}} <span class="font-normal">/ {{item.name}}</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- if final step -->
  <div *ngIf="currentStep.data === 'final'">
    <app-moodboard-details [moodboard]="moodboard"></app-moodboard-details>
  </div>

</div>