<ion-content>
  <!-- Add color modal -->
  <div *ngIf="'add'" class="justify-center items-center h-full">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="font-medium text-black-1 text-5xl mt-9 text-center">Add color</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="profile-input">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">Color pallet preview</p>
            <div class="border-2 border-dashed rounded-2xl h-[240px] border-black-3 hover:opacity-70 cursor-pointer">
              <div class="flex justify-center mt-[18px]">
                <div class="card">
                  <div class="w-[47.5%] h-full inline-block" [ngStyle]="{background: colorPallete.mainColor}"></div>
                  <div class="w-[47.5%] h-full inline-block float-right">
                    <div class="h-[30%] mb-[6%]" [ngStyle]="{background: colorPallete.shadeColorLight}"></div>
                    <div class="h-[30%] mb-[6%]" [ngStyle]="{background: colorPallete.shadeColorMedium}"></div>
                    <div class="h-[30%]" [ngStyle]="{background: colorPallete.shadeColorDark}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4 mx-2 flex-1 px-0 sm:px-[100px]">
        <ion-col>
          <div class="pr-2">
            <span class="text-sm text-black-2">Color name</span>
            <ion-input  type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div class="pl-2">
            <span class="text-sm text-black-2">Color number</span>
            <ion-input type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4 mx-2 flex-1 px-0 sm:px-[100px] relative">
        <ion-col>
          <div class="pr-2">
            <span class="text-sm text-black-2">Select main color</span>
            <ion-input disabled [style.background]="colorPallete.mainColor"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.mainColor" type="text"
            class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div class="pl-2">
            <span class="text-sm text-black-2">Shade 1</span>
            <ion-input disabled [style.background]="colorPallete.shadeColorLight"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.shadeColorLight" type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4 mx-2 flex-1 px-0 sm:px-[100px]">
        <ion-col>
          <div class="pr-2">
            <span class="text-sm text-black-2">Shade 2</span>
            <ion-input disabled [style.background]="colorPallete.shadeColorMedium"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.shadeColorMedium" type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div class="pl-2">
            <span class="text-sm text-black-2">Shade 3</span>
            <ion-input disabled [style.background]="colorPallete.shadeColorDark"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.shadeColorDark" type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center mt-8">
          <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">Cancel</ion-button>
          <ion-button fill="clear" class="primary-btn h-[52px]" (click)="addedColor()">Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
   <!-- Color added modal -->
   <div *ngIf="'added'" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><img class="h-[32px] w-[32px] mx-auto mt-[18px]" src="../../../../assets/icon/success.svg" alt="success"></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">Color added!</h2>
          <p class="text-center text-base text-[18px] text-black-2">You successfully added new color.</p>
        </div>
          <ion-buttons class="justify-center">
            <ion-button class="primary-btn h-[52px] mt-10" (click)="dismissModal()">Go to Colors</ion-button>
          </ion-buttons>
        </div>
    </div>
  </div>
</ion-content>
