<ion-content>
  <!-- Add color modal -->
  <div *ngIf="add" class="justify-center items-center h-full">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <form [formGroup]="addColorForm" class="d-flex mt-2 md:mt-0" (ngSubmit)="addColor()" autocomplete="off">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="font-medium text-black-1 text-5xl mt-9 text-center">{{'STYLE.add-color' | translate}}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="profile-input">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">{{'STYLE.color-preview' | translate}}</p>
            <div class="border-2 border-dashed rounded-2xl h-[240px] border-black-3 hover:opacity-70 cursor-pointer">
              <div class="flex justify-center mt-[18px]">
                <div class="card">
                  <div class="w-[47.5%] h-full inline-block" [ngStyle]="{background: colorPallete.mainColor}"></div>
                  <div class="w-[47.5%] h-full inline-block float-right">
                    <div class="h-[30%] mb-[6%]" [ngStyle]="{background: colorPallete.shadeColorLight}"></div>
                    <div class="h-[30%] mb-[6%]" [ngStyle]="{background: colorPallete.shadeColorMedium}"></div>
                    <div class="h-[30%]" [ngStyle]="{background: colorPallete.shadeColorDark}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4 mx-2 flex-1 px-0 sm:px-[100px]">
        <ion-col>
          <div class="pr-2">
            <span class="text-sm text-black-2">{{'STYLE.color-name' | translate}}</span>
            <ion-input [(ngModel)]="colorPallete.name" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="name"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && nameErrors?.required">Field Required!</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="pl-2">
            <span class="text-sm text-black-2">{{'STYLE.color-number' | translate}}</span>
            <ion-input [(ngModel)]="colorPallete.number" type="text" class="border rounded-2xl h-14 border-black-2" formControlName="number"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && numberErrors?.required">Field Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4 mx-2 flex-1 px-0 sm:px-[100px] relative">
        <ion-col>
          <div class="pr-2">
            <span class="text-sm text-black-2">{{'STYLE.select-main-color' | translate}}</span>
            <ion-input [(ngModel)]="colorPallete.mainColor" [disabled]="true" [style.background]="colorPallete.mainColor"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.mainColor" type="text"
            class="border rounded-2xl h-14 border-black-2" formControlName="main"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && mainErrors?.required">Field Required!</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="pl-2">
            <span class="text-sm text-black-2">{{'STYLE.shade' | translate}} 1</span>
            <ion-input [(ngModel)]="colorPallete.shadeColorLight" [disabled]="true" [style.background]="colorPallete.shadeColorLight"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.shadeColorLight" type="text"
            class="border rounded-2xl h-14 border-black-2" formControlName="shadeOne"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && shadeOneErrors?.required">Field Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4 mx-2 flex-1 px-0 sm:px-[100px]">
        <ion-col>
          <div class="pr-2">
            <span class="text-sm text-black-2">{{'STYLE.shade' | translate}} 2</span>
            <ion-input [(ngModel)]="colorPallete.shadeColorMedium" [disabled]="true" [style.background]="colorPallete.shadeColorMedium"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.shadeColorMedium" type="text"
            class="border rounded-2xl h-14 border-black-2" formControlName="shadeTwo"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && shadeTwoErrors?.required">Field Required!</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="pl-2">
            <span class="text-sm text-black-2">{{'STYLE.shade' | translate}} 3</span>
            <ion-input [(ngModel)]="colorPallete.shadeColorDark" [disabled]="true" [style.background]="colorPallete.shadeColorDark"
            [cpPosition]="'top'"
            [(colorPicker)]="colorPallete.shadeColorDark" type="text"
            class="border rounded-2xl h-14 border-black-2" formControlName="shadeThree"></ion-input>
            <span class="ion-warning" *ngIf="isFormSubmited && shadeThreeErrors?.required">Field Required!</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center mt-8">
          <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
          <ion-button fill="clear" class="primary-btn h-[52px]" type="submit">{{'COMMON.add' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
   <!-- Color added modal -->
   <div *ngIf="added" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><img class="h-[32px] w-[32px] mx-auto mt-[18px]" src="../../../../assets/icon/success.svg" alt="success"></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">{{'STYLE.color-added' | translate}}</h2>
          <p class="text-center text-base text-[18px] text-black-2">{{'STYLE.color-added-text' | translate}}</p>
        </div>
          <ion-buttons class="justify-center">
            <ion-button class="primary-btn h-[52px] mt-10" (click)="dismissModal()">{{'STYLE.go-to-colors' | translate}}</ion-button>
          </ion-buttons>
        </div>
    </div>
  </div>
  <!-- Color delete modal -->
  <div *ngIf="delete" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><ion-icon class="h-[32px] w-[32px] ml-[3px] mt-[7px]" name="trash-outline"></ion-icon></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">Remove color</h2>
          <p class="text-center text-base text-[18px] text-black-2">Are you sure that you want to remove this color? This action cannot be undone.</p>
        </div>
        <ion-buttons class="justify-center">
          <ion-button class="primary-btn h-[52px] mt-10" (click)="deleteColor()">Remove color</ion-button>
          <ion-button class="secondary-btn h-[52px] mt-10" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>
