.profile-input {
  @apply mt-4 flex-1 text-left;
}

ion-input {
  @apply h-12;
}

ion-select {
  @apply border rounded-2xl h-12 border-black-2 pr-4;
}

.logo {
  @apply border h-[270px] rounded-2xl border-black-2 min-h-[320px] mb-[30px] overflow-hidden;
}
