<ion-grid>
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="3">
      <div class="profile-input">
        <ion-select interface="popover" placeholder="Search">
          <ion-select-option value="1">Option 1</ion-select-option>
          <ion-select-option value="2">Option 2</ion-select-option>
        </ion-select>
      </div>
    </ion-col>
    <ion-col>
      <ion-buttons class="justify-end mt-4">
        <ion-button class="primary-btn" (click)="addPartner()">Add partner</ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-row class="mt-8 gap-x-[1.65%]">
    <ion-col *ngFor="let i of [1,2,3,4]" size="12" size-sm="5.75" size-xl="2.85">
      <div class="logo">
        <div class="my-6 mx-5 h-[60px] flex flex-1 justify-center">
          <img src="../../../assets/images/skeidar.png" class="object-scale-down" alt="Profile Img" />
        </div>
        <div class="my-4 text-center">
          <div class="px-1">
            <p class="leading-[26px] text-black-2 text-lg">+47 585 56 565</p>
            <p class="leading-[26px] text-black-2 text-lg">gracedel@gmail.com</p>
            <p class="leading-[26px] text-black-2 text-lg">Oslo Volvat Sokedalsvelen 33</p>
          </div>
          <div class="p-4 mt-8 mx-10 bg-light">
            <ul>
              <li *ngFor="let number of [0,1,2,3,4]" class="inline-block">
                <ion-icon name="star" class="text-primary rounded text-xl mr-1"></ion-icon>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>