.white-header {
  @apply bg-white border-b border-slate-100
}

.btn {
  @apply normal-case text-black-1 font-bold hover:text-black-2 mx-1
}

.login-btn {
  @apply hover:opacity-80 bg-primary text-white font-medium normal-case rounded-xl px-4 mx-2 h-10
}

.register-btn {
  @apply hover:opacity-80 bg-transparent text-primary font-medium normal-case rounded-xl border-primary border px-4 mx-2 h-10
}

.header-wrapper {
  @apply container flex items-center py-4 mt-4 sm:mt-12
}

.header-buttons {
  @apply hidden md:flex flex-1 justify-end items-center gap-2
}

ion-header::after {
  border-bottom: none;
  border: 0px;
  border-bottom-color: transparent;
  background-image: none;
}
