<ion-header [class.white-header]="isScrolledDown" class="bg-transparent sticky top-0 z-[100]" >
  <div class="header-wrapper">
    <a routerLink="/landing" routerDirection="root" class="py-1">
      <img src="../../../assets/images/intiri-logo.svg" class="ml-4 sm:ml-0" alt="Intiri"/>
    </a>
      <ion-buttons class="header-buttons">
        <ion-button fill="clear" class="btn" (click)="scrollTo('home')">Home</ion-button>
        <ion-button fill="clear" class="btn" (click)="scrollTo('how-it-works')">How It Works</ion-button>
        <ion-button fill="clear" class="btn" (click)="scrollTo('stories')">Stories</ion-button>
        <ion-button fill="clear" class="btn" (click)="scrollTo('contact')">Contact</ion-button>
        <ion-button fill="clear" class="login-btn" routerLink="/login" routerDirection="root">Login</ion-button>
        <ion-button fill="clear" class="register-btn" routerLink="/register" routerDirection="root">Register</ion-button>
      </ion-buttons>
      <div class="flex md:hidden flex-1 justify-end" id="menu-content">
        <ion-menu-button></ion-menu-button>
      </div>
  </div>
</ion-header>

<ion-menu (ionWillOpen)="menuOpened()" (ionWillClose)="menuClosed()" side="start" content-id="menu-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title><a routerLink="/landing" routerDirection="root" class="py-1">
        <img src="../../../assets/images/intiri-logo.svg" class="ml-4 sm:ml-0" alt="Intiri"/>
      </a></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label class="cursor-pointer" routerLink="/login" >Login</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="cursor-pointer" routerLink="/register" >Register</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


