.white-header {
  @apply bg-white border-b border-slate-100
}

.btn {
  @apply normal-case text-black-1 font-medium hover:text-black-2 mx-1 text-[18px] tracking-tight
}

.header-wrapper {
  @apply container flex items-center py-4 mt-4 sm:mt-12
}

.header-buttons {
  @apply hidden md:flex flex-1 justify-end items-center gap-2
}

ion-header::after {
  border-bottom: none;
  border: 0px;
  border-bottom-color: transparent;
  background-image: none;
}

ion-img {
  width: 60px;
  height: 60px;
}


