<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="4" class="p-12 h-full">
        <div class="w-[470px]">
          <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">
          <ion-button fill="clear" class="login-btn" routerLink="/login" routerDirection="root">
            <ion-icon name="arrow-back" class="w-6 h-6" slot="start"></ion-icon>
            <p>Login</p>
          </ion-button>
          <h1 class="text-5xl font-semibold font-['Fira-Sans'] mt-7">Forgot password?</h1>
          <p class="text-lg font-['Fira-Sans'] black-2">
            Please enter your email address to reset your password.
          </p>
          <div class="font-['Fira-Sans'] mt-8">
            <span class="text-sm black-2">Email</span>
            <ion-input type="email" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
          <div class="flex flex-col justify-center items-center">
            <ion-button fill="clear" class="send-btn">Send</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" class="p-12 h-full flex justify-end">
        <div class="bg-img-01 rounded-2xl bg-cover h-[980px] w-[900px]"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
