<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="4" class="p-12 h-full">
        <div class="w-[470px]">
          <img class="h-7 w-auto" src="../../../assets/images/intiri-logo.svg">
          <ion-button fill="clear" class="login-btn" routerLink="/login" routerDirection="root">
            <ion-icon name="arrow-back" class="w-6 h-6" slot="start"></ion-icon>
            <p>Login {{'COMMON.login' | translate}}</p>
          </ion-button>
          <h1 class="text-5xl font-semibold mt-7">Forgot password?</h1>
          <p class="text-lg black-2">
            Please enter your phone number to reset your password.
          </p>
          <form #loginForm="ngForm" (ngSubmit)="forgotPassword()" autocomplete="off">
          <div class="mt-8">
            <span class="text-sm black-2">{{'COMMON.phone' | translate}}</span>
            <div class="flex justify-between">
              <div>
                <ion-input class="border rounded-2xl border-black-2 h-14 w-32"></ion-input>
              </div>
              <div>
                <ion-input name="phoneNumber" [(ngModel)]="model.phoneNumber" type="tel" class="border rounded-2xl h-14 border-black-2 w-80"></ion-input>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center">
            <ion-button fill="clear" class="send-btn" type="submit">Send</ion-button>
          </div>
          </form>
        </div>
      </ion-col>
      <ion-col size="6" class="p-12 h-full flex justify-end">
        <div class="bg-img-01 rounded-2xl bg-cover h-[980px] w-[900px]"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
