.project-step {
  @apply inline-block xl-ion:block w-[60px] py-[32px]  xl-ion:border-r-0 xl-ion:border-b border-secondary mx-[5%] xl-ion:mx-auto cursor-pointer hover:opacity-80;
}

.disabled {
    @apply pointer-events-none cursor-default
}

.no-border {
  @apply border-0;
}

.project-step-icon {
  @apply w-[30px] h-[30px] mx-auto bg-cover;
}

.project-step-text {
  @apply text-center mt-4 text-primary w-[93px] ml-[-17px];
}
