<div>
  <img [src]="file.url" class="object-cover rounded-2xl max-w-full mx-auto max-h-[90vh]" alt="Inspiration Img" />
  <ion-icon name="cloud-download" class="absolute right-[56px] top-[16px] text-primary text-3xl cursor-pointer hover:opacity-80 bg-[#CFBBA7] px-[1px] pb-[2px] border border-primary rounded-[6px]" (click)="downloadFile()"></ion-icon>
  <ion-icon name="close" class="absolute right-[16px] top-[16px] text-primary text-3xl cursor-pointer hover:opacity-80 bg-[#CFBBA7] p-[1px] border border-primary rounded-[6px]" (click)="dismissModal()"></ion-icon>
</div>