

  <ion-header class="" id="main-content">
    <ion-toolbar class="header-wrapper">
      <ion-buttons slot="start" class="">
        <ion-button slot="start">
          <a routerLink="/my-intiri" routerDirection="root" class="py-1">
            <img src="../../../assets/images/intiri-logo.svg" class="ml-4 sm:ml-0" alt="Intiri"/>
          </a>
        </ion-button>
        <section class="header-buttons">
        <ion-button fill="clear" class="btn" routerLink="/my-intiri" routerDirection="root">My Intiri</ion-button>
        <ion-button fill="clear" class="btn">Book a designer</ion-button>
        </section>
      </ion-buttons>
      <ion-buttons class="header-buttons justify-end">
        <a routerLink="/my-intiri" routerDirection="root" class="py-1">
          <img src="../../../assets/images/landing-img.png" class="header-profile-img" alt="Profile Img"/>
        </a>
        <ion-icon class="header-icon" name="chatbox-ellipses-sharp"></ion-icon>
        <ion-icon class="header-icon" name="settings-sharp"></ion-icon>
        <ion-button fill="clear" class="new-project-btn" routerLink="/login" routerDirection="root">Create new project</ion-button>
      </ion-buttons>
      <ion-buttons slot="end" class="flex xl:hidden flex-1 justify-end" id="menu-content">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu (ionWillOpen)="menuOpened()" (ionWillClose)="menuClosed()" side="start" content-id="menu-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title><a routerLink="/my-intiri" routerDirection="root" class="py-1">
          <img src="../../../assets/images/intiri-logo.svg" class="ml-4 sm:ml-0" alt="Intiri"/>
        </a></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label class="cursor-pointer" routerLink="/my-intiri" >My Intiri</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="cursor-pointer" routerLink="#" >Book a designer</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="cursor-pointer" routerLink="#" >My Profile</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="cursor-pointer" routerLink="#" >Settings</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="cursor-pointer" routerLink="#" >Create new project</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>