.btn {
  @apply tracking-normal normal-case text-black-1 text-[18px] font-medium hover:text-black-2 mx-1;
}

.header-wrapper {
  @apply flex items-center py-4;
}

.header-buttons {
  @apply hidden lg:flex flex-1 items-center gap-2 ml-8;
}

ion-header::after {
  border-bottom: none;
  border: 0px;
  border-bottom-color: transparent;
  background-image: none;
}

.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
