<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <h1 class="main-title">{{(isContactDesigner ? 'CONTACT-DESIGNER.select' : 'MY-INTIRI.book') | translate}}</h1>
      <ion-row class="mt-8 gap-x-[1.65%]">
        <ion-col *ngFor="let d of designers" class="!pb-8" size="12" size-sm="5.75" size-xl="3.86" >
          <div class="designer">
            <ion-grid>
              <ion-row>
                <ion-col size="4.5" class="!p-3 !pr-2">
                  <img [src]="getMoodboardImage(d, 0) || '../../../../assets/images/landing-img.png'" class="h-[120.5px] mac:h-[155px] w-full mb-2 object-cover" alt="moodboard-img"/>
                  <img [src]="getMoodboardImage(d, 1) || '../../../../assets/images/landing-img.png'"  class="h-[120.5px] mac:h-[155px] w-full object-cover" alt="moodboard-img"/>
                </ion-col>
                <ion-col size="7.5" class="!p-3 !pl-0">
                  <div class="h-[30px] w-[55px] bg-[#EFE8DE] flex items-center justify-evenly rounded-md absolute right-[20px] top-[20px] shadow-sm">
                    <ion-icon name="star" class="text-black-1 text-sm"></ion-icon>
                    <p class="text-black-1 text-sm">{{d.designerRating.averageRating}}</p>
                  </div>
                  <img [src]="getMoodboardImage(d, 2) || '../../../../assets/images/landing-img.png'"  class="h-[249px] mac:h-[318px] w-full object-cover" alt="moodboard-img"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="flex items-center justify-between mt-4">
            <div class="flex items-center justify-start">
              <img [src]="d.photoPath ? d.photoPath : '../../../../assets/images/profile-img.png'" class="h-[30px] w-[30px] rounded-md object-cover">
              <p class="text-black-2 text-lg mac:text-2xl font-medium ml-2">{{d.firstName}} {{d.lastName}}</p>
            </div>
            <ion-buttons *ngIf="isContactDesigner" (click)="paymentModal(d)"><ion-button class="primary-btn !bg-none">Choose</ion-button></ion-buttons>
            <ion-buttons *ngIf="!isContactDesigner" routerLink="/designer-profile/{{d.id}}"><ion-button class="primary-btn !bg-none">Choose</ion-button></ion-buttons>
          </div>
          <div>
            <p class="text-base mac:text-lg text-black-3">{{getDesignerType(d)}} / {{d.createdMoodboards.length}} designs / {{languages[d.language]}}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
