<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <h1 class="main-title">{{(isContactDesigner ? 'CONTACT-DESIGNER.select' : 'MY-INTIRI.book-title') | translate}}</h1>
      <ion-row class="mt-8 gap-x-[1.65%]">
        <ion-col *ngFor="let d of designers" class="!pb-8" size="12" size-sm="5.75" size-xl="3.86" >
          <div class="designer">
            <ion-grid>
              <ion-row>
                <ion-col size="4.5" class="!p-3 !pr-2">
                  <img *ngIf="getFeaturedPortfolios(d.id)?.[0]?.imagePath" [src]="getFeaturedPortfolios(d.id)?.[0]?.imagePath" class="h-[120.5px] mac:h-[155px] w-full mb-2 object-fill" alt="moodboard-img"/>
                  <img *ngIf="getFeaturedPortfolios(d.id)?.[1]?.imagePath" [src]="getFeaturedPortfolios(d.id)?.[1]?.imagePath"  class="h-[120.5px] mac:h-[155px] w-full object-fill" alt="moodboard-img"/>
                </ion-col>
                <ion-col size="7.5" class="!p-3 !pl-0">
                  <img *ngIf="getFeaturedPortfolios(d.id)?.[2]?.imagePath" [src]="getFeaturedPortfolios(d.id)?.[2]?.imagePath"  class="h-[249px] mac:h-[318px] w-full object-fill" alt="moodboard-img"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="flex items-center justify-between mt-2">
            <div class="flex items-start justify-start">
              <img [src]="d.photoPath ? d.photoPath : '../../../../assets/images/profile-img.png'" class="h-[60px] w-[54px] rounded-md object-fill">
              <div class="ml-2">
                <p class="text-black-2 text-lg mac:text-2xl font-medium ml-2">{{d.firstName}}</p>
                <div class="info text-base mac:text-2xl font-medium">{{d.city}} {{d.country}} | {{d.designerInfo.openToHomeVist ? ('CONTACT-DESIGNER.home-visit' | translate) : ('CONTACT-DESIGNER.online-consultation' | translate)}} | {{d.designerInfo.position}}</div>
              </div>

            </div>
            <ion-buttons *ngIf="isContactDesigner" (click)="paymentModal(d)"><ion-button class="primary-btn !bg-none">{{'COMMON.choose' | translate}}</ion-button></ion-buttons>
            <ion-buttons *ngIf="!isContactDesigner" routerLink="/designer-portfolio/{{d.id}}"><ion-button class="primary-btn !bg-none">{{'COMMON.choose' | translate}}</ion-button></ion-buttons>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
