<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <h1 class="main-title">Book a designer</h1>
      <div class="mt-[30px] p-2 xl:p-0">
        <span class="text-sm black-2">Sort by</span>
          <ion-select class="border rounded-2xl border-black-2 h-[52px] w-[270px]" interface="popover">
            <ion-select-option>Rating</ion-select-option>
            <ion-select-option>Moodboards</ion-select-option>
          </ion-select>
      </div>
      <ion-row class="mt-8 gap-x-[1.65%]">
        <ion-col *ngFor="let d of designers" class="!pb-8" size="12" size-sm="5.75" size-xl="3.86" >
          <div class="designer">
            <ion-grid>
              <ion-row>
                <ion-col size="4.5" class="!p-3 !pr-2">
                  <img src="../../../../assets/images/landing-img.png" class="h-[113px] lg:h-[155px] w-full mb-2 object-cover" alt="moodboard-img"/>
                  <img src="../../../../assets/images/landing-img.png" class="h-[113px] lg:h-[155px] w-full object-cover" alt="moodboard-img"/>
                </ion-col>
                <ion-col size="7.5" class="!p-3 !pl-0">
                  <img src="../../../../assets/images/landing-img.png" class="h-[235px] lg:h-[318px] w-full object-cover" alt="moodboard-img"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
              <img [src]="d.photoPath ? d.photoPath : '../../../../assets/images/landing-img.png'" class="h-[30px] w-[30px] rounded-md object-cover">
              <p class="text-black-2 text-2xl font-medium ml-2">{{d.firstName}} {{d.lastName}}</p>
              <ion-button fill="clear" class="text-black" (click)="paymentModal(d)">
                <ion-icon name="arrow-forward" class="h-6 w-6 text-black-2"></ion-icon>
              </ion-button>
            </div>
            <div class="h-[30px] w-[55px] bg-secondary flex items-center justify-evenly rounded-md">
              <ion-icon name="star" class="text-light text-sm"></ion-icon>
              <p class="text-light text-sm">0</p>
            </div>
          </div>
          <div>
            <p class="text-lg text-black-3">0 completed designs</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
