<div>
  <div class="flex-header">
    <h2
      class="step-title"
    >
      {{currentStep.title | translate}}
    </h2>
    <div *ngIf="currentStep.title === 'STYLE.select-inspirational-photos'">
      <ion-select class="mr-[20px]" (ionChange)="onProviderFilterChange($event)" interface="popover" [multiple]="true" [placeholder]="'STYLE.provider' | translate">
        <ion-select-option *ngFor="let provider of inspirationalPhotosProviders" value="{{provider}}">
          {{provider}}
        </ion-select-option>
      </ion-select>
    </div>
    <div *ngIf="currentStep.title === 'NEW-PROJECT.select-materials'" class="flex">
      <!-- Type filter -->
      <ion-select class="mr-[20px]" (ionChange)="onTypeFilterChange($event)" interface="popover" [multiple]="true" [placeholder]="'STYLE.type' | translate">
        <ion-select-option *ngFor="let type of types" value="{{type}}">
          {{type}}
        </ion-select-option>
      </ion-select>

      <!-- Partner/Provider filter-->
      <ion-select (ionChange)="onProviderFilterChange($event)" interface="popover" [multiple]="true" [placeholder]="'STYLE.provider' | translate">
        <ion-select-option *ngFor="let provider of providers" value="{{provider}}">
          {{provider}}
        </ion-select-option>
      </ion-select>
    </div>
    <div *ngIf="currentStep.title === 'PARTNERS.select-products'" class="flex">
      <!-- Type filter -->
      <ion-select class="mr-[20px]" (ionChange)="onTypeFilterChange($event)" interface="popover" [multiple]="true" [placeholder]="'STYLE.type' | translate">
        <ion-select-option *ngFor="let type of types" value="{{type.id}}">
          {{type.name}}
        </ion-select-option>
      </ion-select>

      <!-- Partner/Provider filter-->
      <ion-select (ionChange)="onProviderFilterChange($event)" interface="popover" [multiple]="true" [placeholder]="'STYLE.provider' | translate">
        <ion-select-option *ngFor="let provider of providers" value="{{provider}}">
          {{provider}}
        </ion-select-option>
      </ion-select>
    </div>
  </div>
  <p
    *ngIf="currentStep.title === 'NEW-PROJECT.select-materials'"
    class="step-subtitle admin-designer-step-subtitle"
  >
    {{ 'NEW-PROJECT.select-4-materials' | translate }}
  </p>
  <div class="text-center mt-[64px]">
    <div *ngIf="(currentStepNo == 3 || currentStepNo == 5) && !filteredItems.length">{{'COMMON.no-available-data' | translate}}</div>
    <div *ngIf="currentStepNo == 2 && !currentStep.data.length">{{'MOODBOARD-DETAILS.no-inspirational-photos-found' | translate}}</div>
  </div>
  <ion-grid
    *ngIf="isArray(currentStep.data)"
    class="step-items"
    [ngClass]="
      currentStepNo == 3 ? 'mt-[6rem] admin-designer-step-items'
    : 'admin-designer-step-items mt-[4rem]'
  "
  >

    <ion-row *ngIf="currentStepNo == 0" class="step-items-row">
      <ion-col *ngFor="let item of currentStep.data" (click)="toggleItem(item)" size="5.8" size-lg="2.82" size-xl="2.2" class="step-item-wrapper" [class.disabled]="disabledSteps.includes(currentStepNo)" [class.selected-item]="!item.iconPath && !item.mainColor && isItemSelected(item)" [class.bigger-margin]="item.name">
        <!-- if icon (room) -->
       <div *ngIf="item.iconPath" class="step-icon-wrapper"  [class.selected-item]="isItemSelected(item)">
         <img src="{{item.iconPath}}" class="step-icon" alt="room-icon"/>
       </div>

        <p *ngIf="currentStepNo == 0 && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">
          {{ currentLang == 'no' ? item.nameNorwegian : item.name }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentStepNo > 0" class="step-items-row">
      <ion-col *ngFor="let item of filteredItems" (click)="toggleItem(item)" size="5.8" size-lg="2.82" size-xl="2.2" class="step-item-wrapper" [class.disabled]="disabledSteps.includes(currentStepNo)" [class.selected-item]="!item.iconPath && !item.mainColor && isItemSelected(item)" [class.bigger-margin]="true">
        <!-- if image (style|material|product) -->
        <span *ngIf="item.imagePath">
          <img src="{{item.imagePath}}" class="step-image" alt="style-img"/>
          <ion-icon class="absolute top-2 right-2 z-50 text-lg hover:text-2xl text-light drop-shadow-xl" (click)="openImageInModal(item, {url: item.imagePath})" name="expand-outline"></ion-icon>
        </span>
        <!-- if color palette -->
        <div *ngIf="item.mainColor" class="step-color-wrapper" [class.selected-item]="isItemSelected(item)">
          <div class="w-[47.5%] h-full inline-block" [ngStyle]="{'background-image': 'url(' + item.mainColorData.imagePath + ')'}"></div>
          <div class="w-[47.5%] h-full inline-block color-container float-right">
            <div class="h-[30%]" [ngStyle]="{'background-image': 'url(' + item.shadeColorLightData.imagePath + ')'}"></div>
            <div class="h-[30%]" [ngStyle]="{'background-image': 'url(' + item.shadeColorMediumData.imagePath + ')'}"></div>
            <div class="h-[30%]" [ngStyle]="{'background-image': 'url(' + item.shadeColorDarkData.imagePath + ')'}"></div>
          </div>
        </div>

        <p *ngIf="currentStepNo == 0 && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">
          {{ currentLang == 'no' ? item.nameNorwegian : item.name }}
        </p>
        <p *ngIf="currentStepNo == 2" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">
          {{item.styleName}}
        </p>
        <div *ngIf="currentStepNo > 0">
          <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">{{item.name}} </p>
          <p *ngIf="item.number && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1 ml-1">{{item.number}} <span class="font-normal">/ {{item.name}}</span></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- if final step -->
  <div *ngIf="currentStep.data === 'final'">
    <app-moodboard-details [moodboard]="moodboard"></app-moodboard-details>
  </div>

</div>
