.moodboard-img {
  height: 100% !important;
  width: 100% !important;
}

.avatar-img {
  height: 20px !important;
  width: 20px !important;
}

ion-select {
  @apply border rounded-2xl h-12 border-black-2 pr-4;
}

ion-col {
  @apply p-0;
}

.designer {
  @apply border rounded-2xl h-[270px] lg:h-[356px] mb-[10px] overflow-hidden shadow-1;
}

.swiper-slide {
  text-align: left;
  width: 100% !important;
}

.important-fix {
  @apply h-[113px] lg:h-[155px] w-full object-contain #{!important};
}

.important-fix-2 {
  @apply h-[236px] lg:h-[320px] w-full object-contain #{!important};
}
