<ion-content>
  <!-- Add picture modal -->
  <div *ngIf="add" class="justify-center items-center h-full">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <form [formGroup]="addPictureForm" class="d-flex mt-2 md:mt-0" (ngSubmit)="addStyleImage()" autocomplete="off">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="font-medium text-black-1 text-5xl mt-9 text-center">{{'STYLE.add-pictures' | translate}}</h1>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="profile-input">
            <span class="text-sm text-black-2">{{'STYLE.select-style' | translate}}</span>
            <ion-select [(ngModel)]="styleImage.styleId" interface="popover" formControlName="style">
              <ion-select-option *ngFor="let style of (styles$ | async)" value="{{style.id}}">{{style.name}}</ion-select-option>
            </ion-select>
            <span class="ion-warning" *ngIf="isFormSubmited && styleErrors?.required">{{'VALIDATION.field' | translate}}</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="profile-input w-fit">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">{{'STYLE.image' | translate}}</p>
            <label for="dropzone-file">
              <div class="w-[200px] border-2 border-dashed rounded-2xl h-[200px] border-black-3 hover:opacity-70 cursor-pointer">
                <div *ngIf="!imagePath" class="text-center mt-[65px]">
                  <ion-icon class="text-[27px] text-black-3" name="add-outline"></ion-icon>
                  <p class="leading-[22px] font-semibold text-black-3 text-lg">{{'COMMON.upload' | translate}}</p>
                </div>
                <img *ngIf="imagePath" [src]="imagePath" class="object-cover rounded-2xl p-2 h-full w-full" alt="pictureImg" />
              </div>
              <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden" formControlName="imageFile"/>
            </label>
            <span class="ion-warning" *ngIf="isFormSubmited && imageFileErrors?.required">{{'VALIDATION.image' | translate}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center mt-8">
          <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
          <ion-button fill="clear" class="primary-btn h-[52px]" type="submit">{{'COMMON.add' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
   <!-- Picture modal -->
   <div *ngIf="added" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><img class="h-[32px] w-[32px] mx-auto mt-[18px]" src="../../../../assets/icon/success.svg" alt="success"></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">{{'STYLE.picture-added' | translate}}</h2>
          <p class="text-center text-base text-[18px] text-black-2">{{'STYLE.picture-added-text' | translate}}</p>
        </div>
          <ion-buttons class="justify-center">
            <ion-button class="primary-btn h-[52px] mt-10" (click)="dismissModal()">{{'STYLE.go-to-pictures' | translate}}</ion-button>
          </ion-buttons>
        </div>
    </div>
  </div>
  <!-- Picture delete modal -->
  <div *ngIf="delete" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><ion-icon class="h-[32px] w-[32px] ml-[3px] mt-[7px]" name="trash-outline"></ion-icon></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">{{ 'COMMON-MODAL.remove-title' | translate:{ name: ('COMMON-MODAL.picture' | translate) } }}</h2>
          <p class="text-center text-base text-[18px] text-black-2">{{ 'COMMON-MODAL.remove-text' | translate:{ name: ('COMMON-MODAL.picture' | translate) } }}</p>
        </div>
        <ion-buttons class="justify-center">
          <ion-button class="primary-btn h-[52px] mt-10" (click)="deleteStyleImage()">{{ 'COMMON-MODAL.remove-title' | translate:{ name: ('COMMON-MODAL.picture' | translate) } }}</ion-button>
          <ion-button class="secondary-btn h-[52px] mt-10" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
  <!-- Edit picture modal -->
  <div *ngIf="edit" class="justify-center items-center h-full">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <form [formGroup]="editPictureForm" class="d-flex mt-2 md:mt-0" (ngSubmit)="editStyleImage()" autocomplete="off">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="font-medium text-black-1 text-5xl mt-9 text-center">Edit picture</h1> <!-- TODO Translate -->
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="profile-input">
            <span class="text-sm text-black-2">{{'STYLE.select-style' | translate}}</span>
            <ion-select [(ngModel)]="styleImage.styleId" interface="popover" formControlName="style">
              <ion-select-option *ngFor="let style of (styles$ | async)" [value]="style.id">{{style.name}}</ion-select-option>
            </ion-select>
            <span class="ion-warning" *ngIf="isFormSubmited && editStyleErrors?.required">{{'VALIDATION.field' | translate}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="pl-0 md:pl-[100px]">
        <ion-col size="12" sizeMd="6">
          <div class="mt-4 mx-2 px-0 w-fit">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">{{'COMMON-MODAL.current-picture' | translate}}</p>
            <div class="w-[200px] border-2 border-solid rounded-2xl h-[200px] border-primary">
              <img [src]="item.imagePath" class="object-cover rounded-2xl p-1 h-full w-full" alt="oldImg">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" sizeMd="6">
          <div class="mt-4 mx-2 px-0 w-fit">
            <p class="leading-[22px] mb-2 font-semibold text-black-1 text-lg">{{'COMMON-MODAL.new-picture' | translate}}</p>
            <label for="dropzone-file">
              <div class="w-[200px] border-2 border-dashed rounded-2xl h-[200px] border-black-3 hover:opacity-70 cursor-pointer">
                <div *ngIf="!imagePath" class="text-center mt-[65px]">
                  <ion-icon class="text-[27px] text-black-3" name="add-outline"></ion-icon>
                  <p class="leading-[22px] font-semibold text-black-3 text-lg">{{'COMMON.upload' | translate}}</p>
                </div>
                <img *ngIf="imagePath" [src]="imagePath" class="object-cover rounded-2xl p-2 h-full w-full" alt="styleImg" />
              </div>
              <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden" formControlName="imageFile"/>
            </label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center mt-8">
          <ion-button fill="clear" class="secondary-btn h-[52px]" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
          <ion-button fill="clear" class="primary-btn h-[52px]" type="submit">{{'COMMON.save' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
</ion-content>
