.btn {
  @apply text-black normal-case text-lg px-0;
}

.active-btn {
  @apply text-primary;
}

.avatar-img {
  height: 70px !important;
  width: 70px !important;
  border-radius: 15px;
}

.moodboard-img {
  height: 100% !important;
  width: 100% !important;
}

.client {
  @apply border rounded-2xl h-[330px] mb-[30px] overflow-hidden shadow-1;
}
