<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <h1 class="main-title">{{'BOOK-DESIGNER-PROFILE.profile' | translate}}</h1>
      <div class="mt-[30px]">
        <ion-row>
          <ion-col size="12" size-md="4" class="p-0">
            <div class="p-2 mac:p-0">
              <div class="bg-light rounded-2xl flex flex-col items-center">
                <img [src]="designer.photoPath || '../../../../assets/images/profile-img.png'" class="w-[240px] h-[240px] rounded-full mt-[65px]">
                <div class="w-[144px] h-[30px] bg-secondary rounded-[5px] flex items-center justify-center mt-[30px]">
                  <p class="text-white text-sm">{{getDesignerType() | uppercase}}</p>
                </div>
                <p class="text-2xl text-black-2 font-medium mt-[15px]">{{designer.firstName}} {{designer.lastName}}</p>
                <p class="text-lg text-black-3">{{designer.createdMoodboards.length}} {{'BOOK-DESIGNER-PROFILE.projects' | translate}}</p>
                <p class="text-lg text-black-2 px-[30px] xl:px-[60px] mt-[30px]">
                  {{(showMore) ? designerText : designerText | slice:0:200}} <span *ngIf="!showMore">...</span> 
                  <a href="javascript:;" *ngIf="!showMore" (click)="showMore=true">Show More</a>
                  <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget neque vel libero tristique dictum. Suspendisse at justo dui. Maecenas congue vel leo ac feugiat. -->
                  <br>
                  <br>
                  <!-- Aliquam id elementum elit, pulvinar pretium turpis. Morbi lobortis lacinia gravida. In sed tortor mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed dolor mauris. -->
                </p>
                <div class="flex flex-col items-start w-full px-[30px] xl:px-[60px]">
                  <p class="text-primary text-lg mt-[20px]">{{'DESIGNER-PROFILE.languages' | translate}}</p>
                  <p class="text-black-2 text-lg">{{languages[designer.language]}}</p>
                </div>
                <ion-button fill="clear" class="primary-btn mb-[60px] mt-[30px]" (click)="bookConsultationModal()">Book consultation</ion-button>
              </div>
            </div>
          </ion-col>
          <ion-col *ngIf="designer.createdMoodboards.length > 0" size="12" size-md="8" class="p-2 xl:p-0 xl:pl-5">
            <p class="text-2xl text-black-2 font-medium">{{'MY-INTIRI.latest-project' | translate}}</p>
            <ion-card class="border shadow-1 rounded-2xl w-full xl:w-[866px] h-[410px] m-0 mt-7 p-4">
              <div class="result-grid">
                <div class="item-sm" [ngStyle]="{background: designer.createdMoodboards[designer.createdMoodboards.length-1].colorPalettes[0].shadeColorLight}"></div>
                <div class="item-lg" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].products[0].imagePath) + ')'}"></div>
                <div class="item-lg" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].products[1].imagePath) + ')'}"></div>
                <div class="item-lg-tall" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].style.styleImages[0].imagePath) + ')'}"></div>
                <div class="item-sm" [ngStyle]="{background: designer.createdMoodboards[designer.createdMoodboards.length-1].colorPalettes[0].shadeColorMedium}"></div>
                <div class="item-sm" [ngStyle]="{background: designer.createdMoodboards[designer.createdMoodboards.length-1].colorPalettes[0].shadeColorDark}"></div>
                <div class="item-sm-tall" [ngStyle]="{background: designer.createdMoodboards[designer.createdMoodboards.length-1].colorPalettes[designer.createdMoodboards[designer.createdMoodboards.length-1].colorPalettes.length-1].mainColor}"></div>
                <div class="item-lg" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].style.styleImages[1].imagePath) + ')'}"></div>
                <div class="item-md" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].materials[0].imagePath) + ')'}"></div>
                <div class="item-md" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].materials[1].imagePath) + ')'}"></div>
                <div class="item-md" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].materials[2].imagePath) + ')'}"></div>
                <div class="item-md" [ngStyle]="{background: 'url(' + normalizeSlashes(designer.createdMoodboards[designer.createdMoodboards.length-1].materials[3].imagePath) + ')'}"></div>
              </div>
            </ion-card>
            <div class="flex items-center justify-start">
              <p class="text-black-2 text-2xl font-medium mt-2">{{designer.createdMoodboards[designer.createdMoodboards.length-1].style.name}}</p>
            </div>
            <div>
              <p class="text-black-3 text-lg">{{getPiecesNo(designer.createdMoodboards[designer.createdMoodboards.length-1])}} pieces / {{designer.createdMoodboards[designer.createdMoodboards.length-1].created | timeAgo }}</p>
            </div>
            <div class="mt-16">
              <p class="text-2xl font-medium text-black-2">{{'DESIGNER-PROFILE.other' | translate}}</p>
              <ion-row class="mt-8 gap-x-[1.65%]">
                <ion-col *ngFor="let mb of designer.createdMoodboards" class="!pb-8" size="12" size-sm="5.75" size-xl="5.8" >
                  <div class="designer">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="4.5" class="!p-3 !pr-2">
                          <img [src]="getMoodboardImage(mb, 0) || '../../../../assets/images/landing-img.png'" class="h-[113px] lg:h-[155px] w-full mb-2 object-cover" alt="moodboard-img"/>
                          <img [src]="getMoodboardImage(mb, 1) || '../../../../assets/images/landing-img.png'" class="h-[113px] lg:h-[155px] w-full object-cover" alt="moodboard-img"/>
                        </ion-col>
                        <ion-col size="7.5" class="!p-3 !pl-0">
                          <img [src]="getMoodboardImage(mb, 2) || '../../../../assets/images/landing-img.png'" class="h-[235px] lg:h-[318px] w-full object-cover" alt="moodboard-img"/>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div class="flex items-center justify-between">
                    <div class="flex items-center justify-start">
                      <p class="text-black-2 text-2xl font-medium">{{mb.style.name}}</p>
                    </div>
                  </div>
                  <div>
                    <p class="text-black-3 text-lg">{{getPiecesNo(mb)}} pieces / {{designer.createdMoodboards[designer.createdMoodboards.length-1].created | timeAgo }}</p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </div>

    </div>
  </div>
</ion-content>
