<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="2xl:container">
      <p class="text-[45px] font-medium mt-16 p-2 xl:p-0">Designer profile</p>
      <div class="mt-[30px]">
        <ion-row>
          <ion-col size="12" size-xl="4" class="p-0">
            <div class="p-2 xl:p-0">
              <div class="bg-light rounded-2xl flex flex-col items-center">
                <img src="../../../../assets/images/profile-img.png" class="w-[240px] h-[240px] rounded-full mt-[65px]">
                <div class="w-[144px] h-[30px] bg-secondary rounded-[5px] flex items-center justify-center mt-[30px]">
                  <p class="text-white text-sm">INHOUSE DESIGNER</p>
                </div>
                <p class="text-2xl text-black-2 font-medium mt-[15px]">Diana Haliwell</p>
                <p class="text-lg text-black-3">16 projects</p>
                <p class="text-lg text-black-2 px-[30px] xl:px-[60px] mt-[30px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget neque vel libero tristique dictum. Suspendisse at justo dui. Maecenas congue vel leo ac feugiat.
                  <br>
                  <br>
                  Aliquam id elementum elit, pulvinar pretium turpis. Morbi lobortis lacinia gravida. In sed tortor mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed dolor mauris.
                </p>
                <div class="flex flex-col items-start w-full px-[30px] xl:px-[60px]">
                  <p class="text-primary text-lg mt-[20px]">LANGUAGES</p>
                  <p class="text-black-2 text-lg">English, Norwegian</p>
                </div>
                <ion-button fill="clear" class="book-btn" (click)="bookConsultationModal()">Book consultation</ion-button>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-xl="8" class="p-2 xl:p-0 xl:pl-5">
            <p class="text-2xl text-black-2 font-medium">Latest project</p>
            <div class="mt-[20px] xl:mt-[30px]">
              <div class="border border-black rounded-2xl w-full xl:w-[765px] h-[410px] p-4 mb-2">
                <img src="../../../../assets/images/landing-img.png" class="w-full h-full">
              </div>
            </div>
            <div class="flex items-center justify-start">
              <p class="text-black-2 text-2xl font-medium">Skandinavian Warm</p>
              <ion-button fill="clear" class="text-black" routerLink="/project-details" routerDirection="root">
                <ion-icon name="arrow-forward" class="h-6 w-6 text-black-2"></ion-icon>
              </ion-button>
            </div>
            <div>
              <p class="text-black-3 text-lg">20 pieces / 1w ago</p>
            </div>
            <div class="mt-16">
              <p class="text-2xl font-medium text-black-2">Other projects</p>
              <div class="flex flex-wrap justify-between w-full xl:w-[765px]">
                <div *ngFor="let project of projects">
                  <ion-card class="w-full xl:w-[370px] h-[350px] border rounded-2xl border-black m-0 mt-5 mb-2 shadow-none p-4">
                    <img src={{project.image}} class="w-full h-full">
                  </ion-card>
                  <div class="flex items-center justify-start">
                    <p class="text-black-2 text-2xl font-medium">{{project.projectName}}</p>
                    <ion-button fill="clear" class="text-black" routerLink="/project-details" routerDirection="root">
                      <ion-icon name="arrow-forward" class="h-6 w-6 text-black-2"></ion-icon>
                    </ion-button>
                  </div>
                  <div>
                    <p class="text-black-3 text-lg">{{project.moodboard}} moodboard / {{project.pieces}} pieces / {{project.updated}} ago</p>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>

    </div>
  </div>
</ion-content>
