<ion-header id="main-content">
    <ion-toolbar class="header-wrapper header-container">
      <ion-buttons slot="start">
        <ion-button slot="start">
          <a routerLink="/my-intiri" routerDirection="root" class="py-1">
            <img src="../../../assets/images/intiri-logo.svg" class="ml-4 sm:ml-0" alt="Intiri"/>
          </a>
        </ion-button>
        <section class="header-buttons">
          <ion-button *ngFor="let item of menuItems"  routerLink="{{item.url}}" routerDirection="root" fill="clear" class="btn" [class.!text-primary]="isActiveRoute(item.url)">{{item.title}}</ion-button>
        </section>
      </ion-buttons>
      <ion-buttons class="header-buttons justify-end">
        <a routerLink="/partner/profile" routerDirection="root" class="py-1">
          <img [title]="(loggedUser$ | async)?.fullName" [src]="(loggedUser$ | async)?.photoPath ? (loggedUser$ | async)?.photoPath : '../../../assets/images/profile-img.png'" alt="Profile Img"/>
        </a>
        <div title="Settings" (click)="showSettings($event)" class="cursor-pointer hover:opacity-80 relative top-[4px]"><ion-icon class="header-icon"  name="settings-sharp"></ion-icon></div>
      </ion-buttons>
      <ion-buttons slot="end" class="flex xl:hidden flex-1 justify-end" id="menu-content">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Mobile Menu -->
<ion-menu (ionWillOpen)="menuOpened()" (ionWillClose)="menuClosed()" side="start" content-id="menu-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title><a routerLink="/my-intiri" routerDirection="root" class="py-1">
        <img src="../../../assets/images/intiri-logo.svg" class="ml-4 sm:ml-0" alt="Intiri"/>
      </a></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of menuItems">
        <ion-label class="cursor-pointer" routerLink="{{item.url}}" routerDirection="root">{{item.title}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="cursor-pointer" routerLink="/profile" routerDirection="root">{{'COMMON.my-profile' | translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="cursor-pointer">{{'COMMON.settings' | translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="cursor-pointer" routerLink="/new-project" routerDirection="root">{{'COMMON.create' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
