.btn {
  @apply tracking-normal normal-case text-black-1 text-[18px] font-medium hover:text-black-2 mx-1;
}

.header-wrapper {
  @apply flex items-center py-4 ;
}

.header-buttons {
  @apply hidden xl:flex flex-1 items-center gap-2 ml-8;
}


ion-popover {
  --backdrop-opacity: 0;
  --offset-y: 10px;
}

ion-header::after {
  border-bottom: none;
  border: 0px;
  border-bottom-color: transparent;
  background-image: none;
}