<ion-grid class="px-0 m">
  <ion-row class="mt-2">
    <ion-col size="6" size-xl="3">
      <div class="profile-input">
        <div class="mt-6">
          <ion-input type="text" class="border rounded-2xl border-black-2 h-12" placeholder="Search" [(ngModel)]="searchText"></ion-input>
        </div>
      </div>
    </ion-col>
    <ion-col size="6" offset-xl="6.5" size-xl="2.5" class="flex justify-end">
      <ion-button (click)="addPicture()" fill="clear" class="primary-btn mt-4">Add pictures</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="gap-x-[1.45%]">
    <ion-col *ngFor="let styleImage of (styleImages$ | async) | filter:searchText" size="12" size-sm="5.75" size-xl="1.85">
      <div class="card">
        <div class="h-full w-full">
          <img src="{{styleImage.imagePath}}" class="object-cover !h-full !w-full rounded-2xl" alt="Picture Img" />
        </div>
      </div>
      <div class="flex justify-between">
        <p class="py-2 text-black-2 font-semibold">{{styleImage.styleName}}</p>
        <div class="float-right">
          <button (click)="showSettings($event, styleImage)" id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex py-2 text-black-1 text-sm font-medium text-center bg-white rounded-lg" type="button">
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
          </button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>