<ion-content
[scrollEvents]="true"
(ionScroll)="logScrollEnd()">
  <div id="main">
    <div>
      <app-header-landing [isScrolledDown]="isScrolledDown"></app-header-landing>
      <div class="hero-wrapper">

        <!-- Hero Text -->
        <div class="container relative" id="home" style="scroll-margin-top: 50px;">
          <div class="hero-text-wrapper">
            <p class="hero-pencraft">{{'LANDING.welcome' | translate}}</p>
            <p class="hero-text">{{'LANDING.ideas-get' | translate}} <span class="text-primary">{{'LANDING.ideas' | translate}}</span> {{'LANDING.ideas-content' | translate}}</p>
            <ion-button fill="clear"class="primary-btn large mt-[30px]" routerLink="/new-project" routerDirection="root">{{'LANDING.find' | translate}}</ion-button>
          </div>
        </div>
      </div>

      <!-- Text 1 -->
      <ion-grid id="how-it-works" style="scroll-margin-top: 50px;">
        <ion-row class="container">
          <ion-col size="12" size-sm>
            <img class="landing-img" src="../../../assets/images/landing-img-02.png" alt="">
          </ion-col>
          <ion-col size="12" size-sm class="pt-32 pl-11">
            <img src="../../../assets/images/01.png" alt="">
            <p class="pencraft">{{'LANDING.how-it-works' | translate}}</p>
            <p class="landing-headline">Headline</p>
            <p class="landing-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget neque vel libero tristique dictum. Suspendisse at justo dui.<br>Maecenas congue vel leo ac feugiat.</p>
            <p class="landing-text mt-8">Aliquam id elementum elit, pulvinar pretium turpis. Morbi lobortis lacinia gravida. In sed tortor mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed dolor mauris.</p>
            <ion-button fill="clear" class="primary-btn large mt-[30px]" routerLink="/new-project" routerDirection="root">{{'LANDING.find' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Text 2 -->
      <ion-grid>
        <ion-row class="container flex-col-reverse xs:flex-row ">
          <ion-col size="12" size-sm  class="pt-32 pr-11 pl-11 md:pl-0">
            <img src="../../../assets/images/02.png" alt="">
            <p class="pencraft">{{'LANDING.how-it-works' | translate}}</p>
            <p class="landing-headline">Headline</p>
            <p class="landing-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget neque vel libero tristique dictum. Suspendisse at justo dui.<br>Maecenas congue vel leo ac feugiat.</p>
            <p class="landing-text mt-8">Aliquam id elementum elit, pulvinar pretium turpis. Morbi lobortis lacinia gravida. In sed tortor mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed dolor mauris.</p>
            <ion-button fill="clear" class="primary-btn large mt-[30px]" routerLink="/new-project" routerDirection="root">{{'LANDING.find' | translate}}</ion-button>
          </ion-col>
          <ion-col size="12" size-sm>
            <img class="landing-img" src="../../../assets/images/landing-img-02.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>


      <!-- Text 3 -->
      <ion-grid class="mb-12">
        <ion-row class="container">
          <ion-col size="12" size-sm>
            <img class="landing-img" src="../../../assets/images/landing-img-02.png" alt="">
          </ion-col>
          <ion-col size="12" size-sm class="pt-32 pl-11">
            <img src="../../../assets/images/03.png" alt="">
            <p class="pencraft">{{'LANDING.how-it-works' | translate}}</p>
            <p class="landing-headline">Headline</p>
            <p class="landing-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget neque vel libero tristique dictum. Suspendisse at justo dui.<br>Maecenas congue vel leo ac feugiat.</p>
            <p class="landing-text mt-8">Aliquam id elementum elit, pulvinar pretium turpis. Morbi lobortis lacinia gravida. In sed tortor mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed dolor mauris.</p>
            <ion-button fill="clear" class="primary-btn large mt-[30px]" routerLink="/new-project" routerDirection="root">{{'LANDING.find' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Stories / Testimonials -->
      <div class="bg-light bg-cover min-h-[1030px]" id="stories">
        <ion-row class="container relative py-[30px] xl:py-[310px]">
          <ion-col size="12" size-xl="3.5"  class="ion-align-self-center pl-[5%] xl-ion:pl-0">
            <p class="pencraft">{{'LANDING.stories' | translate}}</p>
            <p class="landing-headline">{{'LANDING.said' | translate}}</p>
            <p class="landing-text">{{'LANDING.said-second' | translate}}</p>
          </ion-col>
          <ion-col size="12" size-xl="7.5" offset-xl="0.75" class="">
            <ion-slides #slides [options]="getOptions()" class="h-[100%]">
              <ion-slide *ngFor="let comment of comments">
                <ion-card class="border rounded-2xl border-black-1 bg-transparent p-8 text-left h-[97%]">
                  <div class="mb-2">
                    <span class='quote-icon'></span>
                    <span class='quote-icon ml-1'></span>
                  </div>
                  <p class="text-black-2 text-lg">{{comment.text}}</p>
                  <p class="text-lg font-semibold text-black mt-4">{{comment.author}}</p>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <!-- <div class="flex justify-end">
              <ion-button fill="clear" (click)="prev()" class="text-black">
                <ion-icon name="arrow-back" class="h-6 w-6"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="next()" class="text-black">
                <ion-icon name="arrow-forward" class="h-6 w-6"></ion-icon>
              </ion-button>
            </div> -->
          </ion-col>
        </ion-row>
      </div>

      <!-- Contact Us -->
      <div id="contact" class="bg-primary bg-cover h-[480px] text-center pt-[140px]">
        <p class="pencraft-white">{{'LANDING.contact-us' | translate}}</p>
        <p class="landing-headline-white">{{'LANDING.hesitate' | translate}}</p>
        <ion-buttons>
          <ion-button href="mailto:kontakt@intiri.no" class="contact-btn">office@intiri.com</ion-button>
        </ion-buttons>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</ion-content>
