<ion-content>
  <ion-row>
    <ion-col size="12" offset-xl="1" size-xl="5" class="p-2 xl:p-12 h-full">
      <div class="w-full xl:w-[470px] text-center xl:text-left">
        <img
          class="h-7 w-auto cursor-pointer"
          src="../../../assets/images/intiri-logo.svg"
          (click)="onIntiriIconClick()"
        />
        <div>
          <h1
            class="font-['Allison'] text-5xl 2xl:text-7xl text-black-2 mt-[30px]"
          >
            {{'REGISTER.start' | translate}}
          </h1>
          <h1 class="text-3xl xl:text-5xl font-semibold">
            {{'LOGIN.create' | translate}}
          </h1>
          <p class="text-sm xl:text-lg text-black-2">
            {{'LOGIN.login-msg' | translate}}
          </p>
          <form
            [formGroup]="registerForm"
            (ngSubmit)="register()"
            class="w-max mx-auto"
          >
            <div class="mt-8 flex flex-col xl:flex-row justify-between">
              <div>
                <span class="text-xs xl:text-sm text-black-2"
                  >{{'COMMON.firstname' | translate}}</span
                >
                <ion-input
                  type="text"
                  #firstName
                  formControlName="firstName"
                  class="border rounded-xl xl:rounded-xl h-10 xl:h-14 border-black-2 w-full xl:w-56"
                ></ion-input>
                <span
                  class="ion-warning"
                  *ngIf="isFormSubmited && firstNameErrors?.required"
                  >{{'VALIDATION.first-name' | translate}}</span
                >
              </div>
              <div class="mt-[30px] xl:mt-0">
                <span class="text-xs xl:text-sm text-black-2"
                  >{{'COMMON.lastname' | translate}}</span
                >
                <ion-input
                  type="text"
                  #lastName
                  formControlName="lastName"
                  class="border rounded-xl xl:rounded-xl h-10 xl:h-14 border-black-2 w-full xl:w-56"
                ></ion-input>
                <span
                  class="ion-warning"
                  *ngIf="isFormSubmited && lastNameErrors?.required"
                  >{{'VALIDATION.last-name' | translate}}</span
                >
              </div>
            </div>
            <div class="mt-3 xl:mt-7">
              <span class="text-xs xl:text-sm text-black-2"
                >{{'LOGIN.phone' | translate}}</span
              >
              <div class="flex gap-x-2">
                <div>
                  <ion-select
                    class="border rounded-xl xl:rounded-xl border-black-2 h-10 xl:h-14 w-24 xl:w-32"
                    interface="popover"
                    (ionChange)="setActiveCode($event)"
                    [value]="activeCode"
                  >
                    <ion-select-option value="47">
                      <div>
                        <p class="text-sm xl:text-lg text-black">+47</p>
                      </div>
                    </ion-select-option>
                    <ion-select-option value="381">
                      <p class="text-sm xl:text-lg text-black">+381</p>
                    </ion-select-option>
                  </ion-select>
                </div>
                <div>
                  <ion-input
                    #phoneNumber
                    formControlName="phoneNumber"
                    class="border rounded-xl xl:rounded-xl h-10 xl:h-14 border-black-2 w-60 xl:w-80"
                    maxlength="8"
                  ></ion-input>
                  <span
                    class="ion-warning"
                    *ngIf="isFormSubmited && phoneNumberErrors?.required"
                    >{{'VALIDATION.phone-req' | translate}}</span
                  >
                  <span
                    class="ion-warning"
                    *ngIf="isFormSubmited && phoneNumberErrors?.pattern"
                    >{{'VALIDATION.phone' | translate}}</span
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col justify-center items-center mt-[30px]">
              <ion-button
                type="submit"
                fill="clear"
                class="primary-btn-responsive"
                >{{'COMMON.register' | translate}}</ion-button
              >
              <p class="text-lg text-black-2 mt-4">Or</p>
              <ion-button fill="clear" class="vipps-btn mt-4">
                <img src="../../../assets/icon/vipps-white.svg" />
              </ion-button>
              <span class="ion-warning" *ngIf="error">{{error}}</span>
              <div class="mt-6">
                <ion-button
                  fill="clear"
                  class="secondary-btn-responsive"
                  routerLink="/landing"
                  routerDirection="root"
                  >{{'COMMON.back' | translate}}</ion-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </ion-col>
    <ion-col
      size="12"
      size-xl="6"
      class="p-2 xl:p-12 h-full hidden xl:flex justify-center xl:justify-end"
    >
      <div
        class="bg-img-01 rounded-xl bg-cover w-[900px]"
        style="height: calc(100vh - 6rem)"
      ></div>
    </ion-col>
  </ion-row>
</ion-content>
