<div class="bg-light  xl-ion:w-[300px]  xl-ion:h-[680px] rounded-lg text-center">
  <img [src]="image" class="rounded-[50%] w-[300px] h-[300px] object-cover p-8 relative top-12 mx-auto" alt="Profile Img"/>
  <h3 class="mt-12 mx-10 mb-8 font-medium text-black-2">{{firstName}} {{lastName}}</h3>
  <!-- <p class="text-black-3 mb-8">16 projects</p> -->
  <ion-buttons class="justify-center">
    <label for="dropzone-file">
      <ion-button class="change-img-btn" (click)="openFile()">Change profile picture
        <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden" />
      </ion-button>
    </label>
  </ion-buttons>
</div>
