<ion-content>
  <div id="home">
    <app-header></app-header>
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <ion-grid class="main-container">
      <ion-row>
        <ion-col size="12" size-xl="2.6" class="mb-20 pr-0 xl-ion:pr-4 hidden sm:block">
          <app-step-picker
            (changeStep)="goToStep($event)"
            [canChangeToStep]="canChangeToStep"
            [currentStepNo]="currentStepNo"
            [project]="project"
            [steps]="steps"
          ></app-step-picker>
        </ion-col>
        <ion-col size="12" size-xl="9.4" class="mb-20">
          <app-new-project-step
            (toggleSelection)="toggleItem($event)"
            [project]="project"
            [stepsOrder]="stepsOrder"
            [currentStepNo]="currentStepNo"
            [currentStep]="steps[currentStepNo]"
          ></app-new-project-step>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="fixed-bottom max-h-[50px]" offset-xl="0">
          <ion-buttons class="flex justify-center items-center h-full flex-col lg:flex-row">
            <div>
              <ion-button
                class="secondary-btn-borderless"
                [class.disabled]="!canChangeToStep(currentStepNo-1)"
                (click)="backStep()"
                >{{'COMMON.back' | translate}}</ion-button
              >
              <ion-button
                *ngIf="steps[currentStepNo]['data'] !== 'final'"
                class="secondary-btn-borderless"
                [class.disabled]="!canChangeToStep(currentStepNo+1)"
                (click)="nextStep()"
                >{{'COMMON.next' | translate}}</ion-button
              >
            </div>
            <div class="mt-2 lg:mt-0">
              <ion-button
              *ngIf="currentStepNo === 2 || currentStepNo === 3"
              class="secondary-btn-borderless skip-btn"
              (click)="skipPage()"
              >{{'COMMON.skip-page' | translate}}</ion-button>
              <ion-button
                *ngIf="steps[currentStepNo]['data'] === 'final'"
                class="secondary-btn-borderless"
                [class.disabled]="!canChangeToStep(currentStepNo-1)"
                routerLink="/customize-moodboard"
                routerDirection="root"
                >{{'NEW-PROJECT.customize' | translate}}</ion-button
              >
              <ion-button
                *ngIf="steps[currentStepNo]['data'] === 'final'"
                class="secondary-btn-borderless"
                (click)="saveCurrentProject()"
                >{{'NEW-PROJECT.finish' | translate}}</ion-button
              >
            </div>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
