<ion-list *ngIf="designer" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Edit designer</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeleteStyleModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="product" lines="none" >
  <ion-item class="text-black-1" [button]="true">Edit product</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteStyleModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="moodboard " lines="none" >
  <ion-item class="text-black-1 font-medium" (click)="openDeleteMoodboardModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="toggleTemplateMoodboard()" [button]="true">{{item.isTemplate ? 'Remove from template moodboards' : 'Make a template moodboard'}}</ion-item>
</ion-list>

<ion-list *ngIf="client" lines="none" >
  <ion-item class="text-black-1 font-medium" (click)="openDeleteClientModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="style" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Edit style</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeleteStyleModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="material" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Connect to moodboard</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeleteMaterialsModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="room" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Connect to moodboard</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeleteRoomModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="color" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Connect to moodboard</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeleteColorModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="picture" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Connect to moodboard</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeletePictureModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="contact" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Connect to moodboard</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeleteContactModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>