<ion-list *ngIf="designer" lines="none" >
  <ion-item class="text-black-1" [button]="true">Edit designer</ion-item>
  <ion-item class="text-black-1 font-medium" [button]="true">Delete</ion-item>
</ion-list>

<ion-list *ngIf="product" lines="none" >
  <ion-item class="text-black-1" [button]="true">Edit product</ion-item>
  <ion-item class="text-black-1 font-medium" [button]="true">Delete</ion-item>
</ion-list>

<ion-list *ngIf="moodboard " lines="none" >
  <ion-item class="text-black-1 font-medium" [button]="true">Delete</ion-item>
</ion-list>

<ion-list *ngIf="client" lines="none" >
  <ion-item class="text-black-1 font-medium" [button]="true">Delete</ion-item>
</ion-list>

<ion-list *ngIf="style" lines="none" >
  <ion-item class="text-black-1" [button]="true">Edit style</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteStyleModal()" [button]="true">Delete</ion-item>
</ion-list>

<ion-list *ngIf="material" lines="none" >
  <ion-item class="text-black-1" [button]="true">Connect to moodboard</ion-item>
  <ion-item class="text-black-1 font-medium" [button]="true">Delete</ion-item>
</ion-list>