<ion-content> <!-- Adding everyting in ion-conter fixed issue with popover going out of screen -->
<ion-list *ngIf="designer" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Edit designer</ion-item> -->
  <ion-item class="text-black-1" (click)="openEditDesignerModal()" [button]="true">{{ 'COMMON-MODAL.edit-title' | translate:{ name: ('COMMON-MODAL.designer' | translate) } }}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteDesignerModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="product" lines="none" >
  <ion-item class="text-black-1" (click)="openEditProductModal()" [button]="true">{{ 'COMMON-MODAL.edit-title' | translate:{ name: ('COMMON-MODAL.product' | translate) } }}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteProductModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="moodboard" lines="none" >
  <ion-item class="text-black-1 font-medium" [routerLink]="['/moodboard-details/' + item.id]"  [button]="true">{{'COMMON.view-details' | translate}}</ion-item>
  <ion-item class="text-black-1 font-medium" [routerLink]="['/edit-moodboard/' + item.id]"  [button]="true">{{'MOODBOARDS.edit-moodboard' | translate}}</ion-item>
  <ion-item *ngIf="!designerMb" class="text-black-1 font-medium" (click)="openDeleteMoodboardModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
  <!-- <ion-item *ngIf="!designerMb" class="text-black-1 font-medium" (click)="toggleTemplateMoodboard()" [button]="true">{{item.isTemplate ? 'Remove from template moodboards' : 'Make a template moodboard'}}</ion-item> -->
  <ion-item *ngIf="!designerMb" class="text-black-1 font-medium" (click)="toggleTemplateMoodboard()" [button]="true">{{item.isTemplate ? ('MOODBOARDS.unset-template' | translate) : ('MOODBOARDS.set-template' | translate) }}</ion-item>
</ion-list>

<ion-list *ngIf="client" lines="none" >
  <ion-item class="text-black-1 font-medium" (click)="openDeleteClientModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="style" lines="none" >
  <ion-item class="text-black-1" (click)="openEditStyleModal()" [button]="true">{{ 'COMMON-MODAL.edit-title' | translate:{ name: ('COMMON-MODAL.style' | translate) } }}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteStyleModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="material" lines="none" >
  <ion-item class="text-black-1" (click)="openEditMaterialModal()" [button]="true">{{ 'COMMON-MODAL.edit-title' | translate:{ name: ('COMMON-MODAL.material' | translate) } }}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteMaterialsModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="room" lines="none" >
  <ion-item class="text-black-1" (click)="openEditRoomModal()" [button]="true">{{ 'COMMON-MODAL.edit-title' | translate:{ name: ('COMMON-MODAL.room' | translate) } }}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteRoomModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="color" lines="none" >
  <ion-item class="text-black-1" (click)="openEditColorModal()" [button]="true">{{ 'COMMON-MODAL.edit-title' | translate:{ name: ('COMMON-MODAL.color' | translate) } }}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeleteColorModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="picture" lines="none" >
  <ion-item class="text-black-1" (click)="openEditPictureModal()" [button]="true">{{ 'COMMON-MODAL.edit-title' | translate:{ name: ('COMMON-MODAL.picture' | translate) } }}</ion-item>
  <ion-item class="text-black-1 font-medium" (click)="openDeletePictureModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="contact" lines="none" >
  <!-- <ion-item class="text-black-1" [button]="true">Connect to moodboard</ion-item> -->
  <ion-item class="text-black-1 font-medium" (click)="openDeleteContactModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="partner" lines="none">
  <ion-item class="text-black-1 font-medium" (click)="openDeletePartnerModal()" [button]="true">{{'COMMON.delete' | translate}}</ion-item>
</ion-list>
</ion-content>
