<ion-content>
  <div id="home" [formGroup]="partnerProfileForm">
    <app-header-partner></app-header-partner>
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <ion-grid class="main-container">
      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1" offset-xl="0" size-xl="4">
          <h1 class="main-title">{{'PROFILE.profile' | translate}}</h1>
        </ion-col>
      </ion-row>
      <ion-row class="mb-10">
        <ion-col size="12" size-sm="10" offset-sm="1" offset-xl="0" size-xl="3.5">
          <app-profile-img-section
            [image]="partnerProfile.logoPath"
            [firstName]="partnerProfile.firstName"
            [lastName]="partnerProfile.lastName"
            [partnerProfilePhoto]="true"
            >
          </app-profile-img-section>
        </ion-col>
        <ion-col size="12" size-sm="10" offset-sm="1" offset-xl="0" size-xl="5">
          <div formGroupName="dataInfoGroup">
          <app-profile-info-section
            [partnerProfile]="true">
          </app-profile-info-section>
        </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xl="12" class="fixed-bottom">
          <ion-buttons class="justify-center">
            <ion-button class="primary-btn" (click)="saveChanges()">{{'COMMON.save-changes' | translate}}</ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
