.flex-row-product {
 display: flex;
 justify-content: space-between;
    }

.fixed-width {
   width: 45%;
}

.color-box  {
   width: 60%;
   height: 60%;
.plus-icon-wrapper {
    @apply mx-auto text-primary text-2xl rounded-full bg-light p-2 h-[60px] w-[60px]
}
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: scroll;
  border: solid 0.5px;
  margin-top: 20px;
  border-radius: 16px;
  // min-width: 35rem;
  div {
    margin: 12px 9px;
    .preview-image {
      height: 10rem;
      width: 10rem;
    }
  }
}
