<ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
<ion-content>
  <div *ngIf="!delete" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full h-full space-y-8 mt-6  h-100">
        <div>
          <h2 class="mt-6 text-center text-2xl font-bold text-black1">{{'PARTNERS.addProduct' | translate}}</h2>
        </div>
        <div class="profile-input">
          <span class="text-sm text-black-2">Product name</span>
          <ion-input type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
        </div>
        <div class="profile-input">
          <span class="text-sm text-black-2">Product name</span>
          <ion-input type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
        </div>
        <section class="flex-row-product">
          <div class="profile-input">
            <span class="text-sm text-black-2">Product type</span>
            <ion-input  type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
          <div class="profile-input">
            <span class="text-sm text-black-2">Product material</span>
            <ion-input  type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </section>
        <section class="flex-row-product">
          <div class="profile-input">
            <span class="text-sm text-black-2">Select color</span>
            <ion-input  type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
          <div class="profile-input">
            <span class="text-sm text-black-2">Price</span>
            <ion-input  type="text" class="border rounded-2xl h-14 border-black-2"></ion-input>
          </div>
        </section>
        <div>
          <span class="text-sm text-black-2">Description</span>
          <ion-textarea rows="5" class="border border-black-2 rounded-2xl focus:outline-0"></ion-textarea>
        </div>
        <div>
          <span class="text-sm text-black-2">Product image</span>
          <div class="profile-input w-fit">
            <label for="dropzone-file">
              <div class="w-[150px] border-2 border-dashed rounded-2xl h-[150px] border-black-3 hover:opacity-70 cursor-pointer">
                <div class="text-center mt-[50px]">
                  <ion-icon class="text-[27px] text-black-3" name="add-outline"></ion-icon>
                  <p class="leading-[22px] font-semibold text-black-3 text-lg">{{'COMMON.upload'| translate}}</p>
                </div>
                <img *ngIf="imagePath" [src]="imagePath" class="object-cover rounded-2xl p-2 h-full w-full" alt="roomImg" />
              </div>
              <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden" />
            </label>
          </div>
        </div>
        <div class="flex justify-center">
          <ion-button fill="clear" class="secondary-btn h-[52px] mb-8" (click)="dismissModal()">{{'COMMON.cancel'| translate}}</ion-button>
          <ion-button fill="clear" class="primary-btn h-[52px] mb-8" (click)="AddProduct()">{{'COMMON.add'| translate}}</ion-button>
        </div>
      </div>
    </div>
  </div>
  <!-- Product delete modal -->
  <div *ngIf="delete" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><ion-icon class="h-[32px] w-[32px] ml-[3px] mt-[7px]" name="trash-outline"></ion-icon></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">Remove product</h2>
          <p class="text-center text-base text-[18px] text-black-2">Are you sure that you want to remove this product? This action cannot be undone.</p>
        </div>
        <ion-buttons class="justify-center">
          <ion-button class="primary-btn h-[52px] mt-10" (click)="deleteProduct()">Remove product</ion-button>
          <ion-button class="secondary-btn h-[52px] mt-10" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>
