<ion-content>
  <div class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div
      class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white"
    >
      <div class="h-full w-full">
        <img
          class="h-7 w-full text-center"
          src="../../../assets/images/intiri-logo.svg"
        />
        <h1 class="text-2xl font-semibold mt-5 text-center">
          {{ "LOGIN.login" | translate }}
        </h1>
        <form
          [formGroup]="loginForm"
          class="d-flex mt-2 md:mt-0"
          (ngSubmit)="login()"
          autocomplete="off"
        >
          <div class="mt-2">
            <span class="text-sm text-black-2">{{
              "LOGIN.phone" | translate
            }}</span>
            <div class="flex justify-between w-full">
              <div>
                <ion-select
                  class="border rounded-xl border-black-2 h-12 text-lg w-24"
                  interface="popover"
                  (ionChange)="setActiveCode($event)"
                  [value]="activeCode"
                >
                  <ion-select-option
                    *ngFor="let country of countryService.getCountries()"
                    value="{{ country.phonePrefix }}"
                  >
                    <div>
                      <p class="text-black">
                        +{{ country.phonePrefix }} {{ country.localName }}
                      </p>
                    </div>
                  </ion-select-option>
                </ion-select>
              </div>
              <div class="w-full ml-2">
                <ion-input
                  #phoneNumber
                  formControlName="phoneNumber"
                  name="phoneNumber"
                  maxlength="10"
                  class="border rounded-xl h-12 border-black-2 w-full"
                ></ion-input>
                <span
                  class="ion-warning"
                  *ngIf="isFormSubmited && phoneNumberErrors?.required"
                  >{{ "VALIDATION.phone-req" | translate }}</span
                >
                <span
                  class="ion-warning"
                  *ngIf="isFormSubmited && phoneNumberErrors?.pattern"
                  >{{ "VALIDATION.phone" | translate }}</span
                >
              </div>
            </div>
          </div>
          <div class="mt-[16px] text-center grid grid-flow-row justify-center">
            <ion-button
              fill="clear"
              class="primary-btn-no-x-margin !m-0 !my-6"
              type="submit"
              >{{ "LOGIN.login-btn" | translate }}</ion-button
            >
            <!-- <p class="text-lg text-black-2 mt-2">
              {{ "LOGIN.or" | translate }}
            </p>
            <ion-button
              fill="clear"
              class="vipps-btn mt-2 mx-2"
              (click)="initiateVippsLogin()"
            >
              <img src="../../../../assets/icon/vipps-white.svg" />
            </ion-button> -->
            <p class="text-lg text-black-2">
              {{ "LOGIN.no-account" | translate }}
            </p>
            <ion-button
              fill="clear"
              class="secondary-btn-no-x-margin !mx-0 mt-4"
              (click)="goToRegisterPage()"
              >{{ "LOGIN.create" | translate }}
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
