 <!-- Moodboard delete modal -->
 <div *ngIf="delete" class="bg-gray-500 justify-center items-center flex flex-col h-full">
  <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
    <div class="max-w-md w-full space-y-8">
      <div>
        <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><ion-icon class="h-[32px] w-[32px] ml-[3px] mt-[7px]" name="trash-outline"></ion-icon></div>
        <h2 class="mt-10 text-center text-2xl font-bold text-black-1">Remove moodboard</h2>
        <p class="text-center text-base text-[18px] text-black-2">Are you sure that you want to remove this moodboard? This action cannot be undone.</p>
      </div>
      <ion-buttons class="justify-center">
        <ion-button class="primary-btn h-[52px] mt-10" (click)="deleteMoodboard()">Remove moodboard</ion-button>
        <ion-button class="secondary-btn h-[52px] mt-10" (click)="dismissModal()">{{'COMMON.cancel' | translate}}</ion-button>
      </ion-buttons>
    </div>
  </div>
</div>