.side-menu-item {
  @apply text-black-1 text-left ml-[20px] mb-[20px] font-medium cursor-pointer hover:text-primary;
}

.disabled {
  @apply pointer-events-none opacity-60;
}

.main-title-custom {
  position: fixed;
  top: 6.6rem;
}

.admin-designer-side-nav {
  position: fixed;
  top: 10.5rem;
}
