.profile-input {
  @apply mt-4 mx-2 flex-1;
}

.phone-input {
  @apply mt-4 mx-2 min-w-[130px];
}

ion-input {
  @apply h-12;
}

ion-select {
  @apply border rounded-2xl h-12 border-black-2 pr-4;
}

.textarea {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
