<h3 class="text-black-2 text-[24px] my-0 mx-2">Personal Info</h3>
<div *ngIf="formGroup" [formGroup]="formGroup">
  <div formGroupName="innerGroup">
<section class="sm:flex">
  <div class="profile-input" *ngIf="partnerProfile">
    <span class="text-sm text-black-2">{{'PARTNERS.partner-name' | translate}}</span>
    <ion-input type="text" class="border rounded-2xl h-14 border-black-2" formControlName="name"></ion-input>
  </div>
  <div class="profile-input" *ngIf="userInfo">
    <span class="text-sm text-black-2">{{'COMMON.firstname' | translate}}</span>
    <ion-input type="text" class="border rounded-2xl h-14 border-black-2" formControlName="firstName"></ion-input>
  </div>
  <div class="profile-input" *ngIf="userInfo">
    <span class="text-sm text-black-2">{{'COMMON.lastname' | translate}}</span>
    <ion-input type="text" class="border rounded-2xl h-14 border-black-2" formControlName="lastName"></ion-input>
  </div>
</section>
<div class="profile-input" *ngIf="userInfo">
  <span class="text-sm text-black-2">{{'PROFILE.gender' | translate}}</span>
  <ion-select interface="popover" [value]="dataInput.gender" formControlName="gender" (ionChange)="genderChange($event)">
    <ion-select-option value="male">Male</ion-select-option>
    <ion-select-option value="female">Female</ion-select-option>
    <ion-select-option value="non-binary">Non-binary</ion-select-option>
    <ion-select-option value="not-to-say">I prefer not to say</ion-select-option>
  </ion-select>
</div>


<section class="flex">
  <div class="phone-input">
    <span class="text-sm text-black-2">{{'COMMON.phone' | translate}}</span>
    <ion-select class="" interface="popover" [disabled]="getPartner()" [value]="dataInput.countryCode" (ionChange)="countryCodeChange($event)" formControlName="countryCode">
      <ion-select-option value="45">+45</ion-select-option>
      <ion-select-option value="46">+46</ion-select-option>
      <ion-select-option value="47">+47</ion-select-option>
      <ion-select-option value="381">+381</ion-select-option>
      <ion-select-option value="382">+382</ion-select-option>
    </ion-select>
  </div>
  <div class="profile-input">
    <span class="text-sm invisible">{{'COMMON.phone' | translate}}</span>
    <ion-input type="text" class="border rounded-2xl h-14 border-black-2" formControlName="phoneNumber" [disabled]="getPartner()"></ion-input>
  </div>
</section>

<div class="profile-input">
  <span class="text-sm text-black-2">{{'COMMON.email' | translate}}</span>
  <ion-input type="email" class="border rounded-2xl h-14 border-black-2" formControlName="email"></ion-input>
  <span class="text-sm text-[#eb445a] hidden">Wrong format</span>
</div>
<div class="profile-input">
  <span class="text-sm text-black-2">{{'PARTNERS.street' | translate}}</span>
  <ion-input type="text" class="border rounded-2xl h-14 border-black-2" formControlName="street"></ion-input>
</div>
<section class="sm:flex">
  <div class="profile-input">
    <span class="text-sm text-black-2">{{'PARTNERS.postal-code' | translate}}</span>
    <ion-input type="text" class="border rounded-2xl h-14 border-black-2" formControlName="postalCode"></ion-input>
  </div>
  <div class="profile-input">
    <span class="text-sm text-black-2">{{'PARTNERS.city' | translate}}</span>
    <ion-input type="text" class="border rounded-2xl h-14 border-black-2" formControlName="city"></ion-input>
  </div>
</section>
<div class="profile-input">
  <span class="text-sm text-black-2">{{'PARTNERS.country' | translate}}</span>
  <ion-select interface="popover" [value]="dataInput.country" (ionChange)="countryChange($event)" formControlName="country">
    <ion-select-option value="Norway">Norway</ion-select-option>
    <ion-select-option value="Serbia">Serbia</ion-select-option>
    <ion-select-option value="England">England</ion-select-option>
  </ion-select>
</div>
<div *ngIf="userInfo" class="textarea">
  <span class="text-sm text-black-2">{{'STYLE.description' | translate}}</span>
  <ion-textarea rows="5" class="border border-black-2 rounded-2xl focus:outline-0" formControlName="description"></ion-textarea>
</div>
</div>
</div>


