<ion-grid>
  <ion-row class="mt-3">
    <ion-col size="12" size-md="3" size-lg="3">
      <div class="profile-input">
        <ion-select interface="popover" placeholder="Search">
          <ion-select-option value="1">Option 1</ion-select-option>
          <ion-select-option value="2">Option 2</ion-select-option>
        </ion-select>
      </div>
    </ion-col>
    <ion-col offset-md="6" size="12" size-md="3" size-lg="3" class="relative bottom-[29px] w-full">
      <div class="profile-input justify-end">
        <div class="w-full">
          <span class="text-sm text-black-2">Client type</span>
          <ion-select interface="popover" [multiple]="true">
            <ion-select-option value="viewAll">View all</ion-select-option>
            <ion-select-option value="premiumClients">Premium clients</ion-select-option>
            <ion-select-option value="freePlanClients">Free plan clients</ion-select-option>
          </ion-select>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="gap-x-[1.65%]">
    <ion-col *ngFor="let i of [1,2,3,4]" class="" size="12" size-sm="5.75" size-xl="2.85">
      <div class="client">
        <div class="my-6 flex flex-1 justify-center pt-3">
          <img src="../../../assets/images/profile-img.png" class="w-[70px] h-[70px] rounded-2xl object-cover " alt="Profile Img"/>
        </div>
        <div class="absolute top-[12px] right-[12px]">
            <button (click)="showSettings($event)" id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-50" type="button">
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
            </button>
        </div>
        <div class="my-4 text-center">
            <p class="text-black-2 leading-5 font-semibold text-2xl">Grace  Delawer</p>
        </div>
        <div class="my-8 text-center">
          <div class="px-1">
            <p class="leading-[26px] text-black-2 text-lg">+47 585 56 565</p>
            <p class="leading-[26px] text-black-2 text-lg">gracedel@gmail.com</p>
            <p class="leading-[26px] text-black-2 text-lg">Oslo Volvat Sokedalsvelen 33</p>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  
</ion-grid>