<ion-grid>
  <ion-row *ngIf="!delete" class="mb-3">
    <ion-col size="12" size-md="3" size-lg="3">
      <div class="profile-input">
        <div class="mt-6">
          <ion-input type="text" class="border rounded-2xl border-black-2 h-12" placeholder="{{'MESSENGER.search' | translate}}" [(ngModel)]="searchText"></ion-input>
        </div>
      </div>
    </ion-col>
    <!-- <ion-col offset-md="6" size="12" size-md="3" size-lg="3" class="relative bottom-[29px] w-full">
      <div class="profile-input justify-end">
        <div class="w-full">
          <span class="text-sm text-black-2">{{'CLIENTS.client-type' | translate}}</span>
          <ion-select interface="popover" [multiple]="true">
            <ion-select-option value="viewAll">{{'CLIENTS.view-all' | translate}}</ion-select-option>
            <ion-select-option value="premiumClients">{{'CLIENTS.premium' | translate}}</ion-select-option>
            <ion-select-option value="freePlanClients">{{'CLIENTS.free' | translate}}</ion-select-option>
          </ion-select>
        </div>
      </div>
    </ion-col> -->
  </ion-row>
  <ion-row *ngIf="!delete" class="gap-x-[1.45%]">
    <ion-col *ngFor="let user of (users$ | async) | filter:searchText" class="" size="12" size-sm="5.75" size-xl="2.25">
      <div class="client">
        <div class="my-6 flex flex-1 justify-center pt-3">
          <img [src]="user.photoPath || '../../../assets/images/profile-img.png'" class="!w-[70px] !h-[70px] rounded-2xl object-cover " alt="Profile Img"/>
        </div>
        <div class="absolute top-[12px] right-[12px]">
            <button (click)="showSettings($event, user)" id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-50" type="button">
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
            </button>
        </div>
        <div class="my-4 text-center">
            <p class="text-black-2 leading-8 font-semibold text-2xl text-clamp-2" title="{{user.firstName}} {{user.lastName}}">{{user.firstName}} {{user.lastName}}</p>
        </div>
        <div class="mt-4 text-center">
          <div class="px-1">
            <p class="leading-[26px] text-black-2 text-lg text-clamp-1" title="{{user.phoneNumber}}">+{{user.countryCode}}{{user.phoneNumber}}</p>
            <p class="leading-[26px] text-black-2 text-lg text-clamp-1" title="{{user.email}}">{{user.email}}</p>
            <p class="leading-[26px] text-black-2 text-lg text-clamp-1" title="{{user.street}}">{{user.street}}</p>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <!-- User delete modal -->
  <div *ngIf="delete" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><ion-icon class="h-[32px] w-[32px] ml-[3px] mt-[7px]" name="trash-outline"></ion-icon></div>
          <h2 class="mt-10 text-center text-2xl font-bold text-black-1">Remove client</h2>
          <p class="text-center text-base text-[18px] text-black-2">Are you sure that you want to remove this client? This action cannot be undone.</p>
        </div>
        <ion-buttons class="justify-center">
          <ion-button class="primary-btn h-[52px] mt-10" (click)="deleteClient()">Remove client</ion-button>
          <ion-button class="secondary-btn h-[52px] mt-10" (click)="dismissModal()">Cancel</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-grid>