.profile-input {
    @apply mt-4 mx-2 flex-1 text-left;
}

ion-input {
    @apply h-12;
}

ion-select {
    @apply border rounded-2xl h-12 border-black-2 pr-4;
}

.client {
    @apply border rounded-2xl px-2 h-[320px] mb-[30px] overflow-hidden shadow-1;
}

ion-col {
    @apply px-0
}

.plus-icon-wrapper {
    @apply mx-auto text-primary text-2xl rounded-full bg-light p-2 h-[60px] w-[60px]
}