<ion-content>
  <div class="flex flex-col items-center">
    <div class="w-[80px] h-[80px] bg-light rounded-full mt-[75px] flex items-center justify-center">
      <ion-icon name="checkmark-circle-outline" class="h-10 w-10 text-primary"></ion-icon>
    </div>
    <p class="text-2xl font-medium mt-[40px]">Moodboard shared!</p>
    <p class="text-lg mt-[10px] text-black-2">You successfully shared your moodboard.</p>
    <ion-button fill="clear" class="primary-btn mt-[40px]" (click)="dismiss()">Go to My Intiri</ion-button>
  </div>
</ion-content>
