<ion-content>
  <div id="home">
    <app-header-partner></app-header-partner>
    <div class="main-container">
      <p class="main-title mb-[30px]">{{'DASHBOARD.partner' | translate}}</p>
      <ion-grid class="px-0 m">
        <ion-row class="mt-2">
          <ion-col size="12" size-md="4" size-lg="3">
            <div class="profile-input">
              <div class="mt-6">
                <ion-input type="text" class="border rounded-2xl border-black-2 h-12" placeholder="{{'MESSENGER.search' | translate}}" [(ngModel)]="searchText"></ion-input>
              </div>
            </div>
          </ion-col>
          <ion-col offset-md="3" offset-lg="5" size="12" size-md="5" size-lg="4" class="relative bottom-[15px]">
            <div class="profile-input justify-end flex flex-1 gap-x-[1.65%] !mt-8 md:!mt-4">
              <div class="w-full">
                <span class="text-sm text-black-2">{{'PARTNERS.type' | translate}}</span>
                <ion-select class="w-full" interface="popover" [multiple]="true">
                  <ion-select-option value="{{productType.name}}" *ngFor="let productType of productTypes">{{productType.name}}</ion-select-option>
                </ion-select>
              </div>
                <ion-buttons class="justify-end mt-[25px]">
                <ion-button class="primary-btn" (click)="openAddProductModal()">{{'PARTNERS.addProduct' | translate}}</ion-button>
              </ion-buttons>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="gap-x-[1.65%]">
          <ion-col *ngFor="let product of products | filter:searchText" size="12" size-sm="5.75" size-xl="2.23">
            <div class="card">
              <div class="h-full w-full ">
                <img src="{{product.imagePath}}" class="object-cover rounded-2xl !h-full !w-full" alt="Profile Img" />
              </div>
            </div>
            <div class="flex justify-between">
              <p class="py-2 text-black-2 font-semibold">{{product.name}}</p>
              <div class="float-right">
                <button (click)="showSettings($event, product)" id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex py-2 text-black-1 text-sm font-medium text-center bg-white rounded-lg" type="button">
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

