<ion-grid class="px-0 m">
  <ion-row class="mt-2">
    <ion-col size="12" size-md="4" size-lg="3">
      <div class="profile-input">
        <div class="mt-6">
          <ion-input type="text" class="border rounded-2xl border-black-2 h-12" placeholder="{{'MESSENGER.search' | translate}}" [(ngModel)]="searchText"></ion-input>
        </div>
      </div>
    </ion-col>
    <ion-col offset-md="6" size="12" size-md="3" size-lg="3" class="relative bottom-[29px] w-full">
      <div class="profile-input justify-end">
        <div class="w-full">
          <span class="text-sm text-black-2">{{'CLIENTS.owner' | translate}}</span>
          <ion-select interface="popover" [multiple]="true">
            <ion-select-option value="viewAll">{{'CLIENTS.view-all' | translate}}</ion-select-option>
            <ion-select-option value="fromClients">{{'CLIENTS.from-clients' | translate}}</ion-select-option>
            <ion-select-option value="fromIntiri">{{'CLIENTS.from-intiri' | translate}}</ion-select-option>
          </ion-select>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="gap-x-[1.45%]">
    <ion-col *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" size="12" size-sm="5.75" size-xl="1.85">
      <div class="card">
        <div class="h-full w-full">
          <img src="../../../assets/images/img-01.png" class="object-cover rounded-2xl !h-full !w-full" alt="Profile Img" />
        </div>
      </div>
      <div class="flex justify-between">
        <p class="text-2xl py-2 text-black-2 font-semibold">Vintage</p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>