<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset-xl="2" size-xl="4" class="p-2 xl:p-12 h-full">
        <div class="w-full xl:w-[470px]">
          <img class="h-7 w-auto" src="../../../assets/images/intiri-logo.svg">
          <ion-button fill="clear" class="register-btn" routerLink="/register" routerDirection="root">
            <ion-icon name="arrow-back" class="w-6 h-6" slot="start"></ion-icon>
            <p>Create an account</p>
          </ion-button>
          <h1 class="text-5xl font-semibold">6-digit code</h1>
          <p class="text-lg text-black-2">
            An sms with 6-digit verification code was sent to your phone.
          </p>
          <div class="mt-8">
            <code-input  #codeInput [codeLength]="6" (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)">

            </code-input>
            <span class="ion-warning mt-2" *ngIf="error">{{ error.error }}</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <ion-button fill="clear" class="primary-btn mt-[30px]">Proceed to app</ion-button>
            <ion-button fill="clear" class="send-btn">Send again</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-xl="6" class="p-2 xl:p-12 h-full flex justify-end">
        <div class="bg-img-01 rounded-2xl bg-cover h-[980px] w-[900px]"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
