.register-btn {
  @apply text-sm 2xl:text-lg font-semibold text-black mt-14;
  --padding-start: 4px;
  text-transform: none;
}

.send-btn {
  @apply flex justify-center items-center text-sm 2xl:text-lg mt-4 font-semibold;
  color: #AA4C33;
  text-transform: none;
}

.password-input {
  border: none;
}

.ion-warning {
  display: flex;
  color: red;
  padding: 0;
  margin-top: 0.5rem;
  justify-content: center;
  padding-top: 1px;
}

ion-item {
  border: 1px solid #555555;
  color: #555555;
  --padding-start: 0px;
}

ion-input {
  color: #555555;
  caret-color: #555555;
}

ion-icon {
  pointer-events: none;
}

code-input {
  --color: #555555;
  --item-spacing: 20px;
  --item-border: 1px solid #555555;
  --item-border-radius: 15px;
  --item-border-bottom: 1px solid #555555;
  --item-border-has-value: 1px solid #555555;
  --item-border-bottom-has-value: 1px solid #555555;
  --item-border-focused: 1px solid #555555;
  --item-border-bottom-focused: 1px solid #555555;
  --item-shadow-focused: 0px;
}

@media (max-width: 520px) {
  code-input {
    --item-spacing: 3px;
  }
}
