.step-image {
  @apply object-fill h-full w-full rounded-2xl shadow;
}

@media (max-width: 768px) {
  .request-card {
    width: 100% !important;
  }
}

.document-wrapper:hover {
  .document-icon {
    display: none;
  }
  .download-icon {
    display: inline-block;
  }
}

.profile-input {
  @apply mt-2 mx-2 flex-1
}

ion-input {
  padding-left: 10px !important;
}
