.step-image {
  @apply object-cover h-full w-full rounded-2xl hover:shadow-lg hover:opacity-80 cursor-pointer shadow;
}

@media (max-width: 768px) {
  .request-card {
    width: 100% !important;
  }
}

.document-wrapper:hover {
  .document-icon {
    display: none;
  }
  .download-icon {
    display: inline-block;
  }
}

.profile-input {
  @apply mt-2 mx-2 flex-1
}