
<!-- Client request card (big screen) -->
<ion-card *ngIf="includeClientDetails && screenWidth > 768" class="border shadow-1 rounded-2xl w-full xl:w-[866px] h-[120px] mb-8 mx-0 p-4 bg-light request-card" [ngStyle]="{width: client.moodboard?.style?.name ? '866px' : '600px'}">
  <ion-grid>
    <ion-row>
      <ion-col size="2"><img [src]="client?.photoPath || '../../../assets/images/profile-img.png'" class="w-[70px] h-[70px] rounded-full object-cover"></ion-col>
      <ion-col [size]="client.moodboard?.style?.name ? 3 : 6">
        <p class="text-lg text-black-1 font-medium ">{{client?.firstName}} {{client?.lastName}}</p>
        <p class="text-base text-black-2 mt-[5px]">+{{client?.countryCode}}{{client?.phoneNumber}}</p>
      </ion-col>
      <ion-col *ngIf="client.moodboard?.style?.name" size="3">
        <p class="text-lg text-primary">SELECTED STYLE</p>
        <p class="text-lg text-black-2 mt-[5px]">{{client.moodboard?.style?.name}}</p>
      </ion-col>
      <ion-col size="3" ><ion-button fill="clear" class="primary-btn" (click)="goToChat()">Open chat</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<!-- Client request card (small screen) -->
<ion-card *ngIf="includeClientDetails && screenWidth <= 768" class="border shadow-1 rounded-2xl w-full mb-8 mx-0 py-4 bg-light request-card text-center" >
  <img [src]="client?.photoPath || '../../../assets/images/profile-img.png'" class="w-[70px] h-[70px] text-center mx-auto rounded-full object-cover mb-4">
  <div>
    <p class="text-lg text-black-1 font-medium mb-4">{{client?.firstName}} {{client?.lastName}}</p>
    <p class="text-base text-black-2 mt-[5px] mb-4">+{{client?.countryCode}}{{client?.phoneNumber}}</p>
  </div>
  <div *ngIf="client.moodboard?.style?.name">
    <p class="text-lg text-primary">SELECTED STYLE</p>
    <p class="text-lg text-black-2 mt-[5px]">{{client.moodboard?.style?.name}}</p>
  </div>
  <div><ion-button fill="clear" class="primary-btn" (click)="goToChat()">Open chat</ion-button></div>
</ion-card>

<p *ngIf="client?.moodboard" class="text-2xl text-black-2 font-medium">{{'COMMON.moodboard' | translate}}</p>
<app-moodboard-details *ngIf="client?.moodboard" [moodboard]="client.moodboard" [withSlides]="false"></app-moodboard-details>

<div *ngIf="client?.clientInspirations && client.clientInspirations.length > 0" class="flex justify-between items-center mb-6">
  <p class="text-black-2 text-2xl font-medium">Inspiration</p>
</div>
<div class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 grid gap-4">
  <div *ngFor="let item of client?.clientInspirations" class="h-[130px] lg:h-[180px]">
    <img *ngIf="item.url" src="{{item.url}}" class="step-image" (click)="openImageInModal(item)" alt="inspiration-img"/>
  </div>
</div>