<!-- Client request card (big screen) -->
<ion-card
  *ngIf="includeClientDetails && screenWidth > 970"
  class="border shadow-1 rounded-2xl w-full h-auto mb-8 mx-0 p-4 bg-light request-card"
>
  <ion-grid>
    <ion-row>
      <ion-col size="2"
        ><img
          [src]="client?.photoPath || '../../../assets/images/profile-img.png'"
          class="w-[70px] h-[70px] rounded-full object-fill"
      /></ion-col>
      <ion-col size="2">
        <p class="text-lg text-black-1 font-medium">
          {{ client?.firstName }} {{ client?.lastName }}
        </p>
        <p class="text-base text-black-2 mt-[5px]">
          +{{ client?.countryCode }}{{ client?.phoneNumber }}
        </p>
      </ion-col>
      <ion-col *ngIf="client.moodboard?.style?.name" size="2.5">
        <p class="text-lg text-primary">{{ "CLIENT-REQ.style" | translate }}</p>
        <p class="text-lg text-black-2 mt-[5px]">
          {{ client.moodboard?.style?.name }}
        </p>
      </ion-col>
      <ion-col
        *ngIf="client?.consultationDetails"
        [size]="client.moodboard?.style?.name ? 3 : 5"
      >
        <p class="text-lg text-primary">{{ "CLIENT-REQ.about" | translate }}</p>
        <!-- <p class="text-lg text-black-2 mt-[5px]">{{client.consultationDetails}}</p> -->
        <p
          class="text-lg text-black-2 mt-[5px]"
          style="display: inline"
          *ngFor="
            let item of parseConsultationDetails(client?.consultationDetails)
          "
        >
          {{ "BOOK-WHY." + item | translate }}.
        </p>
      </ion-col>
      <ion-col size="2.5"
        ><ion-button fill="clear" class="primary-btn" (click)="goToChat()">{{
          "CLIENT-REQ.chat" | translate
        }}</ion-button></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-card>
<!-- Client request card (small screen) -->
<ion-card
  *ngIf="includeClientDetails && screenWidth <= 970"
  class="border shadow-1 rounded-2xl w-full mb-8 mx-0 py-4 bg-light request-card text-center"
>
  <img
    [src]="client?.photoPath || '../../../assets/images/profile-img.png'"
    class="w-[70px] h-[70px] text-center mx-auto rounded-full object-fill mb-4"
  />
  <div>
    <p class="text-lg text-black-1 font-medium mb-4">
      {{ client?.firstName }} {{ client?.lastName }}
    </p>
    <p class="text-base text-black-2 mt-[5px] mb-4">
      +{{ client?.countryCode }}{{ client?.phoneNumber }}
    </p>
  </div>
  <div *ngIf="client.moodboard?.style?.name">
    <p class="text-lg text-primary">{{ "CLIENT-REQ.style" | translate }}</p>
    <p class="text-lg text-black-2 mt-[5px]">
      {{ client.moodboard?.style?.name }}
    </p>
  </div>
  <ion-col *ngIf="client?.consultationDetails">
    <p class="text-lg text-primary">{{ "CLIENT-REQ.about" | translate }}</p>
    <!-- <p class="text-lg text-black-2 mt-[5px]">{{client.consultationDetails}}</p> -->
    <p
      class="text-lg text-black-2 mt-[5px]"
      style="display: inline"
      *ngFor="let item of parseConsultationDetails(client?.consultationDetails)"
    >
      {{ "BOOK-WHY." + item | translate }}.
    </p>
  </ion-col>
  <div>
    <ion-button fill="clear" class="primary-btn" (click)="goToChat()">{{
      "CLIENT-REQ.chat" | translate
    }}</ion-button>
  </div>
</ion-card>

<p *ngIf="client?.moodboard" class="text-2xl text-black-2 font-medium">
  {{ "COMMON.moodboard" | translate }}
</p>
<app-moodboard-details
  *ngIf="client?.moodboard"
  [moodboard]="client.moodboard"
  [withSlides]="false"
></app-moodboard-details>

<div
  *ngIf="client?.clientInspirations && client.clientInspirations.length > 0"
  class="flex justify-between items-center mb-6"
>
  <p class="text-black-2 text-2xl font-medium">
    {{ "CLIENT-REQ.inspiration" | translate }}
  </p>
</div>
<div class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 grid gap-4 mb-20">
  <div
    *ngFor="let item of client?.clientInspirations"
    class="h-[130px] lg:h-[180px] cursor-pointer"
  >
    <img
      *ngIf="!isExtension(item, '.pdf')"
      [src]="item.url"
      (click)="openImageInModal(item)"
      class="step-image"
      alt="Inspiration Img"
    />
    <div
      *ngIf="isExtension(item, '.pdf')"
      (click)="downloadFile(item)"
      title="Download file"
      class="document-wrapper step-image text-center pt-6"
    >
      <ion-icon
        class="text-7xl document-icon"
        name="document-text-outline"
      ></ion-icon>
      <ion-icon
        class="text-7xl hidden download-icon pointer-events-none"
        name="cloud-download-outline"
      ></ion-icon>
      <p class="px-3 text-clamp-2" [title]="item?.filename">
        {{ item?.filename }}
      </p>
    </div>
  </div>
</div>

<div *ngIf="client.moodboard" class="mb-[80px]">
  <div class="flex justify-between items-center mb-6">
    <p class="text-black-2 text-2xl font-medium">
      {{ "CLIENT-REQ.info" | translate }}
    </p>
  </div>
  <div class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 grid gap-4 mb-10">
    <div
      class="h-[200px] w-[200px] border-[1px] border-black rounded-2xl bg-light"
    >
      <img class="step-image p-2" alt="Additional Img" [src]="shape" />
      <p class="text-black-2 text-2xl font-medium mt-2">
        {{ "CLIENT-REQ.shape" | translate }}
      </p>
    </div>
  </div>

  <div class="flex grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 grid gap-4">
    <div class="profile-input w-full">
      <span class="text-sm text-black-2">{{
        "CLIENT-REQ.area" | translate
      }}</span>
      <ion-input
        type="text"
        class="border rounded-2xl h-14 border-black-2 !bg-light"
        [disabled]="true"
        >{{ client.moodboard.roomDetails.size }}</ion-input
      >
    </div>
    <div class="profile-input w-full">
      <span class="text-sm text-black-2">{{
        "CLIENT-REQ.budget" | translate
      }}</span>
      <ion-input
        type="text"
        class="border rounded-2xl h-14 border-black-2 !bg-light"
        [disabled]="true"
        >{{ budget }}</ion-input
      >
    </div>
  </div>
</div>
