.step-title {
  @apply text-black-1 text-4xl mt-1;
}

.step-subtitle {
  @apply text-black-3 text-base mb-10;
}

.step-item-wrapper {
  @apply rounded-2xl hover:opacity-80 cursor-pointer w-full h-[130px] lg:h-[180px] mt-4 p-0;
}

.moodboard-item-wrapper {
  @extend .step-item-wrapper;
  @apply h-[226px] lg:h-[306px] border-[3px] border-transparent shadow-1 mb-12;
}

.selected-item {
  @apply border-[3px] border-primary border-solid;
}

.bigger-margin {
  @apply mb-10;
}

.step-image {
  @apply object-fill h-full w-full rounded-[13px];
}

.step-icon-wrapper {
  @apply h-[100%] rounded-2xl bg-light pt-[30px] lg:pt-[60px];
}

.step-color-wrapper {
  @apply h-[87%] rounded-2xl m-1 p-3 shadow-1;
}

.step-icon {
  @apply h-[50px] w-[50px] mx-auto;
}

.step-items {
  @apply min-h-[490px] max-h-[640px] overflow-auto mb-3;
}

.step-items::-webkit-scrollbar {
  @apply opacity-0 w-[5px] bg-transparent;
}

.step-items:hover::-webkit-scrollbar-thumb {
  @apply bg-[#cfcfcf];
}

.step-items::-webkit-scrollbar-thumb {
  @apply bg-[#dfdfdf] duration-1000;
}

.input {
  @apply mt-4 flex-1 w-[300px];
}

.result-grid {
  @apply grid grid-cols-13 gap-3 grid-flow-row-dense;
}

.item {
  &-sm {
    @apply bg-light;
    height: 53px;
  }
  &-sm-tall {
    @apply bg-secondary;
    grid-row: auto / span 3;
    height: 184px;
  }
  &-md {
    @apply bg-primary;
    background-size: cover !important;
    grid-column: auto / span 2;
    grid-row: auto / span 1.5;
    height: 86px;
  }
  &-lg {
    @apply bg-landing-img;
    background-size: cover !important;
    grid-column: auto / span 4;
    grid-row: auto / span 3;
    height: 184px;
  }
  &-lg-tall {
    @apply bg-img-01;
    background-size: cover !important;
    grid-column: auto / span 4;
    grid-row: auto / span 6;
    height: 381px;
  }
}

.step-items-row {
  @apply gap-x-[2%];
  row-gap: 2rem;
}
ion-input {
  @apply h-12;
}
ion-select {
  @apply border rounded-2xl h-12 border-black-2 pr-4;
}

.see-more-less {
  @apply p-0 m-0 normal-case text-black-2 text-base;
  --padding-start: 0;
  --padding-end: 0;
}

.room-details-section-container {
  display: flex;
  justify-content: flex-start;
}

.image-preview-container {
  margin-left: 5rem;
  .image-preview {
    display: flex;
    flex-wrap: wrap;
    max-height: 370px;
    overflow-y: scroll;
    border: solid 0.5px;
    margin-top: 20px;
    border-radius: 16px;
    max-width: 47rem;

    div {
      margin: 12px 9px;

      .preview-image {
        height: 10rem;
        width: 10rem;
      }
    }
  }
}

