<div>
  <h2 class="step-title">{{currentStep.title}}</h2>
  <p class="step-subtitle">{{currentStep.subtitle}}</p>
  <ion-grid class="step-items">
    <ion-row>
      <ion-col *ngFor="let item of currentStep.data" (click)="toggleItem(item)" size="5.5" size-sm="3.75" class="step-item-wrapper" [class.selected-item]="isItemSelected(item)"  [class.bigger-margin]="item.name">
        <img *ngIf="item.path" src="{{apiUrl}}{{item.path}}" class="step-image" alt="style-img"/>
        <div *ngIf="item.imagePath" class="step-icon-wrapper" >
          <img src="{{apiUrl}}{{item.imagePath}}" class="step-icon" alt="room-icon"/>
        </div>
        <div *ngIf="item.hexValue" class="step-color-wrapper" [ngStyle]="{background: item.hexValue}"></div>
        <p *ngIf="item.name" class="font-bold mt-6">{{item.name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>