<div>
  <h2 class="step-title">{{currentStep.title}}</h2>
  <p *ngIf="!currentStep.data === 'final'" class="step-subtitle">{{currentStep.subtitle}}</p>
  <p *ngIf="currentStep.data === 'final'" class="step-subtitle">{{project.currentMoodboard.style?.description}} <br/> {{project.currentMoodboard.room?.description}}</p>
  <ion-grid *ngIf="isArray(currentStep.data)" class="step-items">
    <ion-row class="step-items-row">
      <ion-col *ngFor="let item of currentStep.data" (click)="toggleItem(item)" size="5.8" size-lg="2.82" size-xl="2.2" class="step-item-wrapper" [class.selected-item]="!item.iconPath && !item.mainColor && isItemSelected(item)" [class.bigger-margin]="item.name">
        <!-- if image (style|material|product) -->
        <span *ngIf="item.imagePath" class="relative">
          <img src="{{item.imagePath}}" class="step-image" alt="style-img"/>
          <ion-icon class="absolute top-[8px] right-[8px] text-lg hover:text-2xl text-light drop-shadow-xl" (click)="openImageInModal(item, {url: item.imagePath})" name="expand-outline"></ion-icon>
        </span>
         <!-- if icon (room) -->
        <div *ngIf="item.iconPath" class="step-icon-wrapper"  [class.selected-item]="isItemSelected(item)">
          <img src="{{item.iconPath}}" class="step-icon" alt="room-icon"/>
        </div>
        <!-- if color pallete -->
        <div *ngIf="item.mainColor" class="step-color-wrapper" [class.selected-item]="isItemSelected(item)">
          <div class="w-[47.5%] h-full inline-block" [ngStyle]="{background: item.mainColor}"></div>
          <div class="w-[47.5%] h-full inline-block float-right">
            <div class="h-[30%] mb-[6%]" [ngStyle]="{background: item.shadeColorLight}"></div>
            <div class="h-[30%] mb-[6%]" [ngStyle]="{background: item.shadeColorMedium}"></div>
            <div class="h-[30%]" [ngStyle]="{background: item.shadeColorDark}"></div>
          </div>
        </div>
        <p *ngIf="!item.number && item.name" class="font-bold pt-5 text-black-2">{{item.name}} </p>
        <p *ngIf="item.number && item.name" class="font-bold mt-8 text-black-2">{{item.number}} <span class="font-normal">/ {{item.name}}</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>

   <!-- if room details -->
  <div *ngIf="currentStep.data.roomShapes">
    <p class="text-black-2 font-bold text-xl leading-[29px] mt-[30px] mb-[10px]">{{'NEW-PROJECT.room-details' | translate}}</p>
    <p class="text-black-2">{{'NEW-PROJECT.room-shape' | translate}}</p>
    <ion-grid class="step-items" style="min-height: 220px;">
      <ion-row class="step-items-row">
        <ion-col *ngFor="let item of currentStep.data.roomShapes" (click)="toggleRoomSketch(item)" size="5.8" size-sm="2.2" class="step-item-wrapper" [class.selected-item]="isItemSelected(item)"  [class.bigger-margin]="item.name">
          <div class="step-icon-wrapper" >
            <img src="../../../assets/{{item.imagePath}}" class="step-icon" alt="room-icon"/>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="w-[200px]">
      <span class="text-black-2">Or upload room sketch</span>
      <label for="dropzone-file">
        <div class="w-[200px] border-2 border-dashed rounded-2xl h-[200px] border-black-3 hover:opacity-70 cursor-pointer" [class.selected-item]="imagePath">
          <div *ngIf="!imagePath" class="text-center mt-[65px]">
            <ion-icon class="text-[27px] text-black-3" name="add-outline"></ion-icon>
            <p class="leading-[22px] font-semibold text-black-3 text-lg">{{'COMMON.upload'| translate}}</p>
          </div>
          <img *ngIf="imagePath" [src]="imagePath" class="object-cover rounded-2xl p-1 h-full w-full" alt="roomImg" />
        </div>
        <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="hidden"/>
      </label>
    </div>
    <div class="input">
      <span class="text-black-2">{{'NEW-PROJECT.room-area' | translate}}</span>
      <ion-input [(ngModel)]="project.roomDetails.size" type="number" min="1" class="border rounded-2xl h-14 border-black-2 !pr-4"></ion-input>
    </div>
    <p class="text-black-2 font-bold text-xl leading-[29px] mt-[30px] mb-[10px]">{{'NEW-PROJECT.budget' | translate}}</p>
    <div class="input">
      <span class="text-black-2">{{'NEW-PROJECT.select-budget' | translate}}</span>
      <ion-select  [(ngModel)]="project.roomDetails.budgetRate" interface="popover">
        <ion-select-option value=1>{{'COMMON.low' | translate}}</ion-select-option>
        <ion-select-option value=2>{{'COMMON.medium' | translate}}</ion-select-option>
        <ion-select-option value=3>{{'COMMON.high' | translate}}</ion-select-option>
      </ion-select>
    </div>
  </div>

  <!-- if moodboards -->
  <div *ngIf="currentStep.data.moodboards">
    <ion-grid class="step-items" style="min-height: 400px;">
      <ion-row class="step-items-row">
        <ion-col *ngFor="let item of currentStep.data.moodboards; let i = index" (click)="toggleItem(item); getMbFamily(item);" size="5.8" size-sm="3" class="moodboard-item-wrapper" [class.selected-item]="isItemSelected(item)"  [class.bigger-margin]="item.name">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <img src="{{item.style.styleImages[0].imagePath}}" class="h-[95px] lg:h-[135px] w-full mb-2 object-cover" alt="moodboard-img"/>
                  <img src="{{item.style.styleImages[2].imagePath}}" class="h-[95px] lg:h-[135px] w-full object-cover" alt="moodboard-img"/>
                </ion-col>
                <ion-col size="6">
                  <img src="{{item.style.styleImages[1].imagePath}}" class="h-full object-cover w-full" alt="moodboard-img"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          <p *ngIf="item.style.name" class="text-lg font-bold mt-4 text-black-2">{{item.style.name}}
            <span class="text-base font-normal text-primary">/ {{item.moodboardMatch}} match</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p *ngIf="currentStep.data.moodboardFamily.length > 0" class="text-black-2 font-bold text-xl leading-[29px] mt-[30px] mb-[10px]">{{'NEW-PROJECT.see-rooms-style' | translate}}</p>
    <ion-grid class="step-items" style="min-height: 810px;">
      <ion-row class="step-items-row">
        <ion-col *ngFor="let item of currentStep.data.moodboardFamily; let i = index" (click)="toggleItem(item)" size="5.5" size-sm="3" class="moodboard-item-wrapper" [class.selected-item]="isItemSelected(item)"  [class.bigger-margin]="item.name">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <img src="{{item.materials[0].imagePath}}" class="h-[95px] lg:h-[135px] w-full mb-2 object-cover" alt="moodboard-img"/>
                  <img src="{{item.products[1].imagePath}}" class="h-[95px] lg:h-[135px] w-full object-cover" alt="moodboard-img"/>
                </ion-col>
                <ion-col size="6">
                  <img src="{{item.style.styleImages[1].imagePath}}" class="h-full w-full object-cover" alt="moodboard-img"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          <p *ngIf="item.style.name" class="text-lg font-bold mt-4 text-black-2">{{item.style.name}}
            <span *ngIf="item.room?.name" class="text-base font-normal text-primary">/ {{item.room.name}}</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!mbsExpanded && currentStep.data.moodboardFamily.length > 3">
        <ion-col  size="12" size-sm="10">
        <div class="h-full w-full relative">
          <div class="mt-8 w-full h-[360px] bg-landing-img bg-cover blur rounded-lg "></div>
          <div class="flex-column text-center w-[80%] absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%)">
            <p class="text-black-1 text-xl font-bold mb-2">Premium content</p>
            <p class="text-black-2 font-bold mb-4">For trial period, you will be able to see all moodboards. Afterwards, you will have to become a premium member.</p>
            <ion-buttons class="justify-center">
              <ion-button class="primary-btn" (click)="expandMbs()">See all for free</ion-button>
              <ion-button class="secondary-btn !bg-[#F8F5F1]" routerLink="/pricing-plans" routerDirection="root">{{'PRICING-PLAN.pricing-plans' | translate}}</ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <!-- if final step -->
    <div *ngIf="currentStep.data === 'final'">
      <app-moodboard-details [moodboard]="project.currentMoodboard"></app-moodboard-details>
    </div>
</div>
