<ion-content>
  <div id="home">
    <app-header-admin></app-header-admin>
    <div class="main-container">
      <p class="main-title mb-[30px]">Style</p>
      <app-sub-header [menu]="'style'" [activeTitle]="currentSlide" [slider]="true" (changeSlide)="changeSlide($event)"></app-sub-header>
      <ion-slides #slides [options]="options" (ionSlideDidChange)="onSlideChange()">
        <ion-slide>
          <app-admin-styles></app-admin-styles>
        </ion-slide>
        <ion-slide>
          <!-- <app-admin-materials></app-admin-materials> -->
        </ion-slide>
        <ion-slide>
          <!-- <app-admin-rooms></app-admin-rooms> -->
        </ion-slide>
        <ion-slide>
          <!-- <app-admin-colors></app-admin-colors> -->
        </ion-slide>
        <ion-slide>
          <!-- <app-admin-pictures></app-admin-pictures> -->
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>