<ion-content>
  <div class="flex flex-col items-center">
    <div class="w-[80px] h-[80px] bg-light rounded-full mt-[75px] flex items-center justify-center">
      <ion-icon name="star" class="h-10 w-10 text-secondary"></ion-icon>
    </div>
    <p class="text-2xl font-medium mt-[40px]">{{'SHARE-RATE.thank-you' | translate}}</p>
    <p class="text-lg mt-[10px]">{{'SHARE-RATE.success-rate' | translate}} <b>{{designerFullname}}</b></p>
    <ion-button fill="clear" class="primary-btn mt-[40px]" (click)="dismiss()">{{'SHARE-RATE.go-to' | translate}}</ion-button>
  </div>
</ion-content>
