<ion-content>
  <div class="flex flex-col items-center">
    <div class="w-[80px] h-[80px] bg-light rounded-full mt-[75px] flex items-center justify-center">
      <ion-icon name="star" class="h-10 w-10 text-secondary"></ion-icon>
    </div>
    <p class="text-2xl font-medium mt-[40px]">Thank you for rating</p>
    <p class="text-lg mt-[10px]">You successfully rated <b>Joana Martinez</b></p>
    <ion-button fill="clear" class="primary-btn mt-[40px]" (click)="dismiss()">Go to My Intiri</ion-button>
  </div>
</ion-content>
