/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

@media (min-width: 576px) {
  .modal-css::part(content) {
    --width: 400px;
    border-radius: 16px;
    --height: 400px;
  }

  .book-designer-modal-css::part(content) {
    --width: 884px;
    border-radius: 16px;
    --height: 1090px;
  }
}

ion-button {
  --background-hover-opacity: 0;
  --background-focused-opacity: 0;
  --background-activated: transparent;
  --background-activated-opacity: 1;
  --ripple-color: transparent;
  opacity: 1;
}


.main-title {
  @apply font-medium text-black-1 text-5xl mt-0
}

.primary-btn {
  @apply hover:opacity-80 bg-primary text-white normal-case rounded-xl text-lg px-4;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem;
}

.secondary-btn {
  @apply hover:opacity-80 bg-transparent text-primary normal-case rounded-xl border-primary border px-4;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem;
}

.header-container {
  @apply 2xl:container px-[3%] xs:px-[5%] sm:px-[10%]
}

// should be wrapped around every main content of the page (main section below header)
.main-container {
  @extend .header-container;
  @apply my-[50px] pt-0;
}

.native-input.sc-ion-input-md {
  @apply focus:ring-0;
  padding-left: 15px;
}

code-input {
  span:first-child {
    padding-left: 0px !important;
  }
}
