/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

//angular-notifier
@import "~angular-notifier/styles.css";

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

// angular-notifier override
.notifier__notification--success {
  background-color: var(--ion-color-primary);
}

@media (min-width: 576px) {
  .auto-size-modal-css::part(content) {
    --width: 600px;
    --height: 430px;
    border-radius: 16px;
  }

  .open-file-modal-css::part(content) {
    --width: auto;
    --height: auto;
    --max-width: 75vw;
    --max-height: 75vh;
    border-radius: 16px;
  }
  .small-modal-css::part(content) {
    --width: 400px;
    border-radius: 16px;
    --height: 400px;
  }

  .medium-modal-css::part(content) {
    width: 30%;
    max-width: 600px;
    --width: 400px;
    border-radius: 16px;
    --height: 550px;
  }

  .final-project-step-modal-css::part(content) {
    --width: 480px;
    border-radius: 16px;
    --height: 460px;
  }

  .add-designer-modal-css::part(content) {
    --width: 826px;
    border-radius: 15px;
    --height: 802px;
  }

  .add-partner-modal-css::part(content) {
    --width: 826px;
    border-radius: 15px;
    --height: 90vh;
  }

  .added-designer-modal-css::part(content) {
    --width: 600px;
    border-radius: 15px;
    --height: 445px;
  }

  .add-color-modal-css::part(content) {
    --width: 826px;
    border-radius: 15px;
    --height: 850px;
  }

  .add-partner-contact-modal-css::part(content) {
    --width: 820px;
    border-radius: 15px;
    --height: 645px;
  }

  .book-designer-modal-css::part(content) {
    --width: 884px;
    border-radius: 16px;
    --height: 95%;
  }

  .product-modal-css::part(content)  {
    --width: 50%;
    border-radius: 16px;
    --height: 80%;
    .max-w-md w-full space-y-8 mt-6 {
      height: 100%c !important;
    }
  }
}

ion-popover {
  --backdrop-opacity: 0;
  --offset-y: 10px;
}

ion-button {
  --background-hover-opacity: 0;
  --background-focused-opacity: 0;
  --background-activated: transparent;
  --background-activated-opacity: 1;
  --ripple-color: transparent;
  opacity: 1;
}

ion-input {
  background-color: #F8F5F1 !important;
}

ion-toolbar {
  --background: var(--ion-color-light);
}

.fixed-bottom {
  @apply xl:pl-[75px] h-[130px] lg:h-[90px];
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #EFE8DE;
  left: 0;
  z-index: 99;
}


.main-title {
  @apply font-medium text-black-1 text-3xl sm:text-4xl mt-0
}

// without this change ion-grid does not work well, since slide is reducing container width based on given content (eg. size=12 will not take full width if content is not wide enough)
.swiper-slide {
  display: block;
}

.no-visible-area {
  .textarea-wrapper.sc-ion-textarea-md {
    display: none;
  }
}

.primary-btn {
  //this one don't resize on smaller screens (don't have media queries)
  @apply hover:opacity-80 bg-primary text-white normal-case rounded-[15px] text-lg px-4 tracking-normal;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem !important;

  &.large {
    height: 60px !important;
    font-size: 1.5rem !important;
  }
}


.primary-btn-responsive {
  @apply hover:opacity-80 bg-primary text-white normal-case rounded-[15px] text-lg px-4 tracking-normal;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem !important;
}

.secondary-btn {
  //this one don't resize on smaller screens (don't have media queries)
  @apply hover:opacity-80 bg-transparent text-primary normal-case rounded-[15px] border-primary border px-4 tracking-normal;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem !important;
}

.secondary-btn-responsive {
  @apply hover:opacity-80 bg-transparent text-primary normal-case rounded-[15px] border-primary border px-4 tracking-normal;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem !important;
}

.header-icon {
  @apply text-primary text-2xl border border-transparent rounded-xl bg-light cursor-pointer hover:opacity-80 p-[0.7rem] mr-2
}

.header-profile-img {
  @apply object-fill rounded-xl h-[45px] w-[45px] mr-4 hover:opacity-80;
}

.selected-border {
  @apply border rounded-xl border-primary
}

.header-container {
  @apply px-[75px];
}

.box-shadow {
  -webkit-box-shadow: 4px 4px 15px rgb(0, 0, 0, 0.25);
}

@media (max-width: 1479px) {
  .header-icon {
    font-size: 18px !important;
  }
  .header-profile-img {
    height: 36px !important;
    width: 36px !important;
  }

  .primary-btn-responsive, .secondary-btn-responsive {
    @apply px-2 rounded-[8px];
    margin: 0 !important;
    font-size: 16px !important;
    height: 36px !important;
  }
}

// should be wrapped around every main content of the page (main section below header)
.main-container {
  @extend .header-container;
  @apply mt-[120px] mb-[50px] px-[30px] lg:px-[75px] pt-0;
}

.ion-card-container {
  @apply rounded-[15px] p-4 bg-white;
  -webkit-box-shadow: 4px 4px 15px rgb(0, 0, 0, 0.25);
}

.native-input.sc-ion-input-md {
  @apply focus:ring-0;
  padding-left: 15px;
}

.clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-clamp-1 {
  @extend .clamp;
  -webkit-line-clamp: 1;
}

.text-clamp-2 {
  @extend .clamp;
  -webkit-line-clamp: 2;
}

.text-clamp-3 {
  @extend .clamp;
  -webkit-line-clamp: 3;
}

.text-clamp-4 {
  @extend .clamp;
  -webkit-line-clamp: 4;
}

// override for color picker from ngx-color-picker library (cannot be overriden inside a component)
.color-picker {
  position: absolute !important;
  top: auto !important;
  bottom: 85px !important;
  left: 30% !important;
}

.color-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ion-warning {
  display: flex;
  font-size: 12px;
  color: red;
  padding: 0;
  margin: 0;
  justify-content: center;
  padding-top: 1px;
}

code-input {
    span:first-child {
      padding-left: 0px !important;
    }
  }

// dashboard card global style
.result-grid {
  @apply grid grid-cols-13 gap-3 grid-flow-row-dense;
}

.item {
  &-sm {
    height: 53px;
  }
  &-sm-tall {
    grid-row: auto / span 3;
    height: 184px;
  }
  &-md {
    background-size: cover !important;
    grid-column: auto / span 2;
    grid-row: auto / span 1.5;
    height: 86px;
  }
  &-lg {
    background-size: cover !important;
    grid-column: auto / span 4;
    grid-row: auto / span 3;
    height: 184px;
  }
  &-lg-tall {
    background-size: cover !important;
    grid-column: auto / span 4;
    grid-row: auto / span 6;
    height: 381px;
  }
}

@media (min-width: 1480px) {
  .item {
    &-sm {
      height: 80px;
    }
    &-sm-tall {
      grid-row: auto / span 3;
      height: 284px;
    }
    &-md {
      background-size: cover !important;
      grid-column: auto / span 2;
      grid-row: auto / span 1.5;
      height: 136px;
    }
    &-lg {
      background-size: cover !important;
      grid-column: auto / span 4;
      grid-row: auto / span 3;
      height: 284px;
    }
    &-lg-tall {
      background-size: cover !important;
      grid-column: auto / span 4;
      grid-row: auto / span 6;
      height: 581px;
    }
  }

}
