/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";


@media (min-width: 576px) {
  .auto-size-modal-css::part(content) {
    --width: 600px;
    --height: 430px;
    border-radius: 16px;
  }
  .small-modal-css::part(content) {
    --width: 400px;
    border-radius: 16px;
    --height: 400px;
  }

  .medium-modal-css::part(content) {
    width: 30%;
    max-width: 600px;
    --width: 400px;
    border-radius: 16px;
    --height: 550px;
  }

  .final-project-step-modal-css::part(content) {
    --width: 460px;
    border-radius: 16px;
    --height: 460px;
  }

  .add-designer-modal-css::part(content) {
    --width: 826px;
    border-radius: 15px;
    --height: 802px;
  }

  .add-partner-modal-css::part(content) {
    --width: 826px;
    border-radius: 15px;
    --height: 90vh;
  }

  .added-designer-modal-css::part(content) {
    --width: 600px;
    border-radius: 15px;
    --height: 445px;
  }

  .add-color-modal-css::part(content) {
    --width: 826px;
    border-radius: 15px;
    --height: 850px;
  }

  .add-partner-contact-modal-css::part(content) {
    --width: 820px;
    border-radius: 15px;
    --height: 645px;
  }

  .book-designer-modal-css::part(content) {
    --width: 884px;
    border-radius: 16px;
    --height: 95%;
  }
}

ion-popover {
  --backdrop-opacity: 0;
  --offset-y: 10px;
}

ion-button {
  --background-hover-opacity: 0;
  --background-focused-opacity: 0;
  --background-activated: transparent;
  --background-activated-opacity: 1;
  --ripple-color: transparent;
  opacity: 1;
}


.main-title {
  @apply font-medium text-black-1 text-4xl sm:text-5xl mt-0
}

// without this change ion-grid does not work well, since slide is reducing container width based on given content (eg. size=12 will not take full width if content is not wide enough)
.swiper-slide {
  display: block;
}

.primary-btn {
  @apply hover:opacity-80 bg-primary text-white normal-case rounded-[15px] text-lg px-4 tracking-normal;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem !important;
}

.secondary-btn {
  @apply hover:opacity-80 bg-transparent text-primary normal-case rounded-[15px] border-primary border px-4 tracking-normal;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  height: 46px !important;
  font-weight: 500 !important;
  font-size: 1.125rem !important;
}

.header-container {
  @apply px-[75px];
}

.box-shadow {
  -webkit-box-shadow: 4px 4px 15px rgb(0, 0, 0, 0.25);
}

// should be wrapped around every main content of the page (main section below header)
.main-container {
  @extend .header-container;
  @apply my-[50px] px-[30px] lg:px-[75px] pt-0;
}

.ion-card-container {
  @apply border border-black rounded-[15px] p-4 shadow-none bg-white
}

.native-input.sc-ion-input-md {
  @apply focus:ring-0;
  padding-left: 15px;
}

.text-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

// override for color picker from ngx-color-picker library (cannot be overriden inside a component)
.color-picker {
  position: absolute !important;
  top: auto !important;
  bottom: 85px !important;
  left: 30% !important;
}

code-input {
    span:first-child {
      padding-left: 0px !important;
    }
  }

// dashboard card global style
.result-grid {
  @apply grid grid-cols-13 gap-3 grid-flow-row-dense;
}
.item {
  &-sm {
    @apply bg-light;
    height: 53px;
  }
  &-sm-tall {
    @apply bg-secondary;
    grid-row: auto / span 3;
    height: 184px;
  }
  &-md {
    @apply bg-primary;
    background-size: cover !important;
    grid-column: auto / span 2;
    grid-row: auto / span 1.5;
    height: 86px;
  }
  &-lg {
    @apply bg-landing-img;
    background-size: cover !important;
    grid-column: auto / span 4;
    grid-row: auto / span 3;
    height: 184px;
  }
  &-lg-tall {
    @apply bg-img-01;
    background-size: cover !important;
    grid-column: auto / span 4;
    grid-row: auto / span 6;
    height: 381px;
  }
}
