<!-- <ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <ion-button fill="clear" class="back-btn" routerLink="/my-intiri" routerDirection="root">
        <ion-icon name="arrow-back" class="w-6 h-6" slot="start"></ion-icon>
        <p>My Intiri</p>
      </ion-button>
      <p class="main-title">Skandinavian bright</p>
      <div class="mt-7 flex flex-wrap justify-between p-2 xl:p-0">
        <div *ngFor="let mb of moodboards">
          <ion-card class="h-[350px] w-full xl:w-[370px] border border-black rounded-2xl m-0 mt-5 mb-2 shadow-none p-4">
            <img src={{mb.image}} class="w-full h-full">
          </ion-card>
          <div class="flex items-center justify-start">
            <p class="text-black-2 text-2xl font-medium">{{mb.name}}</p>
            <ion-button fill="clear" class="text-black" routerLink="/moodboard-details" routerDirection="root">
              <ion-icon name="arrow-forward" class="h-6 w-6 text-black-2"></ion-icon>
            </ion-button>
          </div>
          <div>
            <p class="text-black-3 text-lg">{{mb.pieces}} pieces / {{mb.updated}} ago</p>
          </div>
        </div>
        <ion-card class="h-[350px] w-[370px] border border-black-3 border-dashed rounded-2xl shadow-none m-0 mt-5 p-4 flex justify-center items-center flex-col">
          <ion-icon name="add" class="w-20 h-20" routerLink="/new-project"></ion-icon>
          <p class="text-lg font-medium">Add new moodboard</p>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content> -->

<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <ion-button fill="clear" class="back-btn" routerLink="/my-intiri" routerDirection="root">
        <ion-icon name="arrow-back" class="w-6 h-6" slot="start"></ion-icon>
        <p>My Intiri</p>
      </ion-button>
      <!-- <p class="main-title">Skandinavian bright</p> -->
      <div *ngIf="project">
        <p class="main-title">{{project.name}}</p>
        <div class="mt-7 flex flex-wrap gap-x-[4.5%] p-2 xl:p-0">
          <div *ngFor="let mb of moodboards" class="w-full md:w-[45%] xl:w-[30%]">
            <ion-card class="h-[350px] w-full border border-black rounded-2xl m-0 mt-5 mb-2 shadow-none p-4">
              <img src="{{mb.style.imagePath}}" routerLink="/project-details/{{project.id}}/moodboard-details/{{mb.id}}" routerDirection="root" class="w-full h-full object-cover cursor-pointer hover:opacity-90">
            </ion-card>
            <div class="flex items-center justify-start cursor-pointer hover:opacity-90" routerLink="/project-details/{{project.id}}/moodboard-details/{{mb.id}}" routerDirection="root">
              <p class="text-black-2 text-2xl font-medium">{{mb.name}}</p>
              <ion-button fill="clear" class="text-black">
                <ion-icon name="arrow-forward" class="h-6 w-6 text-black-2"></ion-icon>
              </ion-button>
              <!-- <ion-button fill="clear" class="text-black" (click)="goToMoodboardDetails(mb)">
                <ion-icon name="arrow-forward" class="h-6 w-6 text-black-2"></ion-icon>
              </ion-button> -->
            </div>
            <div>
              <!-- <p class="text-black-3 text-lg">{{mb.pieces}} pieces / {{mb.updated}} ago</p> -->
            </div>
          </div>

          <ion-card class="h-[350px] w-full md:w-[45%] xl:w-[30%] border border-black-3 border-dashed rounded-2xl shadow-none m-0 mt-5 p-4 flex justify-center items-center flex-col cursor-pointer hover:opacity-80">
            <ion-icon name="add" class="w-20 h-20" (click)="addMoodboardToProject()"></ion-icon>
            <p class="text-lg font-medium">Add new moodboard</p>
          </ion-card>

        </div>
      </div>
    </div>
  </div>
</ion-content>
