<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <!-- <ion-button fill="clear" class="back-btn" routerLink="/my-intiri" routerDirection="root">
        <ion-icon name="arrow-back" class="w-6 h-6" slot="start"></ion-icon>
        <p>{{'MY-INTIRI.intiri' | translate}}</p>
      </ion-button> -->
      <div *ngIf="project">
        <p class="main-title">{{project.name}}</p>
        <div class="mt-7 flex flex-wrap gap-x-[2.4%] p-2 xl:p-0 mb-24">
          <div *ngFor="let moodboard of moodboards" class="w-full md:w-[45%] xl:w-[31.5%] mb-4">
            <ion-grid class="border shadow-1 rounded-2xl">
              <ion-row>
                <ion-col size="4.5" class="!p-3 !pr-2">
                  <div class="border border-light bg-white mb-2">
                    <img *ngIf="moodboard?.styleImages?.[0]?.imagePath" src="{{moodboard?.styleImages[0]?.imagePath}}" class="!h-[120.5px] mac:!h-[155px] !w-full object-cover" alt="moodboard-img"/>
                  </div>
                  <div class="border border-light bg-white">
                    <img *ngIf="moodboard?.products?.[0]?.imagePath" src="{{moodboard?.products[0]?.imagePath}}" class="!h-[120.5px] mac:!h-[155px] !w-full object-cover" alt="moodboard-img"/>
                  </div>
                </ion-col>
                <ion-col size="7.5" class="!p-3 !pl-0">
                  <div class="border border-light bg-white">
                    <img *ngIf="moodboard?.styleImages[1]?.imagePath" src="{{moodboard?.styleImages[1]?.imagePath}}" class="!h-[251px] mac:!h-[320px] !w-full object-cover" alt="moodboard-img"/>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="flex items-center justify-between cursor-default mt-3 mac:mt-0">
              <p class="text-black-2 text-2xl font-medium min-w-[45px] text-clamp-2 pr-1">{{moodboard.style.name}}</p>
              <ion-button fill="clear" class="primary-btn-responsive !bg-none mt-3 !px-1" routerLink="/project-details/{{project.id}}/moodboard-details/{{moodboard.id}}" routerDirection="root">{{'COMMON.view' | translate}}</ion-button>
            </div>
            <div>
              <p class="text-black-3 text-lg">{{moodboard.created | timeAgo }}</p>
              <!-- <p class="text-black-3 text-lg">{{getMbPiecesNo(mb)}} pieces / {{project.created | timeAgo }}</p> -->
            </div>
          </div>

          <ion-card class="h-[286px] mac:h-[350px] w-full md:w-[45%] xl:w-[30%] border border-black-3 border-dashed rounded-2xl shadow-none m-0 mt-1 p-4 flex justify-center items-center flex-col cursor-pointer hover:opacity-80">
            <ion-icon name="add" class="w-20 h-20" (click)="addMoodboardToProject()"></ion-icon>
            <p class="text-lg font-medium">{{'PROJECT-DETAILS.new' | translate}}</p>
          </ion-card>

          <app-back
            backPath="/my-intiri"
            [additionalButtons]="[
              {
                name: 'MY-INTIRI.book',
                routerLink: '/book-designer'
              }
            ]"
          ></app-back>
        </div>
      </div>
    </div>
  </div>
</ion-content>
