<ion-content>
    <div id="home">
        <app-header-landing [isDesignerPortfolioPage]="true" [isScrolledDown]="isScrolledDown"></app-header-landing>
            <ion-grid class="px-0 m main-container designer-profile-container" *ngIf="(designerDetails$ | async) !== null && (designerDetails$ | async) as designerDetails">
                <ion-row class="designer-profile-info-container" >
                    <ion-col class="profile-pic-container">
                    <img [src]="designerDetails.photoPath" alt="" srcset="" class="h-full w-full object-cover">
                    </ion-col>
                    <ion-col class="profile-bio-container">
                    <h1 class="name">{{designerDetails.firstName}}</h1>
                    <div class="misc-info">
                        {{designerDetails.city}}, {{designerDetails.country}} | {{designerDetails.designerInfo.openToHomeVist ? ('CONTACT-DESIGNER.home-visit' | translate) : ('CONTACT-DESIGNER.online-consultation' | translate)}} | {{designerDetails.designerInfo.position}}
                    </div>
                    <div class="service-container">
                        <div *ngFor="let service of getDesignerServices()" class="service-box">{{'BOOK-WHY.' + service | translate}}</div>
                    </div>
                    <div class="desc">
                        {{ getCurrentLang() === 'no' ? designerDetails.designerInfo.profileDescription_NO : designerDetails.designerInfo.profileDescription }}
                    </div>
                    <div class="charges">
                        {{'CONTACT-DESIGNER.charges' | translate}}: <strong>{{designerDetails.designerInfo.price}} NOK</strong> {{'CONTACT-DESIGNER.per-hour' | translate}}
                    </div>
                    <ion-button class="button h-[52px] mt-10 normal-case" (click)="bookConsultation()">{{'CONTACT-DESIGNER.book-a-consultation' | translate}}</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="designer-portfolio-container">
                    <h1 class="heading">{{'CONTACT-DESIGNER.portfolio' | translate}}</h1>
                    <div class="designer-portfolio-image-container">
                      <div *ngFor="let portfolio of designerDetails.designerPortfolio">
                        <img
                          [src]="portfolio.imagePath"
                          [alt]="portfolio.publicId"
                          class="portfolio-image"
                        >
                      </div>
                    </div>
                </ion-row>
            </ion-grid>
    </div>
</ion-content>
