.hero-pencraft {
  @apply text-black-2 font-Allison text-4xl md:text-6xl mb-8 leading-[90px];
}

.hero-text {
  @apply text-black-1 text-3xl md:text-4xl xl:text-4xl 2xl:text-6xl lg:text-left mb-6 leading-[60px] xl:leading-[50px] 2xl:leading-[90px] font-bold;
}

.hero-wrapper {
  @apply bg-landing-img rounded-2xl bg-cover mb-4 2xl:mb-16 mt-[-72px] mx-4 2xl:mx-12;
  height: calc(100vh - 7rem);
}
@media (max-width: 1536px) {
  .hero-wrapper {
    height: calc(100vh - 2.5rem);
  }
}
@media (max-height: 850px) {
  .hero-text {
    @apply text-4xl leading-[50px];
  }
}

.hero-text-wrapper {
  @apply lg:w-[610px] top-[90px] 2xl:top-[150px] absolute flex flex-1 flex-col items-start;
}

.pencraft {
  @apply pt-16 text-black-2 font-Allison text-6xl leading-[70px];
}

.pencraft-white {
  @extend .pencraft;
  @apply text-white pt-0;
}

.landing-headline {
  @apply text-black-1 text-4xl lg:text-5xl text-left mb-6 leading-[55px] font-bold;
}

.landing-headline-white {
  @extend .landing-headline;
  @apply text-white text-center;
}

.landing-text {
  @apply font-normal text-black-2 text-[18px] leading-[30px];
}

.landing-bold {
  @apply font-bold text-black-1 text-[18px] leading-[30px];
}

.landing-img {
  @apply m-1 ml-0 rounded-2xl max-h-[80vh];
}

.quote-icon {
  @apply inline-block w-[27px] h-[40px] bg-quote;
}

.arrow-icon {
  @apply inline-block cursor-pointer w-[40px] h-[20px] hover:opacity-50;
}

.contact-btn {
  @apply hover:opacity-70 bg-transparent text-white normal-case rounded-xl border-white border px-4 mx-auto my-0 h-10;
}

ion-slides {
  --bullet-background: black;
  padding-bottom: 30px;
}

.designer-profile-container {
  min-height: 100%;
}
.designer-profile-info-container {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-column-gap: 5%;
  .profile-pic-container {
    width: 100%;
    background: lightgray 50% / cover no-repeat;
    max-height: 32rem;
  }

  .profile-bio-container {
    width: 100%;
    position: relative;

    .name {
      color: var(--deepgrey, #333332);
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      margin-top: 0px;
      letter-spacing: -0.09188rem;
    }

    .misc-info {
      color: #9b7e60;
      margin-bottom: 21px;
      font-size: 1.25rem;
    }

    .service-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      list-style-type: none;
      width: 100%;

      .service-box {
        background: var(--lightbase, #fcfaf7);
        border-radius: 8px;
        color: var(--deepbrown, #453224);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 1rem 1.5rem;
        text-align: center;
      }
    }

    .desc {
      margin-top: 35px;
    }
    .charges {
      margin-top: 14px;
    }

    .button {
      color: #fff;
    }
  }
}

.designer-portfolio-container {
  display: block;
  .heading {
    color: #272d37;
    font-size: 40px;
    font-weight: 500;
    display: block;
    margin-bottom: 4rem;
  }
  .designer-portfolio-image-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 4% 5%;
    margin: 24px auto;
    margin-bottom: 10rem;

    .portfolio-image {
      height: 25rem;
      width: 27rem;
    }
  }
}

@media (max-width: 1400px) and (min-width: 540px) {
  .designer-profile-container {
    margin: 2rem 3rem;
    .designer-profile-info-container {
      grid-template-columns: 40% 55%;
    }
  }
}
