<ion-content>
  <ion-row>
    <ion-col offset-xl="1" size-xl="5" class="p-2 xl-ion:p-12 h-full">
      <div class="w-full xl:w-[470px]">
        <img
          class="h-7 w-auto cursor-pointer"
          src="../../../assets/images/intiri-logo.svg"
          (click)="onIntiriIconClick()"
        />
        <div class="max-w-md mx-auto">
          <h1
            class="font-['IBM Plex Sans'] font-bold text-6xl mt-16 text-black-2"
          >
            {{'LOGIN.welcome' | translate}}
          </h1>
          <h1 class="text-3xl font-semibold">{{'LOGIN.login' | translate}}</h1>
          <p class="text-lg text-black-2">{{'LOGIN.login-msg' | translate}}</p>
          <form
            [formGroup]="loginForm"
            class="mt-2 text-left login-form-grid"
            (ngSubmit)="login()"
            autocomplete="off"
          >
            <div class="mt-8">
              <span class="text-xs text-black-2 text-left block mb-[3px]"
                >{{'LOGIN.phone' | translate}}</span
              >
              <div class="flex gap-x-4">
                <div>
                  <ion-select
                    class="border rounded-xl border-black-2 w-24 text-lg h-12"
                    interface="popover"
                    (ionChange)="setActiveCode($event)"
                    [value]="activeCode"
                  >
                    <ion-select-option value="47">
                      <div>
                        <p class="text-black">+47</p>
                      </div>
                    </ion-select-option>
                    <ion-select-option value="381">
                      <p class="text-black">+381</p>
                    </ion-select-option>
                  </ion-select>
                </div>
                <div class="flex-grow">
                  <ion-input
                    #phoneNumber
                    formControlName="phoneNumber"
                    name="phoneNumber"
                    maxlength="8"
                    class="border rounded-xl border-black-2 text-lg h-12"
                  ></ion-input>
                  <span
                    class="ion-warning"
                    *ngIf="isFormSubmited && phoneNumberErrors?.required"
                    >{{'VALIDATION.phone-req' | translate}}</span
                  >
                  <span
                    class="ion-warning"
                    *ngIf="isFormSubmited && phoneNumberErrors?.pattern"
                    >I{{'VALIDATION.phone' | translate}}</span
                  >
                  <span class="ion-warning" *ngIf="error">{{error}}</span>
                </div>
              </div>
            </div>
            <div class="mt-[16px] xl:mt-[30px] text-center">
              <ion-button
                fill="clear"
                class="primary-btn-no-x-margin !m-0"
                type="submit"
                >{{'LOGIN.login-btn' | translate}}</ion-button
              >
              <!-- <p class="text-sm xl:text-lg text-black-2 mt-2 xl:mt-4"> -->
              <!-- {{'LOGIN.or' | translate}} -->
              <!-- </p> -->
              <!-- <ion-button fill="clear" -->
              <!-- class="vipps-btn mt-4" -->
              <!-- (click)="initiateVippsLogin()" -->
              <!-- > -->
              <!-- <img src="../../../assets/icon/vipps-white.svg" /> -->
              <!-- </ion-button> -->
              <p class="text-sm text-black-2 mt-8">
                {{'LOGIN.no-account' | translate}}
              </p>
              <ion-button
                fill="clear"
                class="secondary-btn-no-x-margin !mx-0 mt-4"
                routerLink="/register"
                routerDirection="root"
                >{{'LOGIN.create' | translate}}</ion-button
              >
            </div>
          </form>
        </div>
      </div>
    </ion-col>
    <ion-col
      size="12"
      size-xl="6"
      class="p-2 xl-ion:p-12 h-full hidden xl-ion:flex justify-center xl-ion:justify-end"
    >
      <div
        class="bg-img-01 rounded-xl bg-cover w-[900px]"
        style="height: calc(100vh - 6rem)"
      ></div>
    </ion-col>
  </ion-row>
</ion-content>
