<ion-content>
  <ion-row>
    <ion-col offset-xl="2" size-xl="4" class="p-2 xl:p-12 h-full">
      <div class="w-full xl:w-[470px]">
        <img class="h-7 w-auto" src="../../../assets/images/intiri-logo.svg">
        <h1 i18n class="font-['Allison'] text-7xl mt-16 text-black-2">Welcome back</h1>
        <h1 i18n class="text-5xl font-semibold">Login</h1>
        <p i18n class="text-lg text-black-2">
          Manage your account, create and edit projects, collaborate on design and more.
        </p>
        <form #loginForm="ngForm" class="d-flex mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
        <div class="mt-8">
          <span i18n class="text-sm text-black-2">Phone number</span>
          <div class="flex justify-between">
            <div>
              <ion-select class="border rounded-2xl border-black-2 h-14 w-24 xl:w-32" interface="popover">
                <ion-select-option>
                  <div>
                    <p class="text-lg text-black">+47</p>
                  </div>
                </ion-select-option>
                <ion-select-option>
                  <p class="text-lg text-black">+381</p>
                </ion-select-option>
              </ion-select>
            </div>
            <div>
              <ion-input [(ngModel)]="model.phoneNumber" name="phoneNumber" type="tel" class="border rounded-2xl h-14 border-black-2 w-60 xl:w-80"></ion-input>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center">
          <ion-button i18n fill="clear" class="primary-btn mt-[30px]" type="submit">Login</ion-button>
          <p i18n class="text-lg text-black-2 mt-7">Or</p>
          <ion-button fill="clear" class="vipps-btn">
            <img src="../../../assets/icon/vipps-white.svg">
          </ion-button>
          <p i18n class="text-lg text-black-2 mt-20">Don't have an account?</p>
          <ion-button i18n fill="clear" class="secondary-btn" routerLink="/register" routerDirection="root">Create an account</ion-button>
        </div>
        </form>
      </div>
    </ion-col>
    <ion-col size="12" size-xl="6" class="p-2 xl:p-12 h-full flex justify-end">
      <div class="bg-img-01 rounded-2xl bg-cover h-[980px] w-[900px]"></div>
    </ion-col>
  </ion-row>
</ion-content>
