
<ion-content>
  <div id="home">
    <app-header></app-header>
    <div class="main-container">
      <ion-button fill="clear" class="back-btn" (click)="backToProjectDetails()">
        <ion-icon name="arrow-back" class="w-6 h-6" slot="start"></ion-icon>
        <p>Project details</p>
      </ion-button>
      <p class="main-title">{{moodboard.name}}</p>
      <div class="p-2 xl:p-0">
        <app-moodboard-details [moodboard]="moodboard"></app-moodboard-details>
        <div class="flex flex-col lg:flex-row justify-center mt-10 xl:mt-40 mb-40">
          <ion-button fill="clear" class="secondary-btn" routerLink="/edit-moodboard/{{moodboard.id}}/project/{{projectId}}" routerDirection="root">{{'MOODBOARD-DETAILS.edit' | translate}}</ion-button>
          <ion-button fill="clear" class="primary-btn" routerLink="/contact-designer/{{moodboard.id}}" routerDirection="root">{{'MOODBOARD-DETAILS.contact-designer' | translate}}</ion-button>
          <ion-button fill="clear" class="secondary-btn opacity-60" disabled>{{'MOODBOARD-DETAILS.contact-craftsman' | translate}}</ion-button>
        </div>
      </div>

    </div>
  </div>
</ion-content>
