.profile-input {
    @apply mt-4 flex-1 text-left text-black-2;
}

ion-select {
    @apply border rounded-2xl h-12 border-black-2 pr-4;
}

ion-col {
    @apply mb-4
}

.card {
    @apply border rounded-2xl shadow-1 h-[200px] p-[18px] pl-[13px]
}

.step-icon-wrapper {
    @apply h-[93%] rounded-sm m-2 bg-light pt-[50px]
}

.step-icon {
@apply h-[70px] w-[55px] mx-auto;
}

.step-color-wrapper {
    @apply h-[87%] rounded-sm m-2;
  }