.chat {
  @apply h-[490px] border-b border-secondary py-[25px] overflow-auto;
}

.chat-input {
  @apply flex min-h-[102px] items-center;
}

.chat-bubble {
  @apply clear-both p-[15px] text-left my-[5px] max-w-[400px];
}

.l-side {
  @apply ml-[55px] bg-white;
}

.r-side {
  @apply float-right mr-[27px] bg-secondary;
}
.chat-left {
  @extend .chat-bubble;
  @extend .l-side;
  @apply rounded-b-lg rounded-tr-lg;
}

.chat-right {
  @extend .chat-bubble;
  @extend .r-side;
  @apply rounded-b-lg rounded-tl-lg;
}

.download-img {
  display: none;
}

.chat-image {
  @extend .chat-bubble;
  @apply w-[150px] h-[110px] lg:w-[250px] lg:h-[180px] rounded-lg bg-cover p-0 relative;
}

.chat-image:hover {
  .download-img {
    display: block;
  }
}

.chat-file {
  @extend .chat-bubble;
  @apply w-[170px] h-[50px] rounded-lg p-0 cursor-pointer hover:opacity-70 relative;
}

.chat::-webkit-scrollbar {
  @apply opacity-0 w-[4px] bg-transparent;
}
.chat:hover::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
.chat::-webkit-scrollbar-thumb {
  @apply bg-secondary duration-1000;
}

.img-btn {
  @apply text-[32px] mr-[20px] text-primary cursor-pointer;
}

.send-btn-wrapper {
  @apply text-white bg-primary p-[10px] rounded-full mr-[20px] h-[38px] w-[38px];
}

.send-btn {
  @apply text-[22px] mt-[-1px] cursor-pointer;
}

.disabled {
  @apply opacity-60 pointer-events-none;
}
.text-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
