.chat {
  @apply h-[490px] border-b border-secondary py-[25px] overflow-auto;
}

.chat-input {
    @apply flex h-[102px] items-center;
}

.chat-bubble {
  @apply clear-both  p-[15px] text-left my-[5px] max-w-[400px];
}

.chat-left {
  @extend .chat-bubble;
  @apply bg-white ml-[55px] rounded-b-lg rounded-tr-lg;
}

.chat-right {
  @extend .chat-bubble;
  @apply float-right bg-secondary mr-[27px] rounded-b-lg rounded-tl-lg;
}

.chat::-webkit-scrollbar {
  @apply opacity-0 w-[4px] bg-transparent;
}
.chat:hover::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
.chat::-webkit-scrollbar-thumb {
  @apply bg-secondary duration-1000;
}

.img-btn {
    @apply text-[32px] mr-[20px] text-primary cursor-pointer;
}

.send-btn-wrapper {
    @apply text-white bg-primary p-[10px] rounded-full mr-[20px] h-[38px] w-[38px];
}

.send-btn {
    @apply text-[22px] mt-[-1px] cursor-pointer;
}

.disabled {
    @apply opacity-60 pointer-events-none;
}
.text-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}