<ion-content>
  <div id="home">
    <ngx-spinner size="medium" type="ball-spin-clockwise"></ngx-spinner>
    <app-header-admin *ngIf="(loggedUser$ | async)?.roles[0] === 'Admin'"></app-header-admin>
    <app-header-internal-designer *ngIf="(loggedUser$ | async)?.roles[0] === 'InternalDesigner' || (loggedUser$ | async)?.roles[0] === 'ExternalDesigner'"></app-header-internal-designer>
    <ion-grid class="main-container">
      <p class="main-title mb-[34px] pl-2">{{client && !client?.moodboardOfferId ? ('MOODBOARDS.create-offer' | translate) : client && client?.moodboardOfferId ? ('MOODBOARDS.update-offer' | translate) : ('MOODBOARDS.add' | translate) }}</p>
      <ion-row class="mb-20">
        <ion-col size="12" size-xl="2.3">
          <div class="bg-light xl-ion:w-[240px]  rounded-lg text-center pb-1">
            <p *ngIf="client" [class.!text-primary]="clientRequestStep" (click)="clientRequestStep = true; currentStepNo = -1" class="side-menu-item pt-[45px]">
              {{client?.moodboard ? ('DESIGNERS.client-request' | translate) : ('DESIGNERS.client-details' | translate) }}
            </p>
            <p [class.!text-primary]="currentStepNo == 0" (click)="goToStep(0)" [class.disabled]="!canChangeToStep(0)" class="side-menu-item" [class]="client ? '' : 'pt-[45px]'">{{'NEW-PROJECT.room' | translate}}</p>
            <p [class.!text-primary]="currentStepNo == 1" (click)="goToStep(1)" [class.disabled]="!canChangeToStep(1)" class="side-menu-item">{{'NEW-PROJECT.style' | translate}}</p>
            <p [class.!text-primary]="currentStepNo == 2" (click)="goToStep(2)" [class.disabled]="!canChangeToStep(2)" class="side-menu-item">{{'NEW-PROJECT.materials' | translate}}</p>
            <p [class.!text-primary]="currentStepNo == 3" (click)="goToStep(3)" [class.disabled]="!canChangeToStep(3)" class="side-menu-item">{{'MY-INTIRI.colors' | translate}}</p>
            <p [class.!text-primary]="currentStepNo == 4" (click)="goToStep(4)" [class.disabled]="!canChangeToStep(4)" class="side-menu-item">{{'NEW-PROJECT.products' | translate}}</p>
            <p [class.!text-primary]="currentStepNo == 5" (click)="goToStep(5)" [class.disabled]="!canChangeToStep(5)" class="side-menu-item">{{'MOODBOARDS.moodboard-preview' | translate}}</p>
          </div>
        </ion-col>
        <ion-col *ngIf="clientRequestStep" size="12" offset-xl="0.5" size-xl="9">
            <app-client-request [client]="client" [includeClientDetails]="true"></app-client-request>
            <app-back backPath="/client-list"></app-back>
        </ion-col>
        <ion-col *ngIf="!clientRequestStep" size="12" offset-xl="0.5" size-xl="9">
          <app-add-moodboard-step
          (toggleSelection)="toggleItem($event)"
          [stepsOrder]="stepsOrder"
          [moodboard]="moodboard"
          [disabledSteps]="client?.moodboard || client?.moodboardOfferId ? [0, 1] : []"
          [currentStepNo]="currentStepNo"
          [currentStep]="steps[currentStepNo]"></app-add-moodboard-step>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!clientRequestStep">
        <ion-col class="fixed-bottom">
          <ion-buttons class="justify-center">
            <ion-button
              *ngIf="steps[currentStepNo]['data'] !== 'final'"
              class="secondary-btn"
              (click)="backStep()"
              [class.disabled]="!canChangeToStep(currentStepNo-1)"
              >{{'COMMON.back' | translate}}</ion-button
            >
            <ion-button
              *ngIf="steps[currentStepNo]['data'] !== 'final'"
              class="primary-btn"
              (click)="nextStep()"
              [class.disabled]="!canChangeToStep(currentStepNo+1)"
              >{{'COMMON.next' | translate}}</ion-button
            >
            <ion-button
              *ngIf="steps[currentStepNo]['data'] === 'final'"
              class="secondary-btn"
              (click)="cancel()"
              >{{'COMMON.cancel' | translate}}</ion-button
            >
            <ion-button
              *ngIf="steps[currentStepNo]['data'] === 'final' && !client"
              class="primary-btn"
              (click)="saveMoodboard()"
              >{{'MOODBOARDS.save' | translate}}</ion-button
            >
            <ion-button
              *ngIf="steps[currentStepNo]['data'] === 'final' && !!client"
              class="primary-btn"
              (click)="sendOffer()"
              >{{client.moodboardOfferId ? ('MOODBOARDS.update-offer' | translate) : ('MOODBOARDS.send-offer' | translate) }}</ion-button
            >
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
