<ion-content>
  <!-- first step of creating a project (start)-->
  <div *ngIf="start" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper"><div class="bg-plus h-[34px] w-[34px] mx-auto mt-[5px]"></div></div>
          <h2 class="mt-6 text-center text-2xl font-bold text-black-1">Let's create new project</h2>
          <p class="text-center text-base text-black-2">Name the project first.</p>
        </div>
        <form class="mt-8 space-y-6" action="#" method="POST">
          <input type="hidden" name="remember" value="true">
          <div class="rounded-md shadow-sm -space-y-px">
            <div>
              <label for="project-name" class="sr-only">Project name</label>
              <input id="project-name" name="email" type="email" autocomplete="email" [(ngModel)]="projectName" required class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-[8px] focus:outline-none focus:ring-primary focus:border-primary focus:z-10 sm:text-sm" placeholder="Project name">
            </div>
          </div>
          <ion-buttons class="justify-center">
            <ion-button  class="secondary-btn" (click)="dismiss()" routerLink="/my-intiri" routerDirection="root">Cancel</ion-button>
            <ion-button class="primary-btn" [class.disabled]="!isValidProjectName()" (click)="startProjectCreation()">Create</ion-button>
          </ion-buttons>
        </form>
      </div>
    </div>
  </div>
   <!-- last step of creating a project (final)-->
   <div *ngIf="final" class="bg-gray-500 justify-center items-center flex flex-col h-full">
    <div class="min-h-full min-w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-md w-full space-y-8">
        <div>
          <div class="plus-icon-wrapper !pt-[8px] !pl-[12px]"><ion-icon class="text-primary h-[34px] w-[34px] mx-auto mt-[5px]" name="bookmark"></ion-icon></div>
          <h2 class="mt-6 text-center text-2xl font-bold text-black-1">Saved!</h2>
          <p *ngIf="!existing" class="text-center text-base text-black-2">Your project <span class="font-medium">{{project.name}}</span> and first moodboard are saved. You can add new moodboard to the same project or review it.</p>
          <p *ngIf="existing" class="text-center text-base text-black-2">You have successfully added new moodboard to project <span class="font-medium">{{project.name}}</span>. You can now add new moodboard to the same project or review it.</p>
        </div>
          <ion-buttons class="justify-center">
            <ion-button  class="secondary-btn" (click)="dismiss()" routerLink="/my-intiri" routerDirection="root">Go to project</ion-button>
            <ion-button class="primary-btn" (click)="addNewMoodboard()">Add new moodboard</ion-button>
          </ion-buttons>
          <p class="text-primary text-center cursor-pointer hover:opacity-80" [class.disabled]="true"><ion-icon class="text-xl relative top-[6px] mr-2" name="share-social"></ion-icon>Share via email</p>
      </div>
    </div>
  </div>
</ion-content>
