<!-- Admin view -->

<!-- Client view -->
<ion-card
  #ClientCard
  id="ClientCard"
  *ngIf="(loggedUser$ | async)?.roles[0] === 'FreeEndUser'"
  class="card border shadow-1 rounded-2xl w-full m-0 p-4"
>
  <div class="moodboard-grid h-[593px]">
    <div
      *ngFor="let slotInfo of moodboardMaterials; let index = index"
      [style]="'grid-area: mat' + (index + 1)"
      id="slot-{{ slotInfo.slotKey }}"
      (dragover)="allowDrop($event)"
      (drop)="onDrop($event, slotInfo.slotKey)"
    >
      <img
        *ngIf="slotInfo.slotValue.entityImagePath"
        [src]="slotInfo.slotValue.entityImagePath"
        id="slot-{{ slotInfo.slotKey }}-img"
        (draggable)="isItemDragAndDroppable()"
        (dragstart)="dragStart($event, slotInfo.slotKey)"
        [matTooltip]="getToolTipMoodboardItem(slotInfo.slotKey)"
        (click)="redirectToEntityPartnerLink(slotInfo.slotKey)"
        (mousedown)="onMouseDown($event, slotInfo.slotKey)"
        (mouseup)="onMouseUp($event, slotInfo.slotKey)"
        (mousemove)="onMouseMove($event, slotInfo.slotKey)"
        (wheel)="onMouseWheel($event, slotInfo.slotKey)"
      />
    </div>
    <div
      *ngFor="
        let slotInfo of moodboardProductsAndStyleImages;
        let index = index
      "
      [style]="'grid-area: inspo' + (index + 1)"
    >
      <img
        *ngIf="slotInfo.slotValue.entityImagePath"
        [src]="slotInfo.slotValue.entityImagePath"
        id="slot-{{ slotInfo.slotKey }}-img"
        [ngClass]="{ 'hide-on-mobile': index >= 4 }"
        (draggable)="isItemDragAndDroppable()"
        (dragstart)="dragStart($event, slotInfo.slotKey)"
        [matTooltip]="getToolTipMoodboardItem(slotInfo.slotKey)"
        (click)="redirectToEntityPartnerLink(slotInfo.slotKey)"
        (mousedown)="onMouseDown($event, slotInfo.slotKey)"
        (mouseup)="onMouseUp($event, slotInfo.slotKey)"
        (mousemove)="onMouseMove($event, slotInfo.slotKey)"
        (wheel)="onMouseWheel($event, slotInfo.slotKey)"
      />
    </div>
    <div
      *ngFor="let slotInfo of moodboardColors; let index = index"
      [style]="'grid-area: color' + (index + 1)"
    >
      <img
        *ngIf="slotInfo.slotValue.entityImagePath"
        [src]="slotInfo.slotValue.entityImagePath"
        id="slot-{{ slotInfo.slotKey }}-img"
        (draggable)="isItemDragAndDroppable()"
        (dragstart)="dragStart($event, slotInfo.slotKey)"
        [matTooltip]="getToolTipMoodboardItem(slotInfo.slotKey)"
        (click)="redirectToEntityPartnerLink(slotInfo.slotKey)"
        (mousedown)="onMouseDown($event, slotInfo.slotKey)"
        (mouseup)="onMouseUp($event, slotInfo.slotKey)"
        (mousemove)="onMouseMove($event, slotInfo.slotKey)"
        (wheel)="onMouseWheel($event, slotInfo.slotKey)"
      />
    </div>
  </div>
</ion-card>

<div
  *ngIf="(loggedUser$ | async)?.roles[0] === 'FreeEndUser'"
  class="mt-16 xl:text-left"
>
  <p class="text-black-2 text-2xl font-medium">
    {{ "MOODBOARD-DETAILS.included" | translate }}
    {{
      showLoader
        ? "(" + ("MOODBOARD-DETAILS.shopping-list-loading" | translate) + ")"
        : null
    }}
  </p>
  <mat-spinner class="spinner" *ngIf="showLoader"></mat-spinner>
  <ion-grid class="step-items" *ngIf="!showLoader">
    <ion-row class="step-items-row">
      <ion-col
        *ngFor="let item of (itemsInMoodboard$ | async)?.products"
        size="12"
        size-sm="5.8"
        size-lg="2.7"
        size-xl="2.2"
        class="w-full h-[130px] lg:h-[180px] mb-16 p-0"
        [class.bigger-margin]="item.name"
      >
        <div class="w-full h-full rounded-2xl">
          <img
            *ngIf="item?.imagePath"
            src="{{ item.imagePath }}"
            (click)="openImageInModal(item, item.name)"
            class="product-image cursor-pointer"
            alt="product-image"
            (draggable)="isItemDragAndDroppable()"
            (dragstart)="
              dragStart(
                $event,
                'product__' + item.name + '__' + item.id + '__' + item.imagePath
              )
            "
            [matTooltip]="getToolTipShoppingList('product', item)"
          />
        </div>
        <p
          *ngIf="!item.number && item.name"
          class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1"
        >
          {{ item.name }}
        </p>
      </ion-col>
      <ion-col
        *ngFor="let item of (itemsInMoodboard$ | async)?.styleImages"
        size="12"
        size-sm="5.8"
        size-lg="2.7"
        size-xl="2.2"
        class="w-full h-[130px] lg:h-[180px] mb-16 p-0"
        [class.bigger-margin]="item?.name"
      >
        <div class="w-full h-full rounded-2xl">
          <img
            *ngIf="item?.imagePath"
            src="{{ item.imagePath }}"
            (click)="openImageInModal(item)"
            [matTooltip]="getToolTipShoppingList('inspirationalPhoto', item)"
            class="product-image cursor-pointer"
            alt="inspirationalPhotos-image"
            (draggable)="isItemDragAndDroppable()"
            (dragstart)="
              dragStart(
                $event,
                'styleImages__' +
                  item.styleName +
                  '__' +
                  item.id +
                  '__' +
                  item.imagePath
              )
            "
          />
        </div>
        <p
          *ngIf="item.styleName"
          class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1"
        >
          {{ item.styleName }}
        </p>
      </ion-col>
      <ion-col
        *ngFor="let item of (itemsInMoodboard$ | async)?.materials"
        size="12"
        size-sm="5.8"
        size-lg="2.7"
        size-xl="2.2"
        class="w-full h-[130px] lg:h-[180px] mb-16 p-0"
        [class.bigger-margin]="item?.name"
      >
        <img
          *ngIf="item?.imagePath"
          src="{{ item.imagePath }}"
          (click)="openImageInModal(item)"
          class="material-image cursor-pointer"
          alt="material-image"
          (draggable)="isItemDragAndDroppable()"
          (dragstart)="
            dragStart(
              $event,
              'material__' + item.name + '__' + item.id + '__' + item.imagePath
            )
          "
          [matTooltip]="getToolTipShoppingList('material', item)"
        />
        <p
          *ngIf="!item.number && item.name"
          class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1"
        >
          {{ item.name }}
        </p>
      </ion-col>
      <ion-col
        *ngFor="let item of (itemsInMoodboard$ | async)?.colorPalettes"
        size="12"
        size-sm="5.8"
        size-lg="2.7"
        size-xl="2.2"
        class="w-full h-[130px] lg:h-[180px] mb-16 p-0"
        [class.bigger-margin]="item?.name"
      >
        <div class="palette-container">
          <div
            *ngIf="item.mainColorData"
            class="grid-item mainColor"
            [ngStyle]="{
              'background-image': 'url(' + item.mainColorData?.imagePath + ')'
            }"
            [matTooltip]="item.mainColorData.name"
            (click)="redirectToColorsPartner()"
          ></div>
          <div
            *ngIf="item.shadeColorLightData"
            class="grid-item shadeColorLight"
            [ngStyle]="{
              'background-image':
                'url(' + item.shadeColorLightData?.imagePath + ')'
            }"
            [matTooltip]="item.shadeColorLightData.name"
            (click)="redirectToColorsPartner()"
          ></div>
          <div
            *ngIf="item.shadeColorMediumData"
            class="grid-item shadeColorMedium"
            [ngStyle]="{
              'background-image':
                'url(' + item.shadeColorMediumData?.imagePath + ')'
            }"
            [matTooltip]="item.shadeColorMediumData.name"
            (click)="redirectToColorsPartner()"
          ></div>
          <div
            *ngIf="item.shadeColorDarkData"
            class="grid-item shadeColorDark"
            [ngStyle]="{
              'background-image':
                'url(' + item.shadeColorDarkData?.imagePath + ')'
            }"
            [matTooltip]="item.shadeColorDarkData.name"
            (click)="redirectToColorsPartner()"
          ></div>
        </div>
        <p
          *ngIf="!item.number && item.name"
          class="font-bold mt-2 text-black-2 text-clamp-2 pr-1"
        >
          {{ item.name }}
        </p>
        <p
          *ngIf="item.number && item.name"
          class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1"
        >
          {{ item.number }} <span class="font-normal">/ {{ item.name }}</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
