<ion-card class="card border shadow-1 rounded-2xl w-full  h-[581px] mac:h-[610px] m-0 mt-7 p-4">
  <div class="grid-container">
    <div class="grid-item grid-item-1">
      <div class="top-section">
        <div class="material" [ngStyle]="{'background-image':' url(' + moodboard?.materials[0]?.imagePath + ')'}"></div>
        <div class="image-input-1" (dragover)="allowDrop($event)" (drop)="onDrop($event, 1)">
          <label for="dropzone-file">
            <div class="h-[100%] w-[100%] rounded-2xl hover:opacity-70 cursor-pointer" *ngIf="!imagePaths[1]">
            </div>
            <img
              *ngIf="imagePaths[1]"
              [src]="imagePaths[1]"
              class="object-cover h-[100%] w-[100%] max-h-[17rem] max-w-[22rem]"
              alt="image-input-1"
              draggable="true"
              (dragstart)="dragStart($event, 1)"
            />
            <input (change)="onFileChange($event, 1)" id="dropzone-file" type="file" class="hidden" accept="image/png, image/gif, image/jpeg, image/webp, image/jpg"/>
          </label>
        </div>
        <div class="image-input-2" (dragover)="allowDrop($event)" (drop)="onDrop($event, 2)">
          <label for="dropzone-file-2">
            <div class="h-[100%] w-[100%] rounded-2xl hover:opacity-70 cursor-pointer" *ngIf="!imagePaths[2]">
            </div>
            <img
              draggable="true"
              *ngIf="imagePaths[2]"
              [src]="imagePaths[2]"
              class="object-cover h-full w-full"
              alt="image-input-2"
              (dragstart)="dragStart($event, 2)"
            />
            <input (change)="onFileChange($event, 2)" id="dropzone-file-2" type="file" class="hidden" accept="image/png, image/gif, image/jpeg, image/webp, image/jpg"/>
          </label>
        </div>
        <div class="material" [ngStyle]="{'background-image':' url(' + moodboard?.materials[1]?.imagePath + ')'}"></div>
        <div class="material" [ngStyle]="{'background-image':' url(' + moodboard?.materials[2]?.imagePath + ')'}"></div>
      </div>
      <div class="bottom-section">
        <div class="image-input-3"  (dragover)="allowDrop($event)" (drop)="onDrop($event, 3)">
          <label for="dropzone-file-3">
            <div class="h-[100%] w-[100%] rounded-2xl hover:opacity-70 cursor-pointer" *ngIf="!imagePaths[3]">
            </div>
            <img
              *ngIf="imagePaths[3]"
              [src]="imagePaths[3]"
              class="object-cover h-[100%] w-[100%] max-h-[17rem] max-w-[24rem]"
              alt="image-input-3"
              draggable="true"
              (dragstart)="dragStart($event, 3)"
            />
            <input (change)="onFileChange($event, 3)" id="dropzone-file-3" type="file" class="hidden" accept="image/png, image/gif, image/jpeg, image/webp, image/jpg"/>
          </label>
        </div>
        <div class="image-input-4"  (dragover)="allowDrop($event)" (drop)="onDrop($event, 4)">
          <label for="dropzone-file-4">
            <div class="h-[100%] w-[100%] rounded-2xl hover:opacity-70 cursor-pointer" *ngIf="!imagePaths[4]">
            </div>
            <img
              *ngIf="imagePaths[4]"
              [src]="imagePaths[4]"
              class="object-cover h-full max-h-[8rem] w-full"
              alt="image-input-4"
              draggable="true"
              (dragstart)="dragStart($event, 4)"
            />
            <input (change)="onFileChange($event, 4)" id="dropzone-file-4" type="file" class="hidden" accept="image/png, image/gif, image/jpeg, image/webp, image/jpg"/>
          </label>
        </div>
        <div class="image-input-5"  (dragover)="allowDrop($event)" (drop)="onDrop($event, 5)">
          <label for="dropzone-file-5">
            <div class="h-[100%] w-[100%] rounded-2xl hover:opacity-70 cursor-pointer" *ngIf="!imagePaths[5]">
            </div>
            <img
              *ngIf="imagePaths[5]"
              [src]="imagePaths[5]"
              class="object-cover h-[100%] max-h-[17rem] w-full"
              alt="image-input-5"
              draggable="true"
              (dragstart)="dragStart($event, 5)"
            />
            <input (change)="onFileChange($event, 5)" id="dropzone-file-5" type="file" class="hidden" accept="image/png, image/gif, image/jpeg, image/webp, image/jpg"/>
          </label>
        </div>
        <div class="image-input-6"  (dragover)="allowDrop($event)" (drop)="onDrop($event, 6)">
          <label for="dropzone-file-6">
            <div class="h-[100%] w-[100%] rounded-2xl hover:opacity-70 cursor-pointer" *ngIf="!imagePaths[6]">
            </div>
            <img
              *ngIf="imagePaths[6]"
              [src]="imagePaths[6]"
              class="object-cover h-full max-h-[8rem] w-full"
              alt="image-input-6"
              draggable="true"
              (dragstart)="dragStart($event, 6)"
            />
            <input (change)="onFileChange($event, 6)" id="dropzone-file-6" type="file" class="hidden" accept="image/png, image/gif, image/jpeg, image/webp, image/jpg"/>
          </label>
        </div>
      </div>
    </div>

    <!-- Products -->
    <div class="grid-item products-container">
      <div class="product" (dragover)="allowDrop($event)" (drop)="onDrop($event, 7)">
        <img
          *ngIf="imagePaths[7]"
          [src]="imagePaths[7]"
          class="object-cover h-[100%] w-[100%] max-w-[100%]"
          draggable="true"
          (dragstart)="dragStart($event, 7)"
        />
      </div>
      <div class="product" (dragover)="allowDrop($event)" (drop)="onDrop($event, 8)">
        <img
        *ngIf="imagePaths[8]"
        [src]="imagePaths[8]"
        class="object-cover h-[100%] w-[100%] max-w-[100%]"
        draggable="true"
        (dragstart)="dragStart($event, 8)"
      />
      </div>
      <div class="product" (dragover)="allowDrop($event)" (drop)="onDrop($event, 9)">
        <img
          *ngIf="imagePaths[9]"
          [src]="imagePaths[9]"
          class="object-cover h-[100%] w-[100%] max-w-[100%]"
          draggable="true"
          (dragstart)="dragStart($event, 9)"
        />
      </div>
    </div>

    <!-- Colors -->
    <div class="grid-item colors-container">
      <div class="color" [ngStyle]="{background: moodboard?.colorPalettes[0]?.shadeColorLight}"></div>
      <div class="color" [ngStyle]="{background: moodboard?.colorPalettes[0]?.shadeColorMedium}"></div>
      <div class="color" [ngStyle]="{background: moodboard?.colorPalettes[moodboard?.colorPalettes.length-1]?.mainColor}"></div>
      <div class="color" [ngStyle]="{background: moodboard?.colorPalettes[0]?.shadeColorDark}"></div>
    </div>
  </div>
</ion-card>

<!-- List included items -->
<div *ngIf="!bigCardOnly" class="mt-16 xl:text-left">
  <div class="flex justify-between items-center mb-6">
    <p class="text-black-2 text-2xl font-medium">{{'MOODBOARD-DETAILS.included' | translate}}</p>
    <div *ngIf="withSlides && slides && slides['el']['swiper']?.currentBreakpoint && moodboard?.colorPalettes.length + moodboard?.materials.length + moodboard?.products.length > options.breakpoints[slides['el']['swiper'].currentBreakpoint].slidesPerView">
      <ion-button fill="clear" class="text-black hover:opacity-50" (click)="prev()">
        <ion-icon name="arrow-back" class="h-6 w-6"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="text-black hover:opacity-50" (click)="next()">
        <ion-icon name="arrow-forward" class="h-6 w-6"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-grid *ngIf="!withSlides" class="step-items">
    <ion-row class="step-items-row">
      <ion-col *ngFor="let item of moodboard?.colorPalettes" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
        <div *ngIf="item.mainColor" class="h-full w-full rounded-sm p-0" >
          <div class="w-full h-full inline-block rounded-xl" [ngStyle]="{background: item.mainColor}"></div>
        </div>
        <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">{{item.name}} </p>
        <p *ngIf="item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.number}} <span class="font-normal">/ {{item.name}}</span></p>
      </ion-col>
      <ion-col *ngFor="let item of moodboard?.materials" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
        <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="material-image cursor-pointer" alt="style-img"/>
        <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
      </ion-col>
      <ion-col *ngFor="let item of moodboard?.products" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
        <div class="w-full h-full bg-white rounded-2xl">
          <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="product-image cursor-pointer" alt="style-img"/>
        </div>
        <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides *ngIf="withSlides" #slides [options]="options" class="py-4 pr-4 w-full">
      <ion-slide *ngFor="let item of moodboard?.colorPalettes" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
        <div *ngIf="item.mainColor" class="h-full w-full rounded-sm p-0" >
          <div class="w-full h-full inline-block rounded-xl" [ngStyle]="{background: item.mainColor}"></div>
        </div>
        <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">{{item.name}} </p>
        <p *ngIf="item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.number}} <span class="font-normal">/ {{item.name}}</span></p>
      </ion-slide>
      <ion-slide *ngFor="let item of moodboard?.materials" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
        <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="step-image" alt="style-img"/>
        <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
      </ion-slide>
      <ion-slide *ngFor="let item of moodboard?.products" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
        <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="step-image" alt="style-img"/>
        <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
      </ion-slide>
  </ion-slides>
</div>
