<ion-card class="border shadow-1 rounded-2xl w-full  h-[410px] mac:h-[610px] m-0 mt-7 p-4">
      <div class="result-grid">
        <div class="item-sm border border-light" [ngStyle]="{background: moodboard?.colorPalettes[0]?.shadeColorLight}"></div>
        <div class="item-lg border border-light">
          <img [src]="moodboard.products[0]?.imagePath" class="object-contain"/>
        </div>
        <div class="item-lg border border-light">
          <img [src]="moodboard.products[1]?.imagePath" class="object-contain"/>
        </div>
        <div class="item-lg-tall border border-light">
          <img [src]="moodboard?.style.imagePath" class="object-contain"/>
        </div>
        <div class="item-sm border border-light" [ngStyle]="{background: moodboard?.colorPalettes[0]?.shadeColorMedium}"></div>
        <div class="item-sm border border-light" [ngStyle]="{background: moodboard?.colorPalettes[0]?.shadeColorDark}"></div>
        <div class="item-sm-tall border border-light" [ngStyle]="{background: moodboard?.colorPalettes[moodboard?.colorPalettes.length-1]?.mainColor}"></div>
        <div class="item-lg border border-light">
          <img [src]="moodboard?.style.styleImages[1]?.imagePath" class="object-contain"/>
        </div>
        <div class="item-md border border-light">
          <img [src]="moodboard?.materials[0]?.imagePath" class="object-fill"/>
        </div>
        <div class="item-md border border-light">
          <img [src]="moodboard?.materials[1]?.imagePath" class="object-fill"/>
        </div>
        <div class="item-md border border-light">
          <img [src]="moodboard?.materials[2]?.imagePath" class="object-fill"/>
        </div>
        <div class="item-md border border-light">
          <img [src]="moodboard?.materials[3]?.imagePath" class="object-fill"/>
        </div>
      </div>
  </ion-card>
  <div *ngIf="!bigCardOnly" class="mt-16 xl:text-left">
    <div class="flex justify-between items-center mb-6">
      <p class="text-black-2 text-2xl font-medium">{{'MOODBOARD-DETAILS.included' | translate}}</p>
      <div *ngIf="withSlides && slides && slides['el']['swiper']?.currentBreakpoint && moodboard?.colorPalettes.length + moodboard?.materials.length + moodboard?.products.length > options.breakpoints[slides['el']['swiper'].currentBreakpoint].slidesPerView">
        <ion-button fill="clear" class="text-black hover:opacity-50" (click)="prev()">
          <ion-icon name="arrow-back" class="h-6 w-6"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="text-black hover:opacity-50" (click)="next()">
          <ion-icon name="arrow-forward" class="h-6 w-6"></ion-icon>
        </ion-button>
      </div>
    </div>
    <ion-grid *ngIf="!withSlides" class="step-items">
      <ion-row class="step-items-row">
        <ion-col *ngFor="let item of moodboard?.colorPalettes" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
          <div *ngIf="item.mainColor" class="h-full w-full rounded-sm p-0" >
            <div class="w-full h-full inline-block rounded-xl" [ngStyle]="{background: item.mainColor}"></div>
          </div>
          <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">{{item.name}} </p>
          <p *ngIf="item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.number}} <span class="font-normal">/ {{item.name}}</span></p>
        </ion-col>
        <ion-col *ngFor="let item of moodboard?.materials" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
          <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="step-image cursor-pointer" alt="style-img"/>
          <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
        </ion-col>
        <ion-col *ngFor="let item of moodboard?.products" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
          <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="step-image cursor-pointer" alt="style-img"/>
          <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-slides *ngIf="withSlides" #slides [options]="options" class="py-4 pr-4 w-full">
        <ion-slide *ngFor="let item of moodboard?.colorPalettes" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
          <div *ngIf="item.mainColor" class="h-full w-full rounded-sm p-0" >
            <div class="w-full h-full inline-block rounded-xl" [ngStyle]="{background: item.mainColor}"></div>
          </div>
          <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-clamp-2 pr-1">{{item.name}} </p>
          <p *ngIf="item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.number}} <span class="font-normal">/ {{item.name}}</span></p>
        </ion-slide>
        <ion-slide *ngFor="let item of moodboard?.materials" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
          <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="step-image" alt="style-img"/>
          <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
        </ion-slide>
        <ion-slide *ngFor="let item of moodboard?.products" size="12" size-sm="5.8" size-lg="2.7" size-xl="2.2" class="w-full h-[130px] lg:h-[180px] mb-16 p-0" [class.bigger-margin]="item.name">
          <img *ngIf="item.imagePath" src="{{item.imagePath}}" (click)="openImageInModal(item)" class="step-image" alt="style-img"/>
          <p *ngIf="!item.number && item.name" class="font-bold mt-2 text-black-2 text-[18px] text-clamp-2 pr-1">{{item.name}} </p>
        </ion-slide>
    </ion-slides>
  </div>
