.result-grid {
  @apply grid grid-cols-13 gap-3 grid-flow-row-dense;
}
.step-items-row {
  @apply gap-x-[2%];
}

.step-items {
  @apply max-h-[750px] overflow-auto mb-3;
}

.step-image {
  @apply object-fill h-full w-full rounded-2xl;
}

.material-image {
  @apply object-cover h-full w-full rounded-2xl;
}

.product-image {
  @apply object-cover h-full w-full rounded-2xl;
}

p {
  @apply text-left;
}

.card {
  background: #D9D9D9;
  margin-top: 2.6rem;
  .grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr 0.5fr;
    row-gap: 10px;
    column-gap: 15px;
    background: #D9D9D9;

    .grid-item-1 {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 10px;

      .top-section {
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 15px;
        row-gap: 10px;

        .material {
          background-color: #fff;
          height: 5.3rem;
          position: relative;
          text-align: center;
          overflow: hidden;
          box-sizing: border-box;
        }

        .image-input-1 {
          background-color: #fff;
          grid-row: span 3;
          height: 17.2rem;
          position: relative;
          text-align: center;
          overflow: hidden;
          box-sizing: border-box;
        }

        .image-input-2 {
          background-color: #fff;
          grid-row: span 3;
          height: 17.2rem;
          position: relative;
          text-align: center;
          overflow: hidden;
          box-sizing: border-box;
        }
      }

      .bottom-section {
        // background-color: #fc3;
        display: grid;
        grid-template-columns: 2.67fr 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;

        .image-input-3 {
          background-color: #fff;
          grid-row: span 2;
          height: 17.2rem;
          position: relative;
          text-align: center;
          overflow: hidden;
          box-sizing: border-box;
        }
        .image-input-4 {
          background-color: #fff;
          height: 8.3rem;
          position: relative;
          text-align: center;
          overflow: hidden;
          box-sizing: border-box;
        }
        .image-input-5 {
          background-color: #fff;
          grid-row: span 2;
          height: 17.2rem;
          position: relative;
          text-align: center;
          overflow: hidden;
          box-sizing: border-box;
        }
        .image-input-6 {
          background-color: #fff;
          height: 8rem;
          position: relative;
          text-align: center;
          overflow: hidden;
          box-sizing: border-box;
        }
      }
    }

    .products-container {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 12px;

      .product {
        height: 100%;
        width: 100%;
        background: #fff;
        max-height: 11rem;
        position: relative;
        text-align: center;
        overflow: hidden;
        box-sizing: border-box;
      }
    }

    .colors-container {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      row-gap: 15px;

      .color {
        height: 100%;
        width: 100%;
        background-size: cover !important;
        background: #fff;
      }

      .color-4 {
        height: 7.8rem;
      }
    }
  }
}

.crop-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.done-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slot-image-style {
  @apply cursor-pointer;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.primary-btn-custom {
  @apply hover:opacity-80 bg-primary text-white normal-case px-4 tracking-normal;
  height: 22px;
  font-weight: 100;
  font-size: 12px;
  width: 56px;
  margin-left: 5px;
  border-radius: 8px;
}

.palette-container {
  height: 15rem;
  width: 26rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;

  .mainColor {
    grid-row: span 3;
    border-radius: 0.2rem;
  }

  .shadeColorLight {
    grid-column: span 1;
    border-radius: 0.2rem;
  }

  .shadeColorMedium {
    grid-column: span 1;
    border-radius: 0.2rem;
  }

  .shadeColorDark {
    grid-column: span 1;
    border-radius: 0.2rem;
  }
}

.spinner {
  margin: 4rem auto auto auto;
}
