.card {
  background: #d9d9d9;

  max-width: 1400px; // To account for big screens

  .moodboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      "mat1 mat1 mat1 inspo1 inspo1 inspo1 inspo1 inspo4 inspo4 inspo5 inspo5 color1"
      "mat1 mat1 mat1 inspo1 inspo1 inspo1 inspo1 inspo4 inspo4 inspo5 inspo5 color1"
      "mat2 mat2 mat2 inspo1 inspo1 inspo1 inspo1 inspo4 inspo4 inspo5 inspo5 color1"
      "mat2 mat2 mat2 inspo1 inspo1 inspo1 inspo1 inspo4 inspo4 inspo5 inspo5 color2"
      "mat3 mat3 mat3 inspo1 inspo1 inspo1 inspo1 inspo4 inspo4 inspo6 inspo6 color2"
      "mat3 mat3 mat3 inspo1 inspo1 inspo1 inspo1 inspo4 inspo4 inspo6 inspo6 color2"
      "inspo2 inspo2 inspo2 inspo2 inspo8 inspo8 inspo3 inspo3 inspo3 inspo6 inspo6 color3"
      "inspo2 inspo2 inspo2 inspo2 inspo8 inspo8 inspo3 inspo3 inspo3 inspo6 inspo6 color3"
      "inspo2 inspo2 inspo2 inspo2 inspo8 inspo8 inspo3 inspo3 inspo3 inspo7 inspo7 color3"
      "inspo2 inspo2 inspo2 inspo2 inspo9 inspo9 inspo3 inspo3 inspo3 inspo7 inspo7 color4"
      "inspo2 inspo2 inspo2 inspo2 inspo9 inspo9 inspo3 inspo3 inspo3 inspo7 inspo7 color4"
      "inspo2 inspo2 inspo2 inspo2 inspo9 inspo9 inspo3 inspo3 inspo3 inspo7 inspo7 color4";

    gap: 10px;

    @media (max-width: 700px) {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);

      grid-template-areas:
        "mat1 mat1 mat1 mat1 inspo1 inspo1 inspo1 inspo1"
        "mat2 mat2 mat2 mat2 inspo1 inspo1 inspo1 inspo1"
        "mat3 mat3 mat3 mat3 inspo1 inspo1 inspo1 inspo1"
        "inspo2 inspo2 inspo2 inspo2 inspo2 inspo2 inspo2 inspo2"
        "inspo2 inspo2 inspo2 inspo2 inspo2 inspo2 inspo2 inspo2"
        "inspo3 inspo3 inspo3 inspo3 inspo4 inspo4 inspo4 inspo4"
        "inspo3 inspo3 inspo3 inspo3 inspo4 inspo4 inspo4 inspo4"
        "inspo3 inspo3 inspo3 inspo3 color1 color2 color3 color4";

      margin-right: -20px; // To account for gap added by hidden elements
      margin-bottom: -20px; // To accoiunt for gap added by hidden elements

      .hide-on-mobile {
        display: none;
      }
    }

    div {
      overflow: hidden;
    }

    div > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
